Realizar un análisis y comparación de las tres tablas que has extraído: una tabla con datos de viajeros y pernoctaciones por provincias, otra con datos climáticos por provincias y otra con datos de población por provincias. Esto te permitirá realizar análisis y obtener información interesante al cruzar estos datos.

Primero importaré los datos en este nuevo JN desde los tres JN originales:

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
viajeros= pd.read_csv('export/viajeros.csv')
pernoctaciones= pd.read_csv('export/pernoctaciones.csv')

## Exploración inicial

In [14]:
viajeros = viajeros.fillna('-')

In [15]:
pernoctaciones = viajeros.fillna('-')

In [9]:
viajeros = viajeros.rename(columns=lambda x: f"Viajeros_{x}" if x != 'Periodo' else x)

'''
Si el nombre de la columna (x) no es igual a 'Periodo', agrega el prefijo "Viajeros_" al 
nombre original (x) utilizando una f-string (f"Viajeros_{x}"). Esto significa que todas 
las columnas, excepto 'Periodo', obtendrán un prefijo "Viajeros_" en sus nombres.
'''

pernoctaciones = pernoctaciones.rename(columns=lambda x: f"Pernoctaciones_{x}" if x != 'Periodo' else x)

In [12]:
ine_22 = pd.concat([viajeros, pernoctaciones], axis=1)
ine_22.head()

,Periodo,Viajeros_Viajeros_2022M01,Viajeros_Viajeros_2022M01.1,Viajeros_Viajeros_2022M02,Viajeros_Viajeros_2022M02.1,Viajeros_Viajeros_2022M03,Viajeros_Viajeros_2022M03.1,Viajeros_Viajeros_2022M04,Viajeros_Viajeros_2022M04.1,Viajeros_Viajeros_2022M05,...,Pernoctaciones_Pernoctaciones_2022M08,Pernoctaciones_Pernoctaciones_2022M08.1,Pernoctaciones_Pernoctaciones_2022M09,Pernoctaciones_Pernoctaciones_2022M09.1,Pernoctaciones_Pernoctaciones_2022M10,Pernoctaciones_Pernoctaciones_2022M10.1,Pernoctaciones_Pernoctaciones_2022M11,Pernoctaciones_Pernoctaciones_2022M11.1,Pernoctaciones_Pernoctaciones_2022M12,Pernoctaciones_Pernoctaciones_2022M12.1
0,Residencia_Nivel_2,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,...,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero,Residentes en Espana,Residentes en el Extranjero
1,Provincias,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,A CORUÑA,51.283,10.804,72.223,13.320,82.649,24.794,119.875,57.536,119.893,...,232.843,80.681,150.900,105.761,131.666,94.199,94.029,28.034,79.982,18.050
3,ALBACETE,15.963,1.525,20.754,2.755,25.686,2.440,33.808,3.040,31.837,...,33.219,4.218,34.265,3.715,32.825,3.847,26.850,3.848,23.932,2.356
4,ALICANTE,75.778,49.765,133.494,78.422,135.526,124.360,221.231,168.677,209.441,...,341.418,219.568,209.071,210.661,186.149,187.378,169.490,123.020,163.532,97.349