# API(AEMET)

La API de la Agencia Estatal de Meteorología (AEMET) es esencial para enriquecer la tabla que ya tengo tratada del INE debido a su capacidad para proporcionar datos climáticos precisos y actualizados. Estos datos permiten comprender cómo las condiciones climáticas influyen en los patrones de turismo y pernoctaciones, y son fundamentales para la planificación, toma de decisiones y análisis más profundos en el sector turístico y otros campos relacionados.

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
import numpy as np
from pymongo import MongoClient

In [3]:
# utilizo un token de autorización guardado en un archivo para acceder a la API de manera segura y obtener datos climáticos actualizados
aemet = os.getenv("api")

with open('../api.txt', 'r') as file: 
    
    token = file.read()

header = {'Authorization': f"password {token}"}

Voy a extraer los datos mes a mes por diferentes ventajas:
- Granularidad de datos
- Mantenimiento de los datos
- Organización y gestión
- Análisis y comparación más preciso

## Enero 22

In [4]:
#Realizo solicitu GET a la API para obtener los datos diarios de enero 2022 de todas las estaciones.
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-01-01T00%3A00%3A00UTC/fechafin/2022-01-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=header, params=querystring)
enero_datos= response.json()
print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b338cd98",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [5]:
#He comprobado que la solicitud ha sido exitosa por lo que hago una segunda solicitud para obtener los datos reales en la key "datos":
url_datos = enero_datos["datos"]
url_datos

'https://opendata.aemet.es/opendata/sh/b338cd98'

In [6]:
response_datos = requests.get(url_datos, headers=header)
response_datos

In [7]:
#Convierto la respuesta de la API en formato JSON y accedo a las keys del primer elemento:
datos_enero = response_datos.json()
datos_enero[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

A continuación, tranformo mi lista de dicc en un DataFrame para estructurar la información climática de manera ordenada y eficiente. Esto facilita la manipulación, análisis y visualización de los datos, permitiendo un acceso más rápido y preciso a la información clave, como las temperaturas medias, precipitaciones y fechas.

In [8]:
df_enero = pd.DataFrame(datos_enero)
df_enero.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-01-01,4358X,DON BENITO,BADAJOZ,273,"13,8","0,0","6,8",02:50,"20,8",15:30,08,"1,4","5,0",09:10,"8,2","996,3",23,"993,8",15
1,2022-01-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,8","0,5","0,8",06:30,"20,8",15:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"19,9","0,0","15,0",08:01,"24,8",11:06,11,"2,8","7,8",14:38,"7,2","954,7",Varias,"950,9",04
3,2022-01-01,6106X,ANTEQUERA,MALAGA,408,"12,6","0,0","5,8",23:50,"19,3",13:00,16,"1,1","9,7",12:10,NaN,"980,1",23,"977,5",Varias
4,2022-01-01,9698U,TALARN,LLEIDA,807,"10,4","0,0","5,0",07:20,"15,7",14:40,17,"1,1","3,3",12:20,NaN,NaN,NaN,NaN,NaN

Una vez en este punto, voy a quedarme con las columnas que necesito y tienen relevancia en mi análisis de turismo. Así simplificaré y optimizaré mi conjunto de datos. Beneficios:

- Reducción de dimensiones
- Mayor claridad
- Eficiencia en el almacenamiento
- Mayor precisión

In [9]:
columnas_interes = ['fecha', 'provincia', 'tmed', 'prec', 'sol', 'tmin', 'tmax']
df_enero = df_enero[columnas_interes]
df_enero.head()

        fecha              provincia  tmed prec  sol  tmin  tmax
0  2022-01-01                BADAJOZ  13,8  0,0  8,2   6,8  20,8
1  2022-01-01            CIUDAD REAL  10,8  0,5  NaN   0,8  20,8
2  2022-01-01  STA. CRUZ DE TENERIFE  19,9  0,0  7,2  15,0  24,8
3  2022-01-01                 MALAGA  12,6  0,0  NaN   5,8  19,3
4  2022-01-01                 LLEIDA  10,4  0,0  NaN   5,0  15,7

In [10]:
df_enero.shape

(7513, 7)

In [11]:
df_enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7513 entries, 0 to 7512
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      7513 non-null   object
 1   provincia  7513 non-null   object
 2   tmed       7301 non-null   object
 3   prec       7300 non-null   object
 4   sol        4303 non-null   object
 5   tmin       7302 non-null   object
 6   tmax       7304 non-null   object
dtypes: object(7)
memory usage: 411.0+ KB

In [12]:
#Realizo una serie de transformaciones en el DF " para reemplazar comas por puntos y convertir los valores en formato de cadena en números de punto flotante (float), además de reemplazar 'Ip' por NaN en la columna 'prec'.

df_enero['tmed'] = df_enero['tmed'].str.replace(',', '.').astype(float)
df_enero['prec'] = df_enero['prec'].replace('Ip', np.nan)
df_enero['prec'] = df_enero['prec'].str.replace(',', '.').astype(float)
df_enero['sol'] = df_enero['sol'].str.replace(',', '.').astype(float)
df_enero['tmin'] = df_enero['tmin'].str.replace(',', '.').astype(float)
df_enero['tmax'] = df_enero['tmax'].str.replace(',', '.').astype(float)

In [13]:
#Convierto la columna "fecha" en datetime:
df_enero['fecha'] = pd.to_datetime(df_enero['fecha'])

In [15]:
df_enero.head()

       fecha              provincia  tmed  prec  sol  tmin  tmax
0 2022-01-01                BADAJOZ  13.8   0.0  8.2   6.8  20.8
1 2022-01-01            CIUDAD REAL  10.8   0.5  NaN   0.8  20.8
2 2022-01-01  STA. CRUZ DE TENERIFE  19.9   0.0  7.2  15.0  24.8
3 2022-01-01                 MALAGA  12.6   0.0  NaN   5.8  19.3
4 2022-01-01                 LLEIDA  10.4   0.0  NaN   5.0  15.7

In [16]:
# Agrupo por provincia y calculo la media de cada columna:
enero = df_enero.groupby('provincia').agg({
    'tmed': 'mean',
    'prec': 'mean',
    'sol': 'mean',
    'tmin': 'mean',
    'tmax': 'mean'
}).reset_index()

# Renombro las columnas para mayor claridad
enero = enero.rename(columns={
    'tmed': 'media_tmed',
    'prec': 'media_prec',
    'sol': 'media_sol',
    'tmin': 'media_tmin',
    'tmax': 'media_tmax'
})

In [17]:
enero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,10.129289,1.503376,5.338356,6.190377,14.065272
1,ALBACETE,6.384677,0.045968,7.015385,0.026613,12.737097
2,ALICANTE,9.916129,0.433636,6.690323,3.551613,16.283065
3,ALMERIA,11.836585,0.116129,6.777419,7.021138,16.647967
4,ARABA/ALAVA,4.653226,2.538333,5.422581,-1.283871,10.593548
5,ASTURIAS,8.325740,1.619512,4.994170,4.604734,12.047041
6,AVILA,5.700000,0.184000,5.935484,-0.200000,11.592157
7,BADAJOZ,9.021505,0.143011,7.554545,2.715054,15.317742
8,BARCELONA,8.913333,0.241818,6.178378,3.700000,14.126061
9,BIZKAIA,8.689247,3.305691,4.803226,4.669892,12.700000
10,BURGOS,3.540645,0.644371,4.911382,-2.896774,9.967097
11,CACERES,8.376129,0.194839,8.050538,2.640000,14.117419
12,CADIZ,12.333180,0.375472,7.470000,8.201382,16.460369
13,CANTABRIA,7.795853,2.020465,4.838710,3.326267,12.261290
14,CASTELLON,6.636957,0.204065,7.301613,1.333696,11.947826
15,CEUTA,14.132258,0.896774,4.209677,12.177419,16.090323
16,CIUDAD REAL,6.016774,0.358065,7.228261,-1.006452,13.051613
17,CORDOBA,9.301613,0.164516,8.048387,3.418548,15.176613
18,CUENCA,6.204959,0.339785,6.900000,-1.230579,13.640496
19,GIPUZKOA,7.804839,4.122222,4.227957,3.731720,11.876344
20,GIRONA,4.854032,0.121951,6.417742,-2.511290,12.220161
21,GRANADA,7.366935,0.229348,6.837634,-0.236290,14.972581
22,GUADALAJARA,3.676344,0.297778,7.070652,-4.578495,11.931183
23,HUELVA,12.106452,0.114634,8.267742,6.637903,17.574194
24,HUESCA,5.123387,1.136585,6.018280,-0.963710,11.212903
25,ILLES BALEARS,9.731290,0.553716,6.100000,4.946774,14.509677
26,JAEN,8.695556,0.382090,7.024658,3.059259,14.332593
27,LA RIOJA,5.954839,0.389286,5.996774,0.645161,11.270968
28,LAS PALMAS,18.732407,0.482464,6.716304,15.665278,21.796759
29,LEON,3.984677,0.463115,6.192473,-1.967742,9.941935
30,LLEIDA,3.517857,1.418750,7.290323,-3.382143,10.422321
31,LUGO,6.467742,1.200000,4.935484,0.706452,12.222581
32,MADRID,5.046505,0.548673,7.096774,-0.461559,10.559140
33,MALAGA,12.677419,0.252973,3.612903,8.749032,16.601290
34,MELILLA,13.406452,0.096774,7.654839,10.200000,16.619355
35,MURCIA,10.192532,0.341971,6.510698,4.210065,16.216774
36,NAVARRA,5.594771,3.289610,6.277419,-0.186364,11.353896
37,OURENSE,6.264754,0.765574,5.069355,-0.586066,13.109836
38,PALENCIA,4.051613,0.334409,6.656452,-2.292473,10.388172
39,PONTEVEDRA,10.090164,2.787931,6.360345,5.331148,14.836066
40,SALAMANCA,4.542581,0.240000,7.016129,-1.946452,11.038710
41,SEGOVIA,3.374194,0.665574,5.260656,-0.675806,7.417742
42,SEVILLA,10.428387,0.109934,7.754839,3.800000,17.056129
43,SORIA,4.506452,0.120000,7.832258,-3.209677,12.229032
44,STA. CRUZ DE TENERIFE,17.092258,1.491419,6.403763,14.049032,20.135484
45,TARRAGONA,9.212903,0.109677,7.974194,2.456452,15.974194
46,TERUEL,4.880645,0.095935,7.529032,-2.441129,12.208065
47,TOLEDO,6.548571,0.220000,7.520000,-0.436190,13.532381
48,VALENCIA,9.852688,0.497297,7.054839,3.658065,16.045699
49,VALLADOLID,4.353226,0.256452,7.141935,-1.951613,10.659677
50,ZAMORA,4.131183,0.081720,6.480645,-2.850538,11.110753
51,ZARAGOZA,5.201290,0.489474,6.887097,-1.202581,11.609032

In [17]:
#eliminar ceuta y melilla
indices_a_eliminar = enero[enero['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Elimino las filas correspondientes a los índices encontrados
enero = enero.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
enero= enero.reset_index(drop=True)

In [18]:
#Agrego una columna nueva en mi DF enero para exportarlo correctamente en Mongo:
enero['mes'] = 'enero'
enero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax,mes
0,A CORUÑA,10.129289,1.503376,5.338356,6.190377,14.065272,enero
1,ALBACETE,6.384677,0.045968,7.015385,0.026613,12.737097,enero
2,ALICANTE,9.916129,0.433636,6.690323,3.551613,16.283065,enero
3,ALMERIA,11.836585,0.116129,6.777419,7.021138,16.647967,enero
4,ARABA/ALAVA,4.653226,2.538333,5.422581,-1.283871,10.593548,enero
5,ASTURIAS,8.325740,1.619512,4.994170,4.604734,12.047041,enero
6,AVILA,5.700000,0.184000,5.935484,-0.200000,11.592157,enero
7,BADAJOZ,9.021505,0.143011,7.554545,2.715054,15.317742,enero
8,BARCELONA,8.913333,0.241818,6.178378,3.700000,14.126061,enero
9,BIZKAIA,8.689247,3.305691,4.803226,4.669892,12.700000,enero
10,BURGOS,3.540645,0.644371,4.911382,-2.896774,9.967097,enero
11,CACERES,8.376129,0.194839,8.050538,2.640000,14.117419,enero
12,CADIZ,12.333180,0.375472,7.470000,8.201382,16.460369,enero
13,CANTABRIA,7.795853,2.020465,4.838710,3.326267,12.261290,enero
14,CASTELLON,6.636957,0.204065,7.301613,1.333696,11.947826,enero
15,CIUDAD REAL,6.016774,0.358065,7.228261,-1.006452,13.051613,enero
16,CORDOBA,9.301613,0.164516,8.048387,3.418548,15.176613,enero
17,CUENCA,6.204959,0.339785,6.900000,-1.230579,13.640496,enero
18,GIPUZKOA,7.804839,4.122222,4.227957,3.731720,11.876344,enero
19,GIRONA,4.854032,0.121951,6.417742,-2.511290,12.220161,enero
20,GRANADA,7.366935,0.229348,6.837634,-0.236290,14.972581,enero
21,GUADALAJARA,3.676344,0.297778,7.070652,-4.578495,11.931183,enero
22,HUELVA,12.106452,0.114634,8.267742,6.637903,17.574194,enero
23,HUESCA,5.123387,1.136585,6.018280,-0.963710,11.212903,enero
24,ILLES BALEARS,9.731290,0.553716,6.100000,4.946774,14.509677,enero
25,JAEN,8.695556,0.382090,7.024658,3.059259,14.332593,enero
26,LA RIOJA,5.954839,0.389286,5.996774,0.645161,11.270968,enero
27,LAS PALMAS,18.732407,0.482464,6.716304,15.665278,21.796759,enero
28,LEON,3.984677,0.463115,6.192473,-1.967742,9.941935,enero
29,LLEIDA,3.517857,1.418750,7.290323,-3.382143,10.422321,enero
30,LUGO,6.467742,1.200000,4.935484,0.706452,12.222581,enero
31,MADRID,5.046505,0.548673,7.096774,-0.461559,10.559140,enero
32,MALAGA,12.677419,0.252973,3.612903,8.749032,16.601290,enero
33,MURCIA,10.192532,0.341971,6.510698,4.210065,16.216774,enero
34,NAVARRA,5.594771,3.289610,6.277419,-0.186364,11.353896,enero
35,OURENSE,6.264754,0.765574,5.069355,-0.586066,13.109836,enero
36,PALENCIA,4.051613,0.334409,6.656452,-2.292473,10.388172,enero
37,PONTEVEDRA,10.090164,2.787931,6.360345,5.331148,14.836066,enero
38,SALAMANCA,4.542581,0.240000,7.016129,-1.946452,11.038710,enero
39,SEGOVIA,3.374194,0.665574,5.260656,-0.675806,7.417742,enero
40,SEVILLA,10.428387,0.109934,7.754839,3.800000,17.056129,enero
41,SORIA,4.506452,0.120000,7.832258,-3.209677,12.229032,enero
42,STA. CRUZ DE TENERIFE,17.092258,1.491419,6.403763,14.049032,20.135484,enero
43,TARRAGONA,9.212903,0.109677,7.974194,2.456452,15.974194,enero
44,TERUEL,4.880645,0.095935,7.529032,-2.441129,12.208065,enero
45,TOLEDO,6.548571,0.220000,7.520000,-0.436190,13.532381,enero
46,VALENCIA,9.852688,0.497297,7.054839,3.658065,16.045699,enero
47,VALLADOLID,4.353226,0.256452,7.141935,-1.951613,10.659677,enero
48,ZAMORA,4.131183,0.081720,6.480645,-2.850538,11.110753,enero
49,ZARAGOZA,5.201290,0.489474,6.887097,-1.202581,11.609032,enero

Hago una función para aplicar en el resto de meses:

In [19]:
def procesar_mes(df_mes):
    # Reemplazar comas por puntos y convertir las columnas numéricas a tipo float
    df_mes['tmed'] = df_mes['tmed'].str.replace(',', '.').astype(float)
    df_mes['prec'] = df_mes['prec'].replace('Acum', np.nan)
    df_mes['prec'] = df_mes['prec'].str.replace(',', '.').replace('Ip', np.nan).astype(float)
    df_mes['sol'] = df_mes['sol'].str.replace(',', '.').astype(float)
    df_mes['tmin'] = df_mes['tmin'].str.replace(',', '.').astype(float)
    df_mes['tmax'] = df_mes['tmax'].str.replace(',', '.').astype(float)
    
    # Convertir la columna "fecha" en datetime
    df_mes['fecha'] = pd.to_datetime(df_mes['fecha'])
    
    # Agrupar por provincia y calcular la media de cada columna
    df_media_mes = df_mes.groupby('provincia').agg({
        'tmed': 'mean',
        'prec': 'mean',
        'sol': 'mean',
        'tmin': 'mean',
        'tmax': 'mean'
    }).reset_index()
    
    # Renombrar las columnas para mayor claridad
    df_media_mes = df_media_mes.rename(columns={
        'tmed': 'media_tmed',
        'prec': 'media_prec',
        'sol': 'media_sol',
        'tmin': 'media_tmin',
        'tmax': 'media_tmax'
    })
    
    return df_media_mes

In [20]:
#Exporto el DF
enero.to_csv('export/enero22.csv')

In [21]:
# Conecto a la base de datos Mongo
client = MongoClient('localhost', 27017)

In [22]:
enero_data = pd.read_csv('export/enero22.csv')
db = client['turismo']
enero_list = enero_data.to_dict(orient='records')
enero_collection = db['meses']
enero_collection.insert_many(enero_list)

InsertManyResult([ObjectId('6549032f69aed3101fc1e71a'), ObjectId('6549032f69aed3101fc1e71b'), ObjectId('6549032f69aed3101fc1e71c'), ObjectId('6549032f69aed3101fc1e71d'), ObjectId('6549032f69aed3101fc1e71e'), ObjectId('6549032f69aed3101fc1e71f'), ObjectId('6549032f69aed3101fc1e720'), ObjectId('6549032f69aed3101fc1e721'), ObjectId('6549032f69aed3101fc1e722'), ObjectId('6549032f69aed3101fc1e723'), ObjectId('6549032f69aed3101fc1e724'), ObjectId('6549032f69aed3101fc1e725'), ObjectId('6549032f69aed3101fc1e726'), ObjectId('6549032f69aed3101fc1e727'), ObjectId('6549032f69aed3101fc1e728'), ObjectId('6549032f69aed3101fc1e729'), ObjectId('6549032f69aed3101fc1e72a'), ObjectId('6549032f69aed3101fc1e72b'), ObjectId('6549032f69aed3101fc1e72c'), ObjectId('6549032f69aed3101fc1e72d'), ObjectId('6549032f69aed3101fc1e72e'), ObjectId('6549032f69aed3101fc1e72f'), ObjectId('6549032f69aed3101fc1e730'), ObjectId('6549032f69aed3101fc1e731'), ObjectId('6549032f69aed3101fc1e732'), ObjectId('6549032f69aed3101fc1e733'), ObjectId('6549032f69aed3101fc1e734'), ObjectId('6549032f69aed3101fc1e735'), ObjectId('6549032f69aed3101fc1e736'), ObjectId('6549032f69aed3101fc1e737'), ObjectId('6549032f69aed3101fc1e738'), ObjectId('6549032f69aed3101fc1e739'), ObjectId('6549032f69aed3101fc1e73a'), ObjectId('6549032f69aed3101fc1e73b'), ObjectId('6549032f69aed3101fc1e73c'), ObjectId('6549032f69aed3101fc1e73d'), ObjectId('6549032f69aed3101fc1e73e'), ObjectId('6549032f69aed3101fc1e73f'), ObjectId('6549032f69aed3101fc1e740'), ObjectId('6549032f69aed3101fc1e741'), ObjectId('6549032f69aed3101fc1e742'), ObjectId('6549032f69aed3101fc1e743'), ObjectId('6549032f69aed3101fc1e744'), ObjectId('6549032f69aed3101fc1e745'), ObjectId('6549032f69aed3101fc1e746'), ObjectId('6549032f69aed3101fc1e747'), ObjectId('6549032f69aed3101fc1e748'), ObjectId('6549032f69aed3101fc1e749'), ObjectId('6549032f69aed3101fc1e74a'), ObjectId('6549032f69aed3101fc1e74b')], acknowledged=True)

## FEBRERO 22

In [23]:
url2 = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-02-01T00%3A00%3A00UTC/fechafin/2022-02-28T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response2 = requests.request("GET", url2, headers=header, params=querystring)
febrero_datos= response2.json()
print(response2.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/f7f48dd9",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [24]:
url2_datos= febrero_datos['datos']
url2_datos

'https://opendata.aemet.es/opendata/sh/f7f48dd9'

In [25]:
response2_datos = requests.get(url2_datos, headers=header)
response2_datos

In [26]:
datos_febrero= response2_datos.json()
datos_febrero[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [27]:
df_febrero= pd.DataFrame(datos_febrero)
df_febrero.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-02-01,4358X,DON BENITO,BADAJOZ,273,"9,2","0,0","0,8",07:50,"17,7",15:40,09,"0,8","5,0",23:59,"9,5","997,1",09,"994,2",17
1,2022-02-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"7,4","0,0","-1,7",07:30,"16,5",16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"17,0","2,9","12,6",00:51,"21,3",12:36,NaN,"2,2",NaN,NaN,"0,5","950,2",Varias,"947,7",15
3,2022-02-01,6106X,ANTEQUERA,MALAGA,408,"8,1","0,0","0,4",07:30,"15,8",14:30,31,"1,1","6,4",13:30,NaN,"979,7",24,"976,0",15
4,2022-02-01,9698U,TALARN,LLEIDA,807,"10,2","0,0","2,7",04:20,"17,8",13:50,99,"2,5","8,6",Varias,NaN,NaN,NaN,NaN,NaN

In [28]:
#Aplico la función:

febrero = procesar_mes(df_febrero)
febrero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,10.768304,1.522535,5.409023,6.922321,14.616518
1,ALBACETE,9.515179,0.190909,7.159615,3.148214,15.877679
2,ALICANTE,12.166964,0.072222,7.178571,5.994643,18.336607
3,ALMERIA,13.342727,0.166429,7.192857,8.209091,18.477273
4,ARABA/ALAVA,6.512500,0.366000,5.073214,-0.242857,13.269643
5,ASTURIAS,9.590970,1.451916,5.686567,5.618395,13.566221
6,AVILA,8.616071,0.225000,6.792857,2.158929,15.053571
7,BADAJOZ,11.331548,0.136905,7.321324,4.488095,18.180952
8,BARCELONA,11.382143,0.086429,6.037500,6.654286,16.109286
9,BIZKAIA,10.154737,1.444444,4.192857,5.417895,14.886316
10,BURGOS,5.575000,0.164179,5.073214,-1.558571,12.711429
11,CACERES,10.973571,0.192143,7.707317,4.748571,17.193571
12,CADIZ,13.891837,0.229534,7.326786,9.198980,18.577551
13,CANTABRIA,9.124490,1.122872,5.398810,4.403571,13.848469
14,CASTELLON,8.755952,0.291071,7.275000,3.661905,13.848810
15,CEUTA,15.157143,0.525000,5.928571,12.953571,17.378571
16,CIUDAD REAL,9.489928,0.337956,7.196296,2.166906,16.820144
17,CORDOBA,11.870270,0.437615,8.310714,5.531532,18.215315
18,CUENCA,8.355224,0.261765,6.502273,0.728358,15.991045
19,GIPUZKOA,9.694643,1.950314,4.384524,5.239286,14.151786
20,GIRONA,7.549541,0.336364,6.478571,0.700917,14.396330
21,GRANADA,10.783036,0.470408,6.845238,2.725000,18.838393
22,GUADALAJARA,6.455952,0.182278,6.957143,-2.009524,14.926190
23,HUELVA,13.841071,0.186486,8.246429,8.153571,19.523214
24,HUESCA,7.699107,0.731818,6.359036,1.324107,14.075893
25,ILLES BALEARS,11.281786,0.126199,7.321429,6.247143,16.309286
26,JAEN,11.661429,0.364286,6.983333,5.382857,17.946429
27,LA RIOJA,8.439286,0.057143,6.739286,1.871429,14.996429
28,LAS PALMAS,19.755851,0.354450,7.375904,16.413298,23.103191
29,LEON,5.843750,0.272477,6.728571,-0.700893,12.385714
30,LLEIDA,7.435849,0.492308,7.667857,0.155660,14.730189
31,LUGO,7.907143,0.964286,5.075000,1.550000,14.253571
32,MADRID,8.153846,0.399695,7.050595,1.974679,14.334936
33,MALAGA,14.381061,0.167925,5.643636,10.025000,18.743939
34,MELILLA,14.825000,0.207407,6.121429,11.607143,18.050000
35,MURCIA,12.493040,0.089024,7.058673,6.348718,18.642125
36,NAVARRA,8.142857,0.543165,5.960714,2.090714,14.194286
37,OURENSE,8.116964,0.568750,5.123636,0.997321,15.231250
38,PALENCIA,5.776190,0.290476,6.505455,-1.472619,13.033333
39,PONTEVEDRA,11.223214,1.589796,5.678846,6.466071,15.982143
40,SALAMANCA,6.788571,0.120863,6.627273,-0.129286,13.707143
41,SEGOVIA,5.737500,0.400000,5.587500,1.098214,10.367857
42,SEVILLA,12.904286,0.213235,7.951786,5.720714,20.089286
43,SORIA,6.464286,0.237037,7.028571,-0.810714,13.739286
44,STA. CRUZ DE TENERIFE,17.432143,1.321839,7.117365,14.135357,20.728929
45,TARRAGONA,12.246429,0.014545,6.910714,6.205357,18.271429
46,TERUEL,8.046429,0.061261,7.144048,0.839286,15.254464
47,TOLEDO,9.384158,0.277344,7.252830,2.075248,16.694059
48,VALENCIA,12.326776,0.292265,7.065766,6.424590,18.225683
49,VALLADOLID,6.514286,0.096429,6.662500,-0.382143,13.410714
50,ZAMORA,6.669048,0.135714,6.583133,-0.786905,14.125000
51,ZARAGOZA,8.715000,0.047407,6.980357,2.225714,15.212143

In [29]:
#eliminar ceuta y melilla
indices_a_eliminar = febrero[febrero['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
febrero = febrero.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
febrero= febrero.reset_index(drop=True)

In [30]:
#Agrego una columna nueva en mi DF enero para exportarlo correctamente en Mongo:
febrero['mes'] = 'febrero'
febrero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax,mes
0,A CORUÑA,10.768304,1.522535,5.409023,6.922321,14.616518,febrero
1,ALBACETE,9.515179,0.190909,7.159615,3.148214,15.877679,febrero
2,ALICANTE,12.166964,0.072222,7.178571,5.994643,18.336607,febrero
3,ALMERIA,13.342727,0.166429,7.192857,8.209091,18.477273,febrero
4,ARABA/ALAVA,6.512500,0.366000,5.073214,-0.242857,13.269643,febrero
5,ASTURIAS,9.590970,1.451916,5.686567,5.618395,13.566221,febrero
6,AVILA,8.616071,0.225000,6.792857,2.158929,15.053571,febrero
7,BADAJOZ,11.331548,0.136905,7.321324,4.488095,18.180952,febrero
8,BARCELONA,11.382143,0.086429,6.037500,6.654286,16.109286,febrero
9,BIZKAIA,10.154737,1.444444,4.192857,5.417895,14.886316,febrero
10,BURGOS,5.575000,0.164179,5.073214,-1.558571,12.711429,febrero
11,CACERES,10.973571,0.192143,7.707317,4.748571,17.193571,febrero
12,CADIZ,13.891837,0.229534,7.326786,9.198980,18.577551,febrero
13,CANTABRIA,9.124490,1.122872,5.398810,4.403571,13.848469,febrero
14,CASTELLON,8.755952,0.291071,7.275000,3.661905,13.848810,febrero
15,CIUDAD REAL,9.489928,0.337956,7.196296,2.166906,16.820144,febrero
16,CORDOBA,11.870270,0.437615,8.310714,5.531532,18.215315,febrero
17,CUENCA,8.355224,0.261765,6.502273,0.728358,15.991045,febrero
18,GIPUZKOA,9.694643,1.950314,4.384524,5.239286,14.151786,febrero
19,GIRONA,7.549541,0.336364,6.478571,0.700917,14.396330,febrero
20,GRANADA,10.783036,0.470408,6.845238,2.725000,18.838393,febrero
21,GUADALAJARA,6.455952,0.182278,6.957143,-2.009524,14.926190,febrero
22,HUELVA,13.841071,0.186486,8.246429,8.153571,19.523214,febrero
23,HUESCA,7.699107,0.731818,6.359036,1.324107,14.075893,febrero
24,ILLES BALEARS,11.281786,0.126199,7.321429,6.247143,16.309286,febrero
25,JAEN,11.661429,0.364286,6.983333,5.382857,17.946429,febrero
26,LA RIOJA,8.439286,0.057143,6.739286,1.871429,14.996429,febrero
27,LAS PALMAS,19.755851,0.354450,7.375904,16.413298,23.103191,febrero
28,LEON,5.843750,0.272477,6.728571,-0.700893,12.385714,febrero
29,LLEIDA,7.435849,0.492308,7.667857,0.155660,14.730189,febrero
30,LUGO,7.907143,0.964286,5.075000,1.550000,14.253571,febrero
31,MADRID,8.153846,0.399695,7.050595,1.974679,14.334936,febrero
32,MALAGA,14.381061,0.167925,5.643636,10.025000,18.743939,febrero
33,MURCIA,12.493040,0.089024,7.058673,6.348718,18.642125,febrero
34,NAVARRA,8.142857,0.543165,5.960714,2.090714,14.194286,febrero
35,OURENSE,8.116964,0.568750,5.123636,0.997321,15.231250,febrero
36,PALENCIA,5.776190,0.290476,6.505455,-1.472619,13.033333,febrero
37,PONTEVEDRA,11.223214,1.589796,5.678846,6.466071,15.982143,febrero
38,SALAMANCA,6.788571,0.120863,6.627273,-0.129286,13.707143,febrero
39,SEGOVIA,5.737500,0.400000,5.587500,1.098214,10.367857,febrero
40,SEVILLA,12.904286,0.213235,7.951786,5.720714,20.089286,febrero
41,SORIA,6.464286,0.237037,7.028571,-0.810714,13.739286,febrero
42,STA. CRUZ DE TENERIFE,17.432143,1.321839,7.117365,14.135357,20.728929,febrero
43,TARRAGONA,12.246429,0.014545,6.910714,6.205357,18.271429,febrero
44,TERUEL,8.046429,0.061261,7.144048,0.839286,15.254464,febrero
45,TOLEDO,9.384158,0.277344,7.252830,2.075248,16.694059,febrero
46,VALENCIA,12.326776,0.292265,7.065766,6.424590,18.225683,febrero
47,VALLADOLID,6.514286,0.096429,6.662500,-0.382143,13.410714,febrero
48,ZAMORA,6.669048,0.135714,6.583133,-0.786905,14.125000,febrero
49,ZARAGOZA,8.715000,0.047407,6.980357,2.225714,15.212143,febrero

In [31]:
febrero.to_csv('export/febrero22.csv')

In [32]:
#Exportación a Mongo:

febrero_data = pd.read_csv('export/febrero22.csv')
db = client['turismo']
febrero_list = febrero_data.to_dict(orient='records')
febrero_collection = db['meses']
febrero_collection.insert_many(febrero_list)

InsertManyResult([ObjectId('6549033f69aed3101fc1e74c'), ObjectId('6549033f69aed3101fc1e74d'), ObjectId('6549033f69aed3101fc1e74e'), ObjectId('6549033f69aed3101fc1e74f'), ObjectId('6549033f69aed3101fc1e750'), ObjectId('6549033f69aed3101fc1e751'), ObjectId('6549033f69aed3101fc1e752'), ObjectId('6549033f69aed3101fc1e753'), ObjectId('6549033f69aed3101fc1e754'), ObjectId('6549033f69aed3101fc1e755'), ObjectId('6549033f69aed3101fc1e756'), ObjectId('6549033f69aed3101fc1e757'), ObjectId('6549033f69aed3101fc1e758'), ObjectId('6549033f69aed3101fc1e759'), ObjectId('6549033f69aed3101fc1e75a'), ObjectId('6549033f69aed3101fc1e75b'), ObjectId('6549033f69aed3101fc1e75c'), ObjectId('6549033f69aed3101fc1e75d'), ObjectId('6549033f69aed3101fc1e75e'), ObjectId('6549033f69aed3101fc1e75f'), ObjectId('6549033f69aed3101fc1e760'), ObjectId('6549033f69aed3101fc1e761'), ObjectId('6549033f69aed3101fc1e762'), ObjectId('6549033f69aed3101fc1e763'), ObjectId('6549033f69aed3101fc1e764'), ObjectId('6549033f69aed3101fc1e765'), ObjectId('6549033f69aed3101fc1e766'), ObjectId('6549033f69aed3101fc1e767'), ObjectId('6549033f69aed3101fc1e768'), ObjectId('6549033f69aed3101fc1e769'), ObjectId('6549033f69aed3101fc1e76a'), ObjectId('6549033f69aed3101fc1e76b'), ObjectId('6549033f69aed3101fc1e76c'), ObjectId('6549033f69aed3101fc1e76d'), ObjectId('6549033f69aed3101fc1e76e'), ObjectId('6549033f69aed3101fc1e76f'), ObjectId('6549033f69aed3101fc1e770'), ObjectId('6549033f69aed3101fc1e771'), ObjectId('6549033f69aed3101fc1e772'), ObjectId('6549033f69aed3101fc1e773'), ObjectId('6549033f69aed3101fc1e774'), ObjectId('6549033f69aed3101fc1e775'), ObjectId('6549033f69aed3101fc1e776'), ObjectId('6549033f69aed3101fc1e777'), ObjectId('6549033f69aed3101fc1e778'), ObjectId('6549033f69aed3101fc1e779'), ObjectId('6549033f69aed3101fc1e77a'), ObjectId('6549033f69aed3101fc1e77b'), ObjectId('6549033f69aed3101fc1e77c'), ObjectId('6549033f69aed3101fc1e77d')], acknowledged=True)

## MARZO 22

In [33]:
url3 = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-03-01T00%3A00%3A00UTC/fechafin/2022-03-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response3 = requests.request("GET", url3, headers=header, params=querystring)
marzo_datos= response3.json()
print(response3.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/bfeac398",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [34]:
url3_datos = marzo_datos['datos']
url3_datos

'https://opendata.aemet.es/opendata/sh/bfeac398'

In [35]:
response3_datos= requests.get(url3_datos, headers = header)
response3_datos

In [36]:
datos_marzo= response3_datos.json()
datos_marzo[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [37]:
df_marzo= pd.DataFrame(datos_marzo)
df_marzo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-03-01,4358X,DON BENITO,BADAJOZ,273,"13,2","0,0","4,7",07:00,"21,7",13:30,31,"1,1","5,8",16:20,"8,9","995,0",09,"991,1",17
1,2022-03-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,9","0,0","0,7",07:00,"21,1",15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-03-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"14,1","0,0","11,7",04:26,"16,5",13:33,31,"8,9","20,6",09:26,"5,2","954,7",Varias,"951,6",04
3,2022-03-01,6106X,ANTEQUERA,MALAGA,408,"12,4","0,0","6,7",07:20,"18,1",15:30,15,"1,4","10,8",00:30,NaN,"978,6",10,"974,8",18
4,2022-03-01,9698U,TALARN,LLEIDA,807,"8,8","0,0","1,0",06:30,"16,5",14:40,99,"1,7","6,4",Varias,NaN,NaN,NaN,NaN,NaN

In [38]:
#Aplico la función:
marzo= procesar_mes(df_marzo)

In [39]:
#eliminar ceuta y melilla
indices_a_eliminar = marzo[marzo['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
marzo = marzo.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
marzo= marzo.reset_index(drop=True)
marzo

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,11.490283,3.748899,5.258865,7.617004,15.374597
1,ALBACETE,9.291129,2.700820,2.983929,5.733871,12.842742
2,ALICANTE,12.988710,7.066942,3.702151,9.316935,16.670968
3,ALMERIA,14.205405,2.833077,4.927778,10.381081,18.029054
4,ARABA/ALAVA,8.561290,1.629508,3.272581,3.990323,13.125806
5,ASTURIAS,9.973314,3.297554,4.055696,6.281232,13.670381
6,AVILA,8.612903,4.781356,3.467742,4.943548,12.295161
7,BADAJOZ,12.212366,2.766667,4.734194,7.497849,16.918280
8,BARCELONA,11.885714,2.649664,2.651087,8.777273,14.992857
9,BIZKAIA,12.367742,3.609836,3.096774,8.638710,16.095968
10,BURGOS,7.198701,1.823944,3.242975,2.868182,11.532468
11,CACERES,11.674194,3.226316,4.332609,7.517419,15.827742
12,CADIZ,13.527442,6.841784,5.245161,10.009302,17.043721
13,CANTABRIA,11.156682,3.471429,4.389247,7.351152,14.951613
14,CASTELLON,7.768817,7.182569,3.285000,4.938710,10.592473
15,CIUDAD REAL,10.025974,2.357792,3.438889,5.760390,14.290909
16,CORDOBA,11.666935,3.310569,5.861290,7.164516,16.175806
17,CUENCA,8.537333,2.340000,2.880328,4.464000,12.609333
18,GIPUZKOA,12.005914,4.145556,3.335484,8.302151,15.707527
19,GIRONA,7.944262,3.704237,3.203226,3.839344,12.049180
20,GRANADA,11.016935,3.658654,4.035870,5.951613,16.086290
21,GUADALAJARA,7.244565,2.648276,2.915217,2.665217,11.833696
22,HUELVA,13.583065,4.443333,6.354839,9.290323,17.884677
23,HUESCA,7.815323,1.908943,3.379570,3.329839,12.291129
24,ILLES BALEARS,12.381639,2.477483,3.069892,9.274426,15.490820
25,JAEN,11.474675,3.096104,3.828409,7.428571,15.521429
26,LA RIOJA,9.674194,1.460714,2.964516,5.738710,13.587097
27,LAS PALMAS,18.598095,0.337500,8.253933,15.422857,21.771429
28,LEON,6.481452,2.610656,3.832258,2.180645,10.787097
29,LLEIDA,8.683471,1.827350,4.032258,3.433058,13.928099
30,LUGO,8.958065,2.980645,4.512903,3.045161,14.858065
31,MADRID,8.240909,4.521967,2.743011,4.574675,11.906818
32,MALAGA,14.361446,6.894253,4.278689,10.719277,18.006627
33,MURCIA,13.246689,5.982550,3.188732,9.608609,16.860518
34,NAVARRA,9.897419,2.389677,3.100000,5.492903,14.297419
35,OURENSE,9.366935,2.606452,3.575806,3.803226,14.923387
36,PALENCIA,6.781720,2.854839,3.401613,2.046237,11.510753
37,PONTEVEDRA,11.996774,3.480702,4.808621,7.579032,16.432258
38,SALAMANCA,7.261935,2.062500,3.713821,2.749032,11.769032
39,SEGOVIA,4.675806,6.596491,2.604839,1.677419,7.656452
40,SEVILLA,13.055484,4.123490,4.434426,8.157419,17.945161
41,SORIA,6.183871,3.080000,2.745161,2.290323,10.083871
42,STA. CRUZ DE TENERIFE,16.778431,1.043071,7.616129,13.563725,19.993464
43,TARRAGONA,12.322581,2.764407,3.019355,8.469355,16.185484
44,TERUEL,8.819355,1.728926,2.727473,4.758065,12.883065
45,TOLEDO,10.100862,3.085926,3.611667,5.925000,14.271552
46,VALENCIA,12.317143,6.816667,2.979675,8.998571,15.631429
47,VALLADOLID,8.095161,1.906897,3.514516,3.483871,12.737097
48,ZAMORA,8.401075,1.655914,3.643478,3.731183,13.066667
49,ZARAGOZA,9.519355,1.597386,3.162903,5.456774,13.585806

In [40]:
#Agrego una columna nueva en mi DF enero para exportarlo correctamente en Mongo:
marzo['mes'] = 'marzo'
marzo

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax,mes
0,A CORUÑA,11.490283,3.748899,5.258865,7.617004,15.374597,marzo
1,ALBACETE,9.291129,2.700820,2.983929,5.733871,12.842742,marzo
2,ALICANTE,12.988710,7.066942,3.702151,9.316935,16.670968,marzo
3,ALMERIA,14.205405,2.833077,4.927778,10.381081,18.029054,marzo
4,ARABA/ALAVA,8.561290,1.629508,3.272581,3.990323,13.125806,marzo
5,ASTURIAS,9.973314,3.297554,4.055696,6.281232,13.670381,marzo
6,AVILA,8.612903,4.781356,3.467742,4.943548,12.295161,marzo
7,BADAJOZ,12.212366,2.766667,4.734194,7.497849,16.918280,marzo
8,BARCELONA,11.885714,2.649664,2.651087,8.777273,14.992857,marzo
9,BIZKAIA,12.367742,3.609836,3.096774,8.638710,16.095968,marzo
10,BURGOS,7.198701,1.823944,3.242975,2.868182,11.532468,marzo
11,CACERES,11.674194,3.226316,4.332609,7.517419,15.827742,marzo
12,CADIZ,13.527442,6.841784,5.245161,10.009302,17.043721,marzo
13,CANTABRIA,11.156682,3.471429,4.389247,7.351152,14.951613,marzo
14,CASTELLON,7.768817,7.182569,3.285000,4.938710,10.592473,marzo
15,CIUDAD REAL,10.025974,2.357792,3.438889,5.760390,14.290909,marzo
16,CORDOBA,11.666935,3.310569,5.861290,7.164516,16.175806,marzo
17,CUENCA,8.537333,2.340000,2.880328,4.464000,12.609333,marzo
18,GIPUZKOA,12.005914,4.145556,3.335484,8.302151,15.707527,marzo
19,GIRONA,7.944262,3.704237,3.203226,3.839344,12.049180,marzo
20,GRANADA,11.016935,3.658654,4.035870,5.951613,16.086290,marzo
21,GUADALAJARA,7.244565,2.648276,2.915217,2.665217,11.833696,marzo
22,HUELVA,13.583065,4.443333,6.354839,9.290323,17.884677,marzo
23,HUESCA,7.815323,1.908943,3.379570,3.329839,12.291129,marzo
24,ILLES BALEARS,12.381639,2.477483,3.069892,9.274426,15.490820,marzo
25,JAEN,11.474675,3.096104,3.828409,7.428571,15.521429,marzo
26,LA RIOJA,9.674194,1.460714,2.964516,5.738710,13.587097,marzo
27,LAS PALMAS,18.598095,0.337500,8.253933,15.422857,21.771429,marzo
28,LEON,6.481452,2.610656,3.832258,2.180645,10.787097,marzo
29,LLEIDA,8.683471,1.827350,4.032258,3.433058,13.928099,marzo
30,LUGO,8.958065,2.980645,4.512903,3.045161,14.858065,marzo
31,MADRID,8.240909,4.521967,2.743011,4.574675,11.906818,marzo
32,MALAGA,14.361446,6.894253,4.278689,10.719277,18.006627,marzo
33,MURCIA,13.246689,5.982550,3.188732,9.608609,16.860518,marzo
34,NAVARRA,9.897419,2.389677,3.100000,5.492903,14.297419,marzo
35,OURENSE,9.366935,2.606452,3.575806,3.803226,14.923387,marzo
36,PALENCIA,6.781720,2.854839,3.401613,2.046237,11.510753,marzo
37,PONTEVEDRA,11.996774,3.480702,4.808621,7.579032,16.432258,marzo
38,SALAMANCA,7.261935,2.062500,3.713821,2.749032,11.769032,marzo
39,SEGOVIA,4.675806,6.596491,2.604839,1.677419,7.656452,marzo
40,SEVILLA,13.055484,4.123490,4.434426,8.157419,17.945161,marzo
41,SORIA,6.183871,3.080000,2.745161,2.290323,10.083871,marzo
42,STA. CRUZ DE TENERIFE,16.778431,1.043071,7.616129,13.563725,19.993464,marzo
43,TARRAGONA,12.322581,2.764407,3.019355,8.469355,16.185484,marzo
44,TERUEL,8.819355,1.728926,2.727473,4.758065,12.883065,marzo
45,TOLEDO,10.100862,3.085926,3.611667,5.925000,14.271552,marzo
46,VALENCIA,12.317143,6.816667,2.979675,8.998571,15.631429,marzo
47,VALLADOLID,8.095161,1.906897,3.514516,3.483871,12.737097,marzo
48,ZAMORA,8.401075,1.655914,3.643478,3.731183,13.066667,marzo
49,ZARAGOZA,9.519355,1.597386,3.162903,5.456774,13.585806,marzo

In [ ]:
marzo.to_csv('export/marzo22.csv')

In [43]:
#Exportación a Mongo:

marzo_data = pd.read_csv('export/marzo22.csv')
db = client['turismo']
marzo_list = marzo_data.to_dict(orient='records')
marzo_collection = db['meses']
marzo_collection.insert_many(marzo_list)

InsertManyResult([ObjectId('654903f969aed3101fc1e7b0'), ObjectId('654903f969aed3101fc1e7b1'), ObjectId('654903f969aed3101fc1e7b2'), ObjectId('654903f969aed3101fc1e7b3'), ObjectId('654903f969aed3101fc1e7b4'), ObjectId('654903f969aed3101fc1e7b5'), ObjectId('654903f969aed3101fc1e7b6'), ObjectId('654903f969aed3101fc1e7b7'), ObjectId('654903f969aed3101fc1e7b8'), ObjectId('654903f969aed3101fc1e7b9'), ObjectId('654903f969aed3101fc1e7ba'), ObjectId('654903f969aed3101fc1e7bb'), ObjectId('654903f969aed3101fc1e7bc'), ObjectId('654903f969aed3101fc1e7bd'), ObjectId('654903f969aed3101fc1e7be'), ObjectId('654903f969aed3101fc1e7bf'), ObjectId('654903f969aed3101fc1e7c0'), ObjectId('654903f969aed3101fc1e7c1'), ObjectId('654903f969aed3101fc1e7c2'), ObjectId('654903f969aed3101fc1e7c3'), ObjectId('654903f969aed3101fc1e7c4'), ObjectId('654903f969aed3101fc1e7c5'), ObjectId('654903f969aed3101fc1e7c6'), ObjectId('654903f969aed3101fc1e7c7'), ObjectId('654903f969aed3101fc1e7c8'), ObjectId('654903f969aed3101fc1e7c9'), ObjectId('654903f969aed3101fc1e7ca'), ObjectId('654903f969aed3101fc1e7cb'), ObjectId('654903f969aed3101fc1e7cc'), ObjectId('654903f969aed3101fc1e7cd'), ObjectId('654903f969aed3101fc1e7ce'), ObjectId('654903f969aed3101fc1e7cf'), ObjectId('654903f969aed3101fc1e7d0'), ObjectId('654903f969aed3101fc1e7d1'), ObjectId('654903f969aed3101fc1e7d2'), ObjectId('654903f969aed3101fc1e7d3'), ObjectId('654903f969aed3101fc1e7d4'), ObjectId('654903f969aed3101fc1e7d5'), ObjectId('654903f969aed3101fc1e7d6'), ObjectId('654903f969aed3101fc1e7d7'), ObjectId('654903f969aed3101fc1e7d8'), ObjectId('654903f969aed3101fc1e7d9'), ObjectId('654903f969aed3101fc1e7da'), ObjectId('654903f969aed3101fc1e7db'), ObjectId('654903f969aed3101fc1e7dc'), ObjectId('654903f969aed3101fc1e7dd'), ObjectId('654903f969aed3101fc1e7de'), ObjectId('654903f969aed3101fc1e7df'), ObjectId('654903f969aed3101fc1e7e0'), ObjectId('654903f969aed3101fc1e7e1')], acknowledged=True)

## ABRIL 22

In [44]:
url4= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-04-01T00%3A00%3A00UTC/fechafin/2022-04-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response4 = requests.request("GET", url4, headers=header, params=querystring)
abril_datos= response4.json()
print(response4.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b4d5ad32",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [45]:
url4_datos= abril_datos['datos']
url4_datos

'https://opendata.aemet.es/opendata/sh/b4d5ad32'

In [46]:
response4_datos= requests.get(url4_datos, headers=header)
response4_datos

In [47]:
datos_abril=response4_datos.json()
datos_abril[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [48]:
df_abril= pd.DataFrame(datos_abril)
df_abril.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-04-01,4358X,DON BENITO,BADAJOZ,273,"12,2","0,0","6,5",06:30,"18,0",15:00,34,"2,2","8,6",16:30,"9,9","986,0",24,"979,7",02
1,2022-04-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,0","0,4","4,0",06:00,"15,9",14:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"14,3","0,0","11,7",Varias,"16,9",12:03,NaN,NaN,NaN,NaN,"5,9",NaN,NaN,NaN,NaN
3,2022-04-01,6106X,ANTEQUERA,MALAGA,408,"11,0","0,0","6,4",06:20,"15,6",16:00,31,"1,7","8,3",13:40,NaN,"967,4",24,"963,8",04
4,2022-04-01,9698U,TALARN,LLEIDA,807,"2,8","0,0","-1,2",23:50,"6,7",14:00,32,"7,2","18,9",08:40,NaN,NaN,NaN,NaN,NaN

In [49]:
#Aplico función:
abril=procesar_mes(df_abril)
abril

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,12.187611,2.299561,6.859701,8.303097,16.064159
1,ALBACETE,10.927500,3.810345,6.924074,5.479167,16.370833
2,ALICANTE,14.869167,2.708475,7.886667,9.794167,19.945833
3,ALMERIA,15.366443,1.734014,8.213333,10.883221,19.847651
4,ARABA/ALAVA,9.601667,2.714815,5.845000,3.841667,15.368333
5,ASTURIAS,10.636170,3.420952,6.326244,6.692705,14.572340
6,AVILA,9.119048,2.043902,7.730000,3.645455,14.725000
7,BADAJOZ,13.959551,1.605556,8.265101,7.618539,20.305056
8,BARCELONA,14.297203,1.166216,7.422989,9.644755,18.948252
9,BIZKAIA,12.030088,3.695960,4.696667,8.039823,16.023894
10,BURGOS,8.686614,2.057627,6.298969,2.550000,14.847656
11,CACERES,13.656000,1.479730,8.743333,7.450000,19.863333
12,CADIZ,15.331579,2.265700,9.182759,10.969378,19.696172
13,CANTABRIA,11.227619,2.739901,6.052222,6.956667,15.497619
14,CASTELLON,10.711111,3.584746,7.361667,6.158889,15.257778
15,CEUTA,16.496667,2.883333,8.696667,13.453333,19.550000
16,CIUDAD REAL,12.018792,2.019048,7.614943,5.865772,18.172483
17,CORDOBA,13.267857,2.788034,9.530000,7.475893,19.055357
18,CUENCA,10.948333,1.471667,6.993333,4.796667,17.080000
19,GIPUZKOA,11.798667,4.593785,4.955556,7.766000,15.822667
20,GIRONA,10.765517,2.093860,7.193220,4.630172,16.893966
21,GRANADA,12.982906,1.769828,8.021429,6.155556,19.823077
22,GUADALAJARA,9.489655,1.752381,7.017241,2.690805,16.285057
23,HUELVA,15.427500,1.852137,10.080000,10.122500,20.730833
24,HUESCA,10.022500,2.998333,7.660674,3.678333,16.368333
25,ILLES BALEARS,14.147826,1.486713,7.580000,9.728428,18.569565
26,JAEN,13.478767,2.286667,7.435632,7.791781,19.160959
27,LA RIOJA,12.170000,1.757143,7.380000,6.396667,17.926667
28,LAS PALMAS,19.660680,0.133333,8.787500,16.404854,22.920388
29,LEON,8.089916,0.869149,7.733333,1.678992,14.500000
30,LLEIDA,11.290517,1.890351,8.530000,4.562931,18.017241
31,LUGO,10.740000,2.520000,6.183333,4.303333,17.176667
32,MADRID,10.466333,2.598119,7.512222,4.865000,16.075000
33,MALAGA,16.130612,1.405590,8.311667,11.748980,20.512245
34,MELILLA,16.662069,3.813333,7.996667,13.651724,19.675862
35,MURCIA,14.702349,2.745485,7.747143,9.507383,19.899666
36,NAVARRA,11.115333,2.508000,5.826667,5.640667,16.593333
37,OURENSE,10.861864,1.822500,6.244068,3.617797,18.093220
38,PALENCIA,8.380000,1.466667,6.850000,1.693333,15.065556
39,PONTEVEDRA,12.706780,3.003846,7.798113,7.845763,17.576271
40,SALAMANCA,8.946667,2.008904,7.595000,2.721333,15.170667
41,SEGOVIA,6.533333,3.142857,6.760000,1.956667,11.111667
42,SEVILLA,14.854054,2.529932,8.900000,8.563514,21.144595
43,SORIA,9.103333,1.928000,7.726667,2.986667,15.226667
44,STA. CRUZ DE TENERIFE,17.822263,0.500400,8.391061,14.544891,21.082909
45,TARRAGONA,15.240000,2.611864,7.544643,9.578333,20.900000
46,TERUEL,11.356667,2.475000,7.315556,5.238333,17.475833
47,TOLEDO,12.312605,2.438095,8.829310,5.775630,18.853782
48,VALENCIA,14.562842,3.080220,6.629412,9.558470,19.575410
49,VALLADOLID,9.671667,1.900000,8.068333,3.301667,16.040000
50,ZAMORA,10.155056,1.166667,8.129885,2.932584,17.363333
51,ZARAGOZA,12.097333,1.604110,7.866102,6.331333,17.878000

In [51]:
#eliminar ceuta y melilla
indices_a_eliminar = abril[abril['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
abril = abril.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
abril= abril.reset_index(drop=True)

In [52]:
#Agrego una columna nueva en mi DF abril para exportarlo correctamente en Mongo:
abril['mes'] = 'abril'
abril

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax,mes
0,A CORUÑA,12.187611,2.299561,6.859701,8.303097,16.064159,abril
1,ALBACETE,10.927500,3.810345,6.924074,5.479167,16.370833,abril
2,ALICANTE,14.869167,2.708475,7.886667,9.794167,19.945833,abril
3,ALMERIA,15.366443,1.734014,8.213333,10.883221,19.847651,abril
4,ARABA/ALAVA,9.601667,2.714815,5.845000,3.841667,15.368333,abril
5,ASTURIAS,10.636170,3.420952,6.326244,6.692705,14.572340,abril
6,AVILA,9.119048,2.043902,7.730000,3.645455,14.725000,abril
7,BADAJOZ,13.959551,1.605556,8.265101,7.618539,20.305056,abril
8,BARCELONA,14.297203,1.166216,7.422989,9.644755,18.948252,abril
9,BIZKAIA,12.030088,3.695960,4.696667,8.039823,16.023894,abril
10,BURGOS,8.686614,2.057627,6.298969,2.550000,14.847656,abril
11,CACERES,13.656000,1.479730,8.743333,7.450000,19.863333,abril
12,CADIZ,15.331579,2.265700,9.182759,10.969378,19.696172,abril
13,CANTABRIA,11.227619,2.739901,6.052222,6.956667,15.497619,abril
14,CASTELLON,10.711111,3.584746,7.361667,6.158889,15.257778,abril
15,CIUDAD REAL,12.018792,2.019048,7.614943,5.865772,18.172483,abril
16,CORDOBA,13.267857,2.788034,9.530000,7.475893,19.055357,abril
17,CUENCA,10.948333,1.471667,6.993333,4.796667,17.080000,abril
18,GIPUZKOA,11.798667,4.593785,4.955556,7.766000,15.822667,abril
19,GIRONA,10.765517,2.093860,7.193220,4.630172,16.893966,abril
20,GRANADA,12.982906,1.769828,8.021429,6.155556,19.823077,abril
21,GUADALAJARA,9.489655,1.752381,7.017241,2.690805,16.285057,abril
22,HUELVA,15.427500,1.852137,10.080000,10.122500,20.730833,abril
23,HUESCA,10.022500,2.998333,7.660674,3.678333,16.368333,abril
24,ILLES BALEARS,14.147826,1.486713,7.580000,9.728428,18.569565,abril
25,JAEN,13.478767,2.286667,7.435632,7.791781,19.160959,abril
26,LA RIOJA,12.170000,1.757143,7.380000,6.396667,17.926667,abril
27,LAS PALMAS,19.660680,0.133333,8.787500,16.404854,22.920388,abril
28,LEON,8.089916,0.869149,7.733333,1.678992,14.500000,abril
29,LLEIDA,11.290517,1.890351,8.530000,4.562931,18.017241,abril
30,LUGO,10.740000,2.520000,6.183333,4.303333,17.176667,abril
31,MADRID,10.466333,2.598119,7.512222,4.865000,16.075000,abril
32,MALAGA,16.130612,1.405590,8.311667,11.748980,20.512245,abril
33,MURCIA,14.702349,2.745485,7.747143,9.507383,19.899666,abril
34,NAVARRA,11.115333,2.508000,5.826667,5.640667,16.593333,abril
35,OURENSE,10.861864,1.822500,6.244068,3.617797,18.093220,abril
36,PALENCIA,8.380000,1.466667,6.850000,1.693333,15.065556,abril
37,PONTEVEDRA,12.706780,3.003846,7.798113,7.845763,17.576271,abril
38,SALAMANCA,8.946667,2.008904,7.595000,2.721333,15.170667,abril
39,SEGOVIA,6.533333,3.142857,6.760000,1.956667,11.111667,abril
40,SEVILLA,14.854054,2.529932,8.900000,8.563514,21.144595,abril
41,SORIA,9.103333,1.928000,7.726667,2.986667,15.226667,abril
42,STA. CRUZ DE TENERIFE,17.822263,0.500400,8.391061,14.544891,21.082909,abril
43,TARRAGONA,15.240000,2.611864,7.544643,9.578333,20.900000,abril
44,TERUEL,11.356667,2.475000,7.315556,5.238333,17.475833,abril
45,TOLEDO,12.312605,2.438095,8.829310,5.775630,18.853782,abril
46,VALENCIA,14.562842,3.080220,6.629412,9.558470,19.575410,abril
47,VALLADOLID,9.671667,1.900000,8.068333,3.301667,16.040000,abril
48,ZAMORA,10.155056,1.166667,8.129885,2.932584,17.363333,abril
49,ZARAGOZA,12.097333,1.604110,7.866102,6.331333,17.878000,abril

In [53]:
abril.to_csv('export/abril22.csv')

In [54]:
#Exportación a Mongo:

abril_data = pd.read_csv('export/abril22.csv')
db = client['turismo']
abril_list = abril_data.to_dict(orient='records')
abril_collection = db['meses']
abril_collection.insert_many(abril_list)

InsertManyResult([ObjectId('654904b169aed3101fc1e7e2'), ObjectId('654904b169aed3101fc1e7e3'), ObjectId('654904b169aed3101fc1e7e4'), ObjectId('654904b169aed3101fc1e7e5'), ObjectId('654904b169aed3101fc1e7e6'), ObjectId('654904b169aed3101fc1e7e7'), ObjectId('654904b169aed3101fc1e7e8'), ObjectId('654904b169aed3101fc1e7e9'), ObjectId('654904b169aed3101fc1e7ea'), ObjectId('654904b169aed3101fc1e7eb'), ObjectId('654904b169aed3101fc1e7ec'), ObjectId('654904b169aed3101fc1e7ed'), ObjectId('654904b169aed3101fc1e7ee'), ObjectId('654904b169aed3101fc1e7ef'), ObjectId('654904b169aed3101fc1e7f0'), ObjectId('654904b169aed3101fc1e7f1'), ObjectId('654904b169aed3101fc1e7f2'), ObjectId('654904b169aed3101fc1e7f3'), ObjectId('654904b169aed3101fc1e7f4'), ObjectId('654904b169aed3101fc1e7f5'), ObjectId('654904b169aed3101fc1e7f6'), ObjectId('654904b169aed3101fc1e7f7'), ObjectId('654904b169aed3101fc1e7f8'), ObjectId('654904b169aed3101fc1e7f9'), ObjectId('654904b169aed3101fc1e7fa'), ObjectId('654904b169aed3101fc1e7fb'), ObjectId('654904b169aed3101fc1e7fc'), ObjectId('654904b169aed3101fc1e7fd'), ObjectId('654904b169aed3101fc1e7fe'), ObjectId('654904b169aed3101fc1e7ff'), ObjectId('654904b169aed3101fc1e800'), ObjectId('654904b169aed3101fc1e801'), ObjectId('654904b169aed3101fc1e802'), ObjectId('654904b169aed3101fc1e803'), ObjectId('654904b169aed3101fc1e804'), ObjectId('654904b169aed3101fc1e805'), ObjectId('654904b169aed3101fc1e806'), ObjectId('654904b169aed3101fc1e807'), ObjectId('654904b169aed3101fc1e808'), ObjectId('654904b169aed3101fc1e809'), ObjectId('654904b169aed3101fc1e80a'), ObjectId('654904b169aed3101fc1e80b'), ObjectId('654904b169aed3101fc1e80c'), ObjectId('654904b169aed3101fc1e80d'), ObjectId('654904b169aed3101fc1e80e'), ObjectId('654904b169aed3101fc1e80f'), ObjectId('654904b169aed3101fc1e810'), ObjectId('654904b169aed3101fc1e811'), ObjectId('654904b169aed3101fc1e812'), ObjectId('654904b169aed3101fc1e813')], acknowledged=True)

## MAYO 22

In [55]:
url5= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-05-01T00%3A00%3A00UTC/fechafin/2022-05-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response5 = requests.request("GET", url5, headers=header, params=querystring)
mayo_datos= response5.json()
print(response5.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/8611e676",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [56]:
url5_datos= mayo_datos['datos']
url5_datos

'https://opendata.aemet.es/opendata/sh/8611e676'

In [57]:
response5_datos= requests.get(url5_datos, headers = header)
response5_datos

In [58]:
datos_mayo=response5_datos.json()
datos_mayo[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [63]:
df_mayo= pd.DataFrame(datos_mayo)
df_mayo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-05-01,4358X,DON BENITO,BADAJOZ,273,"20,7","0,0","13,3",23:59,"28,1",Varias,25,"2,8","9,7",13:40,"11,7","988,7",08,"984,2",18
1,2022-05-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"17,8","0,0","9,2",05:30,"26,3",14:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-05-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"18,0","0,0","12,4",23:40,"23,5",13:20,29,"5,3","11,7",21:58,"11,9","952,3",Varias,"950,3",05
3,2022-05-01,6106X,ANTEQUERA,MALAGA,408,"17,6","0,0","9,5",05:00,"25,8",14:30,23,"1,4","6,9",17:10,NaN,"973,6",00,"968,5",19
4,2022-05-01,9698U,TALARN,LLEIDA,807,"14,6","16,8","7,4",04:20,"21,9",12:40,99,"2,8","10,3",Varias,NaN,NaN,NaN,NaN,NaN

In [60]:
#Aplico función:
mayo=procesar_mes(df_mayo)

In [67]:
#eliminar ceuta y melilla
indices_a_eliminar = mayo[mayo['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
mayo = mayo.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
mayo= mayo.reset_index(drop=True)

In [68]:
#Agrego una columna nueva para especificar el mes y poder filtrar bien en Mongo:
mayo['mes']= 'mayo'
mayo

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax,mes
0,A CORUÑA,16.305809,1.342678,7.578472,12.051867,20.556432,mayo
1,ALBACETE,18.918548,0.447967,11.362500,11.329032,26.507258,mayo
2,ALICANTE,20.262727,0.919008,11.537975,13.944545,26.575455,mayo
3,ALMERIA,20.394483,1.441135,11.187097,15.505517,25.275172,mayo
4,ARABA/ALAVA,15.954839,0.389831,8.048387,8.641935,23.275806,mayo
5,ASTURIAS,15.094395,1.062654,6.226106,11.385841,18.799705,mayo
6,AVILA,17.269767,0.690698,10.432258,10.611111,24.016279,mayo
7,BADAJOZ,21.605914,0.218280,10.985621,13.473118,29.745161,mayo
8,BARCELONA,20.109868,0.815584,9.852174,15.009868,25.203289,mayo
9,BIZKAIA,16.894898,0.865854,6.300000,12.403061,21.397959,mayo
10,BURGOS,15.418182,0.552000,8.542500,7.715584,23.118182,mayo
11,CACERES,21.222727,0.071711,10.469565,13.783766,28.649351,mayo
12,CADIZ,20.844186,0.269626,11.203226,15.666977,26.022791,mayo
13,CANTABRIA,15.771429,0.704785,7.291398,11.329032,20.216129,mayo
14,CASTELLON,16.875269,3.171774,10.204839,11.496774,22.249462,mayo
15,CIUDAD REAL,20.249032,0.272727,11.046667,12.055484,28.438710,mayo
16,CORDOBA,21.152419,0.659350,12.120000,13.356452,28.950806,mayo
17,CUENCA,18.927419,0.148333,8.453333,10.650000,27.201613,mayo
18,GIPUZKOA,17.213441,1.252459,6.377419,12.709677,21.723656,mayo
19,GIRONA,16.925000,1.436066,9.329508,9.704839,24.138710,mayo
20,GRANADA,20.279839,0.341803,10.993548,11.416935,29.152419,mayo
21,GUADALAJARA,17.392537,0.615385,10.502985,9.025373,25.761194,mayo
22,HUELVA,20.869355,0.236585,11.651613,14.666935,27.073387,mayo
23,HUESCA,17.462097,0.991870,8.788172,10.201613,24.734677,mayo
24,ILLES BALEARS,19.779538,1.099329,10.086486,14.673927,24.881518,mayo
25,JAEN,21.785806,0.352903,10.336957,14.260000,29.311613,mayo
26,LA RIOJA,18.932258,0.486207,9.674194,11.570968,26.277419,mayo
27,LAS PALMAS,21.662857,0.026168,10.455056,18.417619,24.910000,mayo
28,LEON,14.970161,0.851111,9.118280,7.581452,22.362903,mayo
29,LLEIDA,18.158065,1.180833,11.068966,10.378226,25.938710,mayo
30,LUGO,15.638710,0.961290,7.390000,9.258065,22.012903,mayo
31,MADRID,18.088201,0.387006,10.596774,11.156637,25.042647,mayo
32,MALAGA,20.924731,0.361828,9.717742,16.148925,25.703763,mayo
33,MURCIA,20.632686,1.111935,11.332093,14.038188,27.244516,mayo
34,NAVARRA,18.329032,0.411688,8.225806,11.337419,25.327742,mayo
35,OURENSE,16.979839,0.564516,7.583871,8.871774,25.097581,mayo
36,PALENCIA,15.260215,0.566667,8.370968,7.173118,23.339785,mayo
37,PONTEVEDRA,17.779032,1.726230,8.065455,12.293548,23.262903,mayo
38,SALAMANCA,16.576129,0.186364,9.236290,9.262581,23.891613,mayo
39,SEGOVIA,14.767742,0.789831,9.785484,9.141935,20.398387,mayo
40,SEVILLA,21.577273,0.307237,11.029032,13.534416,29.620130,mayo
41,SORIA,15.954839,0.510345,9.706452,8.680645,23.241935,mayo
42,STA. CRUZ DE TENERIFE,20.359477,0.069307,9.669355,16.892484,23.820261,mayo
43,TARRAGONA,20.667742,1.024194,10.651786,14.079032,27.254839,mayo
44,TERUEL,18.554032,1.082258,10.310870,10.467742,26.640323,mayo
45,TOLEDO,20.650806,0.200000,11.686885,12.511290,28.800806,mayo
46,VALENCIA,20.124615,3.961084,10.848387,14.008718,26.236410,mayo
47,VALLADOLID,16.964516,0.241667,9.632258,9.246774,24.682258,mayo
48,ZAMORA,17.150538,0.574194,9.179348,9.009677,25.301075,mayo
49,ZARAGOZA,19.493548,0.703268,10.296667,12.254839,26.727097,mayo

In [69]:
mayo.to_csv('export/mayo22.csv')

In [70]:
#Exportación a Mongo:

mayo_data = pd.read_csv('export/mayo22.csv')
db = client['turismo']
mayo_list = mayo_data.to_dict(orient='records')
mayo_collection = db['meses']
mayo_collection.insert_many(mayo_list)

InsertManyResult([ObjectId('654905e869aed3101fc1e814'), ObjectId('654905e869aed3101fc1e815'), ObjectId('654905e869aed3101fc1e816'), ObjectId('654905e869aed3101fc1e817'), ObjectId('654905e869aed3101fc1e818'), ObjectId('654905e869aed3101fc1e819'), ObjectId('654905e869aed3101fc1e81a'), ObjectId('654905e869aed3101fc1e81b'), ObjectId('654905e869aed3101fc1e81c'), ObjectId('654905e869aed3101fc1e81d'), ObjectId('654905e869aed3101fc1e81e'), ObjectId('654905e869aed3101fc1e81f'), ObjectId('654905e869aed3101fc1e820'), ObjectId('654905e869aed3101fc1e821'), ObjectId('654905e869aed3101fc1e822'), ObjectId('654905e869aed3101fc1e823'), ObjectId('654905e869aed3101fc1e824'), ObjectId('654905e869aed3101fc1e825'), ObjectId('654905e869aed3101fc1e826'), ObjectId('654905e869aed3101fc1e827'), ObjectId('654905e869aed3101fc1e828'), ObjectId('654905e869aed3101fc1e829'), ObjectId('654905e869aed3101fc1e82a'), ObjectId('654905e869aed3101fc1e82b'), ObjectId('654905e869aed3101fc1e82c'), ObjectId('654905e869aed3101fc1e82d'), ObjectId('654905e869aed3101fc1e82e'), ObjectId('654905e869aed3101fc1e82f'), ObjectId('654905e869aed3101fc1e830'), ObjectId('654905e869aed3101fc1e831'), ObjectId('654905e869aed3101fc1e832'), ObjectId('654905e869aed3101fc1e833'), ObjectId('654905e869aed3101fc1e834'), ObjectId('654905e869aed3101fc1e835'), ObjectId('654905e869aed3101fc1e836'), ObjectId('654905e869aed3101fc1e837'), ObjectId('654905e869aed3101fc1e838'), ObjectId('654905e869aed3101fc1e839'), ObjectId('654905e869aed3101fc1e83a'), ObjectId('654905e869aed3101fc1e83b'), ObjectId('654905e869aed3101fc1e83c'), ObjectId('654905e869aed3101fc1e83d'), ObjectId('654905e869aed3101fc1e83e'), ObjectId('654905e869aed3101fc1e83f'), ObjectId('654905e869aed3101fc1e840'), ObjectId('654905e869aed3101fc1e841'), ObjectId('654905e869aed3101fc1e842'), ObjectId('654905e869aed3101fc1e843'), ObjectId('654905e869aed3101fc1e844'), ObjectId('654905e869aed3101fc1e845')], acknowledged=True)

## JUNIO 22

In [71]:
url6 = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-06-01T00%3A00%3A00UTC/fechafin/2022-06-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response6 = requests.request("GET", url6, headers=header, params=querystring)
junio_datos= response6.json()
print(response6.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1e04fc76",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [72]:
url6_datos= junio_datos['datos']
url6_datos

'https://opendata.aemet.es/opendata/sh/1e04fc76'

In [73]:
response6_datos= requests.get(url6_datos, headers=header)
response6_datos

In [74]:
datos_junio= response6_datos.json()
datos_junio[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [75]:
df_junio= pd.DataFrame(datos_junio)
df_junio.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-06-01,4358X,DON BENITO,BADAJOZ,273,"23,2","0,0","16,5",05:00,"29,9",17:00,26,"3,1","10,0",15:10,"6,8","984,2",08,"981,1",18
1,2022-06-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"21,1","0,0","12,2",04:30,"30,0",16:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"16,4","0,0","13,4",22:48,"19,3",15:29,29,"4,2","11,4",08:21,"2,1","948,7",Varias,"944,9",04
3,2022-06-01,6106X,ANTEQUERA,MALAGA,408,"21,3","0,0","13,7",05:00,"28,9",16:00,29,"1,7","7,8",19:00,NaN,"969,3",08,"965,9",Varias
4,2022-06-01,9698U,TALARN,LLEIDA,807,"22,7","0,0","14,6",03:20,"30,8",14:00,24,"2,5","9,2",14:30,NaN,NaN,NaN,NaN,NaN

In [76]:
#Aplico función:
junio= procesar_mes(df_junio)
junio

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,17.140529,2.204545,6.298592,13.666520,20.613656
1,ALBACETE,24.450420,0.089655,11.862500,16.366387,32.522689
2,ALICANTE,24.780000,0.255085,12.430000,18.069167,31.484167
3,ALMERIA,23.676154,0.050394,10.983051,18.652308,28.700000
4,ARABA/ALAVA,19.431667,0.510909,7.826667,12.016667,26.850000
5,ASTURIAS,16.899390,2.607166,5.286111,13.256707,20.550000
6,AVILA,19.996667,0.257143,10.603333,13.166667,26.806667
7,BADAJOZ,24.242778,0.043333,11.126846,16.171111,32.310556
8,BARCELONA,24.592617,0.232653,10.644444,19.653691,29.532215
9,BIZKAIA,19.484783,1.889916,5.473333,14.948913,24.016304
10,BURGOS,19.513333,0.500000,8.750847,10.978000,28.046000
11,CACERES,24.070667,0.185034,10.424444,16.644000,31.496667
12,CADIZ,22.750239,0.002415,12.145763,17.981818,27.522488
13,CANTABRIA,18.466829,1.787879,6.554444,14.031707,22.904390
14,CASTELLON,21.832222,0.983193,10.523333,16.270000,27.398889
15,CEUTA,23.273333,0.006667,11.430000,19.776667,26.746667
16,CIUDAD REAL,24.629333,0.053333,11.613333,16.492000,32.766000
17,CORDOBA,24.731356,0.004237,13.050000,16.677966,32.784746
18,CUENCA,23.695000,0.062500,9.200000,14.886667,32.500000
19,GIPUZKOA,19.717778,2.664607,5.930000,15.476111,23.955000
20,GIRONA,22.252941,0.749573,10.549153,14.689076,29.826050
21,GRANADA,24.590833,0.018487,11.850000,15.545833,33.644167
22,GUADALAJARA,20.763636,0.165854,11.870000,12.010227,29.519318
23,HUELVA,23.216667,0.010000,12.686667,17.077500,29.349167
24,HUESCA,22.059664,1.168182,8.725882,14.442017,29.678151
25,ILLES BALEARS,24.482759,0.082253,10.924444,19.331724,29.632759
26,JAEN,25.594444,0.248611,11.042857,17.739583,33.457639
27,LA RIOJA,23.633333,0.232000,9.613333,15.846667,31.450000
28,LAS PALMAS,22.727885,0.006796,9.700000,19.731731,25.725962
29,LEON,17.736275,1.370000,8.854167,10.845098,24.624510
30,LLEIDA,23.090833,1.731818,11.727586,14.952500,31.230000
31,LUGO,16.903333,3.113333,5.106667,11.566667,22.253333
32,MADRID,21.796359,0.085014,11.439665,14.696078,28.899440
33,MALAGA,24.270787,0.011864,9.650000,18.861798,29.685393
34,MELILLA,24.246667,0.006897,10.573333,20.790000,27.716667
35,MURCIA,25.323288,0.137458,12.078431,18.459932,32.190102
36,NAVARRA,22.575510,0.448649,8.306667,15.171812,29.944595
37,OURENSE,18.077500,2.203333,6.483051,11.393333,24.765833
38,PALENCIA,18.726667,0.391111,7.276667,10.373333,27.083333
39,PONTEVEDRA,18.018966,2.843860,6.452000,13.639655,22.371186
40,SALAMANCA,19.118000,0.461157,9.375833,11.792000,26.438000
41,SEGOVIA,18.408333,0.466667,10.431667,12.400000,24.421667
42,SEVILLA,24.275194,0.005970,12.113333,15.848837,32.705426
43,SORIA,20.360000,0.221429,10.043333,12.310000,28.410000
44,STA. CRUZ DE TENERIFE,21.497000,0.088070,8.984358,18.240333,24.751000
45,TARRAGONA,25.480000,0.493333,10.555000,19.406667,31.541667
46,TERUEL,23.876667,0.700000,10.875000,15.076667,32.683333
47,TOLEDO,24.634000,0.107483,11.980000,16.193000,33.082000
48,VALENCIA,25.266484,0.237912,11.855462,19.007143,31.529670
49,VALLADOLID,20.695000,0.686538,10.306667,12.436667,28.948333
50,ZAMORA,20.027778,0.698876,9.472727,12.287778,27.761111
51,ZARAGOZA,24.429861,0.526241,11.230631,16.580556,32.282639

In [78]:
#eliminar ceuta y melilla
indices_a_eliminar = junio[junio['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
junio = junio.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
junio= junio.reset_index(drop=True)

In [80]:
#Añado nueva columna al DF mes de junio:
junio['mes']='junio'

In [82]:
junio.to_csv('export/junio22.csv')

In [84]:
#Exportación a Mongo:

junio_data = pd.read_csv('export/junio22.csv')
db = client['turismo']
junio_list = junio_data.to_dict(orient='records')
junio_collection = db['meses']
junio_collection.insert_many(junio_list)

InsertManyResult([ObjectId('6549085e69aed3101fc1e846'), ObjectId('6549085e69aed3101fc1e847'), ObjectId('6549085e69aed3101fc1e848'), ObjectId('6549085e69aed3101fc1e849'), ObjectId('6549085e69aed3101fc1e84a'), ObjectId('6549085e69aed3101fc1e84b'), ObjectId('6549085e69aed3101fc1e84c'), ObjectId('6549085e69aed3101fc1e84d'), ObjectId('6549085e69aed3101fc1e84e'), ObjectId('6549085e69aed3101fc1e84f'), ObjectId('6549085e69aed3101fc1e850'), ObjectId('6549085e69aed3101fc1e851'), ObjectId('6549085e69aed3101fc1e852'), ObjectId('6549085e69aed3101fc1e853'), ObjectId('6549085e69aed3101fc1e854'), ObjectId('6549085e69aed3101fc1e855'), ObjectId('6549085e69aed3101fc1e856'), ObjectId('6549085e69aed3101fc1e857'), ObjectId('6549085e69aed3101fc1e858'), ObjectId('6549085e69aed3101fc1e859'), ObjectId('6549085e69aed3101fc1e85a'), ObjectId('6549085e69aed3101fc1e85b'), ObjectId('6549085e69aed3101fc1e85c'), ObjectId('6549085e69aed3101fc1e85d'), ObjectId('6549085e69aed3101fc1e85e'), ObjectId('6549085e69aed3101fc1e85f'), ObjectId('6549085e69aed3101fc1e860'), ObjectId('6549085e69aed3101fc1e861'), ObjectId('6549085e69aed3101fc1e862'), ObjectId('6549085e69aed3101fc1e863'), ObjectId('6549085e69aed3101fc1e864'), ObjectId('6549085e69aed3101fc1e865'), ObjectId('6549085e69aed3101fc1e866'), ObjectId('6549085e69aed3101fc1e867'), ObjectId('6549085e69aed3101fc1e868'), ObjectId('6549085e69aed3101fc1e869'), ObjectId('6549085e69aed3101fc1e86a'), ObjectId('6549085e69aed3101fc1e86b'), ObjectId('6549085e69aed3101fc1e86c'), ObjectId('6549085e69aed3101fc1e86d'), ObjectId('6549085e69aed3101fc1e86e'), ObjectId('6549085e69aed3101fc1e86f'), ObjectId('6549085e69aed3101fc1e870'), ObjectId('6549085e69aed3101fc1e871'), ObjectId('6549085e69aed3101fc1e872'), ObjectId('6549085e69aed3101fc1e873'), ObjectId('6549085e69aed3101fc1e874'), ObjectId('6549085e69aed3101fc1e875'), ObjectId('6549085e69aed3101fc1e876'), ObjectId('6549085e69aed3101fc1e877')], acknowledged=True)

## JULIO 22

In [85]:
url7= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-07-01T00%3A00%3A00UTC/fechafin/2022-07-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response7 = requests.request("GET", url7, headers=header, params=querystring)
julio_datos= response7.json()
print(response7.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/5dbc83a2",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [86]:
url7_datos= julio_datos['datos']
url7_datos

'https://opendata.aemet.es/opendata/sh/5dbc83a2'

In [87]:
response7_datos= requests.get(url7_datos, headers=header)
response7_datos

In [88]:
datos_julio=response7_datos.json()
datos_julio[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [89]:
df_julio= pd.DataFrame(datos_julio)
df_julio.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-07-01,4358X,DON BENITO,BADAJOZ,273,"26,4","0,0","16,6",05:40,"36,1",16:30,30,"1,1","5,0",16:50,"11,4","983,4",09,"979,7",19
1,2022-07-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"24,5","0,0","12,6",05:20,"36,4",16:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"17,2","4,2","14,0",05:21,"20,3",14:45,NaN,NaN,NaN,NaN,"3,2",NaN,NaN,NaN,NaN
3,2022-07-01,6106X,ANTEQUERA,MALAGA,408,"21,4","0,0","14,0",05:40,"28,9",12:10,15,"2,5","11,1",21:10,NaN,"968,5",23,"965,5",04
4,2022-07-01,9698U,TALARN,LLEIDA,807,"20,9","0,0","13,7",04:00,"28,1",16:20,21,"3,1","10,3",Varias,NaN,NaN,NaN,NaN,NaN

In [90]:
#Aplico función:
julio= procesar_mes(df_julio)
julio

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,20.661382,0.122785,9.775510,15.865041,25.458943
1,ALBACETE,27.159677,0.350000,12.430645,18.901613,35.417742
2,ALICANTE,27.262903,0.001653,12.211957,20.855645,33.681452
3,ALMERIA,26.990278,0.013571,9.216129,21.835417,32.145833
4,ARABA/ALAVA,20.906452,0.091667,9.348387,12.354839,29.464516
5,ASTURIAS,19.654601,0.745141,8.082178,15.699387,23.615337
6,AVILA,27.105085,0.000000,13.100000,19.005085,35.310000
7,BADAJOZ,29.574194,0.000000,12.850323,20.126344,39.032258
8,BARCELONA,26.762903,0.451240,10.906452,21.455645,32.078226
9,BIZKAIA,21.855645,0.183471,9.216129,16.962903,26.758871
10,BURGOS,22.492258,0.072549,10.990164,12.890323,32.088387
11,CACERES,29.834194,0.001290,12.622826,21.012903,38.658710
12,CADIZ,26.983645,0.000469,12.350000,21.507944,32.457009
13,CANTABRIA,20.579710,0.339303,9.604301,15.440580,25.716908
14,CASTELLON,23.924731,1.633065,10.337097,18.180645,29.670968
15,CEUTA,25.254839,0.000000,9.632258,22.080645,28.429032
16,CIUDAD REAL,29.167097,0.023226,12.637097,20.383226,37.950323
17,CORDOBA,29.735246,0.000000,13.490323,20.951639,38.514754
18,CUENCA,28.003333,0.015000,9.696774,18.770000,37.230000
19,GIPUZKOA,21.725269,0.741436,8.853763,17.016129,26.439785
20,GIRONA,24.523387,0.256667,11.113333,16.695161,32.347581
21,GRANADA,28.630275,0.000000,12.704762,18.953211,38.304587
22,GUADALAJARA,24.875281,0.236782,12.559016,15.238202,34.506742
23,HUELVA,27.379032,0.000000,12.629032,20.498387,34.256452
24,HUESCA,24.599194,1.641129,10.462637,15.830645,33.369355
25,ILLES BALEARS,26.865789,0.011221,12.116129,21.471382,32.262500
26,JAEN,30.309868,0.009934,12.044156,21.826316,38.786184
27,LA RIOJA,25.338710,0.240000,12.354839,16.700000,33.958065
28,LAS PALMAS,24.785646,0.007547,10.106897,21.417225,28.155502
29,LEON,23.364516,0.197778,12.141558,14.229032,32.498925
30,LLEIDA,25.059677,1.185714,12.166667,16.837903,33.267742
31,LUGO,20.712903,0.064516,8.676667,13.900000,27.538710
32,MADRID,26.880163,0.105191,12.731694,19.027446,34.736685
33,MALAGA,26.532258,0.008065,10.161702,21.957527,31.116129
34,MELILLA,26.348387,0.106667,9.719355,23.293548,29.422581
35,MURCIA,27.865033,0.017742,11.964019,21.461889,34.272078
36,NAVARRA,24.189610,0.570130,11.783871,16.066883,32.322078
37,OURENSE,23.486179,0.321951,10.364407,13.963415,33.000813
38,PALENCIA,22.609677,0.193548,10.336667,13.083871,32.129032
39,PONTEVEDRA,23.309677,0.126316,11.524528,16.683871,29.932258
40,SALAMANCA,24.221290,0.107200,11.966102,15.090968,33.349677
41,SEGOVIA,23.796774,0.216393,12.677419,17.259677,30.332258
42,SEVILLA,29.576774,0.000000,12.388710,20.363226,38.798710
43,SORIA,24.338710,0.037037,11.619355,14.812903,33.848387
44,STA. CRUZ DE TENERIFE,23.844839,0.026948,10.274194,20.121613,27.566774
45,TARRAGONA,27.612903,0.465574,11.072581,21.361290,33.862903
46,TERUEL,26.149194,1.243902,11.737363,17.370161,34.928226
47,TOLEDO,29.621739,0.011111,13.049180,20.267391,38.976087
48,VALENCIA,27.476503,0.118579,11.307317,21.656284,33.295628
49,VALLADOLID,24.980645,0.083871,12.325806,15.498387,34.469355
50,ZAMORA,24.958065,0.044086,12.085393,15.186022,34.736559
51,ZARAGOZA,26.412903,0.311258,12.348387,18.194194,34.622581

In [92]:
#eliminar ceuta y melilla
indices_a_eliminar = julio[julio['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
julio = julio.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
julio= julio.reset_index(drop=True)

In [94]:
julio['mes']='julio'

In [97]:
julio.to_csv('export/julio22.csv')

In [98]:
#Exportación a Mongo:

julio_data = pd.read_csv('export/julio22.csv')
db = client['turismo']
julio_list = julio_data.to_dict(orient='records')
julio_collection = db['meses']
julio_collection.insert_many(julio_list)

InsertManyResult([ObjectId('654908e769aed3101fc1e878'), ObjectId('654908e769aed3101fc1e879'), ObjectId('654908e769aed3101fc1e87a'), ObjectId('654908e769aed3101fc1e87b'), ObjectId('654908e769aed3101fc1e87c'), ObjectId('654908e769aed3101fc1e87d'), ObjectId('654908e769aed3101fc1e87e'), ObjectId('654908e769aed3101fc1e87f'), ObjectId('654908e769aed3101fc1e880'), ObjectId('654908e769aed3101fc1e881'), ObjectId('654908e769aed3101fc1e882'), ObjectId('654908e769aed3101fc1e883'), ObjectId('654908e769aed3101fc1e884'), ObjectId('654908e769aed3101fc1e885'), ObjectId('654908e769aed3101fc1e886'), ObjectId('654908e769aed3101fc1e887'), ObjectId('654908e769aed3101fc1e888'), ObjectId('654908e769aed3101fc1e889'), ObjectId('654908e769aed3101fc1e88a'), ObjectId('654908e769aed3101fc1e88b'), ObjectId('654908e769aed3101fc1e88c'), ObjectId('654908e769aed3101fc1e88d'), ObjectId('654908e769aed3101fc1e88e'), ObjectId('654908e769aed3101fc1e88f'), ObjectId('654908e769aed3101fc1e890'), ObjectId('654908e769aed3101fc1e891'), ObjectId('654908e769aed3101fc1e892'), ObjectId('654908e769aed3101fc1e893'), ObjectId('654908e769aed3101fc1e894'), ObjectId('654908e769aed3101fc1e895'), ObjectId('654908e769aed3101fc1e896'), ObjectId('654908e769aed3101fc1e897'), ObjectId('654908e769aed3101fc1e898'), ObjectId('654908e769aed3101fc1e899'), ObjectId('654908e769aed3101fc1e89a'), ObjectId('654908e769aed3101fc1e89b'), ObjectId('654908e769aed3101fc1e89c'), ObjectId('654908e769aed3101fc1e89d'), ObjectId('654908e769aed3101fc1e89e'), ObjectId('654908e769aed3101fc1e89f'), ObjectId('654908e769aed3101fc1e8a0'), ObjectId('654908e769aed3101fc1e8a1'), ObjectId('654908e769aed3101fc1e8a2'), ObjectId('654908e769aed3101fc1e8a3'), ObjectId('654908e769aed3101fc1e8a4'), ObjectId('654908e769aed3101fc1e8a5'), ObjectId('654908e769aed3101fc1e8a6'), ObjectId('654908e769aed3101fc1e8a7'), ObjectId('654908e769aed3101fc1e8a8'), ObjectId('654908e769aed3101fc1e8a9')], acknowledged=True)

## AGOSTO 22

In [99]:
url8="https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-08-01T00%3A00%3A00UTC/fechafin/2022-08-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response8 = requests.request("GET", url8, headers=header, params=querystring)
agosto_datos= response8.json()
print(response8.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/00aee56b",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [100]:
url8_datos= agosto_datos['datos']
url8_datos

'https://opendata.aemet.es/opendata/sh/00aee56b'

In [101]:
response8_datos= requests.get(url8_datos, headers=header)
response8_datos

In [102]:
datos_agosto= response8_datos.json()
datos_agosto[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [103]:
df_agosto=pd.DataFrame(datos_agosto)
df_agosto.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-08-01,4358X,DON BENITO,BADAJOZ,273,"33,8","0,0","25,4",05:50,"42,2",15:10,25,"1,1","7,2",22:30,"11,5","983,5",10,"979,8",18
1,2022-08-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"31,5","0,0","21,4",04:10,"41,6",15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"20,0","0,0","17,0",04:15,"23,0",12:52,99,"8,3","13,3",Varias,"10,5","947,0",Varias,"945,2",19
3,2022-08-01,6106X,ANTEQUERA,MALAGA,408,"27,8","0,0","22,4",05:20,"33,3",15:20,15,"3,3","11,1",13:10,NaN,"969,0",Varias,"966,5",17
4,2022-08-01,9698U,TALARN,LLEIDA,807,"25,2","0,0","17,5",05:00,"33,0",14:50,18,"3,1","10,6",13:50,NaN,NaN,NaN,NaN,NaN

In [104]:
#Aplicar función:
agosto=procesar_mes(df_agosto)

In [105]:
#eliminar ceuta y melilla
indices_a_eliminar = agosto[agosto['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
agosto = agosto.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
agosto= agosto.reset_index(drop=True)

In [107]:
#Añado columna:
agosto['mes']='agosto'

In [110]:
agosto.to_csv('export/agosto22.csv')

In [111]:
#Exportación a Mongo:

agosto_data = pd.read_csv('export/agosto22.csv')
db = client['turismo']
agosto_list = agosto_data.to_dict(orient='records')
agosto_collection = db['meses']
agosto_collection.insert_many(agosto_list)

InsertManyResult([ObjectId('6549099669aed3101fc1e8aa'), ObjectId('6549099669aed3101fc1e8ab'), ObjectId('6549099669aed3101fc1e8ac'), ObjectId('6549099669aed3101fc1e8ad'), ObjectId('6549099669aed3101fc1e8ae'), ObjectId('6549099669aed3101fc1e8af'), ObjectId('6549099669aed3101fc1e8b0'), ObjectId('6549099669aed3101fc1e8b1'), ObjectId('6549099669aed3101fc1e8b2'), ObjectId('6549099669aed3101fc1e8b3'), ObjectId('6549099669aed3101fc1e8b4'), ObjectId('6549099669aed3101fc1e8b5'), ObjectId('6549099669aed3101fc1e8b6'), ObjectId('6549099669aed3101fc1e8b7'), ObjectId('6549099669aed3101fc1e8b8'), ObjectId('6549099669aed3101fc1e8b9'), ObjectId('6549099669aed3101fc1e8ba'), ObjectId('6549099669aed3101fc1e8bb'), ObjectId('6549099669aed3101fc1e8bc'), ObjectId('6549099669aed3101fc1e8bd'), ObjectId('6549099669aed3101fc1e8be'), ObjectId('6549099669aed3101fc1e8bf'), ObjectId('6549099669aed3101fc1e8c0'), ObjectId('6549099669aed3101fc1e8c1'), ObjectId('6549099669aed3101fc1e8c2'), ObjectId('6549099669aed3101fc1e8c3'), ObjectId('6549099669aed3101fc1e8c4'), ObjectId('6549099669aed3101fc1e8c5'), ObjectId('6549099669aed3101fc1e8c6'), ObjectId('6549099669aed3101fc1e8c7'), ObjectId('6549099669aed3101fc1e8c8'), ObjectId('6549099669aed3101fc1e8c9'), ObjectId('6549099669aed3101fc1e8ca'), ObjectId('6549099669aed3101fc1e8cb'), ObjectId('6549099669aed3101fc1e8cc'), ObjectId('6549099669aed3101fc1e8cd'), ObjectId('6549099669aed3101fc1e8ce'), ObjectId('6549099669aed3101fc1e8cf'), ObjectId('6549099669aed3101fc1e8d0'), ObjectId('6549099669aed3101fc1e8d1'), ObjectId('6549099669aed3101fc1e8d2'), ObjectId('6549099669aed3101fc1e8d3'), ObjectId('6549099669aed3101fc1e8d4'), ObjectId('6549099669aed3101fc1e8d5'), ObjectId('6549099669aed3101fc1e8d6'), ObjectId('6549099669aed3101fc1e8d7'), ObjectId('6549099669aed3101fc1e8d8'), ObjectId('6549099669aed3101fc1e8d9'), ObjectId('6549099669aed3101fc1e8da'), ObjectId('6549099669aed3101fc1e8db')], acknowledged=True)

## SEPTIEMBRE 22

In [112]:
url9= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-09-01T00%3A00%3A00UTC/fechafin/2022-09-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response9 = requests.request("GET", url9, headers=header, params=querystring)
septiembre_datos= response9.json()
print(response9.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/ce82dd04",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [113]:
url9_datos= septiembre_datos['datos']
url9_datos

'https://opendata.aemet.es/opendata/sh/ce82dd04'

In [114]:
response9_datos= requests.get(url9_datos, headers=header)
response9_datos

In [115]:
datos_septiembre= response9_datos.json()
datos_septiembre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [116]:
df_septiembre= pd.DataFrame(datos_septiembre)
df_septiembre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-09-01,4358X,DON BENITO,BADAJOZ,273,"24,1","0,0","16,8",06:00,"31,4",15:00,23,"2,5","8,3",16:00,"8,0","984,9",09,"982,3",Varias
1,2022-09-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"21,8","0,0","12,2",05:50,"31,3",13:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-09-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"22,5","0,1","19,2",05:59,"25,8",11:47,99,"3,3","8,9",Varias,"0,2","949,4",Varias,"946,3",07
3,2022-09-01,6106X,ANTEQUERA,MALAGA,408,"24,5","0,0","16,6",06:50,"32,4",15:30,29,"1,4","8,1",16:10,NaN,"969,0",09,"966,2",15
4,2022-09-01,9698U,TALARN,LLEIDA,807,"20,5","0,0","12,3",04:40,"28,7",15:20,18,"1,7","7,5",14:20,NaN,NaN,NaN,NaN,NaN

In [117]:
#Aplico función:
septiembre= procesar_mes(df_septiembre)
septiembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,18.676695,3.230568,6.824648,14.812288,22.547458
1,ALBACETE,21.633333,0.981667,8.618182,15.055833,28.206667
2,ALICANTE,24.683333,2.377119,8.538889,18.810833,30.550000
3,ALMERIA,23.904225,0.090345,6.974419,19.039437,28.771127
4,ARABA/ALAVA,17.236667,0.650909,6.813333,9.420000,25.053333
5,ASTURIAS,17.770684,2.340532,6.385024,13.951466,21.591857
6,AVILA,19.152542,1.598246,8.440000,12.530508,25.771186
7,BADAJOZ,22.544068,1.205556,9.116892,15.682486,29.402260
8,BARCELONA,22.934167,0.800847,7.274157,18.038333,27.819167
9,BIZKAIA,19.530000,3.530275,5.516667,14.635556,24.425556
10,BURGOS,16.785333,0.483673,6.890756,9.195333,24.376000
11,CACERES,22.329252,1.050000,8.843820,15.875510,28.790476
12,CADIZ,22.488835,0.366505,9.483333,18.105825,26.882039
13,CANTABRIA,18.546190,3.380769,6.416667,13.753810,23.344286
14,CASTELLON,19.594444,0.975214,7.471667,14.677778,24.508889
15,CEUTA,24.310000,0.306667,8.536667,20.770000,27.843333
16,CIUDAD REAL,21.811565,0.265517,9.527119,14.634694,28.980272
17,CORDOBA,22.904237,0.553390,11.060000,16.068644,29.738983
18,CUENCA,20.540000,1.200000,8.006667,13.121667,27.951667
19,GIPUZKOA,19.341011,4.778771,5.996667,14.840449,23.843820
20,GIRONA,18.766387,3.224167,7.541667,12.555462,24.985714
21,GRANADA,22.729464,0.174138,9.753333,14.610714,30.842857
22,GUADALAJARA,17.881111,0.983133,8.750000,10.355556,25.408889
23,HUELVA,22.869492,0.582051,10.121429,17.527119,28.210169
24,HUESCA,18.030833,2.132500,6.958427,11.473333,24.593333
25,ILLES BALEARS,24.334717,2.281298,7.854857,19.987170,28.688302
26,JAEN,23.289333,0.499333,9.393220,16.577333,29.986667
27,LA RIOJA,20.230000,0.610345,7.903333,13.130000,27.333333
28,LAS PALMAS,24.603902,3.348020,8.273333,21.877561,27.335122
29,LEON,16.994444,1.150575,7.575714,10.322222,23.658889
30,LLEIDA,19.026271,1.563218,9.403333,12.188983,25.863559
31,LUGO,17.173333,1.020000,6.126667,11.070000,23.273333
32,MADRID,18.897479,1.710000,8.372067,12.847059,24.949300
33,MALAGA,23.982184,0.183051,9.260000,19.002874,28.963218
34,MELILLA,25.103333,0.073333,8.168966,21.933333,28.250000
35,MURCIA,24.957333,1.186780,8.401914,19.032667,30.887667
36,NAVARRA,19.654667,1.193919,7.183333,12.871333,26.438000
37,OURENSE,17.515464,1.424176,5.765789,10.753608,24.277320
38,PALENCIA,16.406667,0.624444,6.740000,8.741111,24.072222
39,PONTEVEDRA,19.485000,3.720690,7.179630,14.675000,24.291667
40,SALAMANCA,17.306207,1.873239,8.329358,10.586897,23.980137
41,SEGOVIA,15.341667,1.740678,6.995000,10.210000,20.475000
42,SEVILLA,23.807692,0.613287,9.741667,16.354545,31.261538
43,SORIA,17.500000,0.478571,8.410000,10.160000,24.843333
44,STA. CRUZ DE TENERIFE,23.090667,3.948973,7.742458,20.221000,25.960333
45,TARRAGONA,23.943333,4.328070,7.053333,18.745000,29.150000
46,TERUEL,20.308333,2.030769,8.143023,13.097500,27.520000
47,TOLEDO,21.928889,0.475524,9.913559,14.604444,29.250000
48,VALENCIA,24.317778,0.777714,8.024167,18.932778,29.706667
49,VALLADOLID,18.103333,0.489286,8.320000,10.883333,25.315000
50,ZAMORA,18.358889,1.446667,8.345455,11.202222,25.526667
51,ZARAGOZA,20.868667,0.650350,8.600000,14.197333,27.527333

In [118]:
#eliminar ceuta y melilla
indices_a_eliminar = septiembre[septiembre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
septiembre = septiembre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
septiembre= septiembre.reset_index(drop=True)

In [120]:
septiembre['mes']='septiembre'

In [122]:
septiembre.to_csv('export/septiembre22.csv')

In [123]:
#Exportación a Mongo:

septiembre_data = pd.read_csv('export/junio22.csv')
db = client['turismo']
septiembre_list = septiembre_data.to_dict(orient='records')
septiembre_collection = db['meses']
septiembre_collection.insert_many(septiembre_list)

InsertManyResult([ObjectId('65490a2569aed3101fc1e8dc'), ObjectId('65490a2569aed3101fc1e8dd'), ObjectId('65490a2569aed3101fc1e8de'), ObjectId('65490a2569aed3101fc1e8df'), ObjectId('65490a2569aed3101fc1e8e0'), ObjectId('65490a2569aed3101fc1e8e1'), ObjectId('65490a2569aed3101fc1e8e2'), ObjectId('65490a2569aed3101fc1e8e3'), ObjectId('65490a2569aed3101fc1e8e4'), ObjectId('65490a2569aed3101fc1e8e5'), ObjectId('65490a2569aed3101fc1e8e6'), ObjectId('65490a2569aed3101fc1e8e7'), ObjectId('65490a2569aed3101fc1e8e8'), ObjectId('65490a2569aed3101fc1e8e9'), ObjectId('65490a2569aed3101fc1e8ea'), ObjectId('65490a2569aed3101fc1e8eb'), ObjectId('65490a2569aed3101fc1e8ec'), ObjectId('65490a2569aed3101fc1e8ed'), ObjectId('65490a2569aed3101fc1e8ee'), ObjectId('65490a2569aed3101fc1e8ef'), ObjectId('65490a2569aed3101fc1e8f0'), ObjectId('65490a2569aed3101fc1e8f1'), ObjectId('65490a2569aed3101fc1e8f2'), ObjectId('65490a2569aed3101fc1e8f3'), ObjectId('65490a2569aed3101fc1e8f4'), ObjectId('65490a2569aed3101fc1e8f5'), ObjectId('65490a2569aed3101fc1e8f6'), ObjectId('65490a2569aed3101fc1e8f7'), ObjectId('65490a2569aed3101fc1e8f8'), ObjectId('65490a2569aed3101fc1e8f9'), ObjectId('65490a2569aed3101fc1e8fa'), ObjectId('65490a2569aed3101fc1e8fb'), ObjectId('65490a2569aed3101fc1e8fc'), ObjectId('65490a2569aed3101fc1e8fd'), ObjectId('65490a2569aed3101fc1e8fe'), ObjectId('65490a2569aed3101fc1e8ff'), ObjectId('65490a2569aed3101fc1e900'), ObjectId('65490a2569aed3101fc1e901'), ObjectId('65490a2569aed3101fc1e902'), ObjectId('65490a2569aed3101fc1e903'), ObjectId('65490a2569aed3101fc1e904'), ObjectId('65490a2569aed3101fc1e905'), ObjectId('65490a2569aed3101fc1e906'), ObjectId('65490a2569aed3101fc1e907'), ObjectId('65490a2569aed3101fc1e908'), ObjectId('65490a2569aed3101fc1e909'), ObjectId('65490a2569aed3101fc1e90a'), ObjectId('65490a2569aed3101fc1e90b'), ObjectId('65490a2569aed3101fc1e90c'), ObjectId('65490a2569aed3101fc1e90d')], acknowledged=True)

## OCTUBRE 22

In [124]:
url10="https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-10-01T00%3A00%3A00UTC/fechafin/2022-10-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response10 = requests.request("GET", url10, headers=header, params=querystring)
octubre_datos= response10.json()
print(response10.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/10e075b0",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [125]:
url10_datos=octubre_datos['datos']
url10_datos

'https://opendata.aemet.es/opendata/sh/10e075b0'

In [126]:
response10_datos=requests.get(url10_datos, headers=header)
response10_datos

In [127]:
datos_octubre= response10_datos.json()
datos_octubre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [128]:
df_octubre=pd.DataFrame(datos_octubre)
df_octubre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-10-01,4358X,DON BENITO,BADAJOZ,273,"19,5","0,0","10,4",05:40,"28,6",15:20,05,"0,8","5,0",14:00,"10,4","993,7",10,"988,7",00
1,2022-10-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"16,3",NaN,"5,3",06:10,"27,3",14:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"18,4",Ip,"15,6",05:36,"21,1",12:43,32,"3,9","14,4",00:06,"6,9","949,1",Varias,"946,5",17
3,2022-10-01,6106X,ANTEQUERA,MALAGA,408,"15,6","0,0","7,8",06:40,"23,5",13:10,14,"2,8","11,4",18:00,NaN,"977,1",23,"972,1",Varias
4,2022-10-01,9698U,TALARN,LLEIDA,807,"13,8","0,0","5,3",03:30,"22,3",14:30,22,"2,2","6,1",14:30,NaN,NaN,NaN,NaN,NaN

In [129]:
#Aplicar función:
octubre= procesar_mes(df_octubre)

In [130]:
#eliminar ceuta y melilla
indices_a_eliminar = octubre[octubre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
octubre = octubre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
octubre= septiembre.reset_index(drop=True)

In [132]:
#Añado columna 'mes':

octubre['mes']='octubre'

In [133]:
octubre.to_csv('export/octubre22.csv')

In [134]:
#Exportación a Mongo:

octubre_data = pd.read_csv('export/octubre22.csv')
db = client['turismo']
octubre_list = octubre_data.to_dict(orient='records')
octubre_collection = db['meses']
octubre_collection.insert_many(octubre_list)

InsertManyResult([ObjectId('65490b0669aed3101fc1e90e'), ObjectId('65490b0669aed3101fc1e90f'), ObjectId('65490b0669aed3101fc1e910'), ObjectId('65490b0669aed3101fc1e911'), ObjectId('65490b0669aed3101fc1e912'), ObjectId('65490b0669aed3101fc1e913'), ObjectId('65490b0669aed3101fc1e914'), ObjectId('65490b0669aed3101fc1e915'), ObjectId('65490b0669aed3101fc1e916'), ObjectId('65490b0669aed3101fc1e917'), ObjectId('65490b0669aed3101fc1e918'), ObjectId('65490b0669aed3101fc1e919'), ObjectId('65490b0669aed3101fc1e91a'), ObjectId('65490b0669aed3101fc1e91b'), ObjectId('65490b0669aed3101fc1e91c'), ObjectId('65490b0669aed3101fc1e91d'), ObjectId('65490b0669aed3101fc1e91e'), ObjectId('65490b0669aed3101fc1e91f'), ObjectId('65490b0669aed3101fc1e920'), ObjectId('65490b0669aed3101fc1e921'), ObjectId('65490b0669aed3101fc1e922'), ObjectId('65490b0669aed3101fc1e923'), ObjectId('65490b0669aed3101fc1e924'), ObjectId('65490b0669aed3101fc1e925'), ObjectId('65490b0669aed3101fc1e926'), ObjectId('65490b0669aed3101fc1e927'), ObjectId('65490b0669aed3101fc1e928'), ObjectId('65490b0669aed3101fc1e929'), ObjectId('65490b0669aed3101fc1e92a'), ObjectId('65490b0669aed3101fc1e92b'), ObjectId('65490b0669aed3101fc1e92c'), ObjectId('65490b0669aed3101fc1e92d'), ObjectId('65490b0669aed3101fc1e92e'), ObjectId('65490b0669aed3101fc1e92f'), ObjectId('65490b0669aed3101fc1e930'), ObjectId('65490b0669aed3101fc1e931'), ObjectId('65490b0669aed3101fc1e932'), ObjectId('65490b0669aed3101fc1e933'), ObjectId('65490b0669aed3101fc1e934'), ObjectId('65490b0669aed3101fc1e935'), ObjectId('65490b0669aed3101fc1e936'), ObjectId('65490b0669aed3101fc1e937'), ObjectId('65490b0669aed3101fc1e938'), ObjectId('65490b0669aed3101fc1e939'), ObjectId('65490b0669aed3101fc1e93a'), ObjectId('65490b0669aed3101fc1e93b'), ObjectId('65490b0669aed3101fc1e93c'), ObjectId('65490b0669aed3101fc1e93d'), ObjectId('65490b0669aed3101fc1e93e'), ObjectId('65490b0669aed3101fc1e93f')], acknowledged=True)

## NOVIEMBRE 22

In [135]:
url11= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-11-01T00%3A00%3A00UTC/fechafin/2022-11-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response11 = requests.request("GET", url11, headers=header, params=querystring)
noviembre_datos= response11.json()
print(response11.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1aaa0a38",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [136]:
url11_datos= noviembre_datos['datos']
url11_datos

'https://opendata.aemet.es/opendata/sh/1aaa0a38'

In [137]:
response11_datos= requests.get(url11_datos, headers=header)
response11_datos

In [138]:
datos_noviembre= response11_datos.json()
datos_noviembre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [139]:
df_noviembre= pd.DataFrame(datos_noviembre)
df_noviembre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-11-01,4358X,DON BENITO,BADAJOZ,273,"18,2","0,0","13,8",23:59,"22,5",14:00,34,"0,8","4,4",13:00,"5,9","992,6",Varias,"989,7",00
1,2022-11-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"17,0","0,0","9,3",07:00,"24,7",14:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-11-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"19,6","0,0","14,8",Varias,"24,4",13:57,11,"2,8","6,7",14:17,"9,5","953,3",Varias,"950,6",04
3,2022-11-01,6106X,ANTEQUERA,MALAGA,408,"18,8","0,0","11,3",07:20,"26,3",14:50,31,"1,1","5,6",15:50,NaN,"975,5",09,"972,1",15
4,2022-11-01,9698U,TALARN,LLEIDA,807,"13,0","0,0","8,4",06:00,"17,6",15:40,16,"1,7","4,4",12:40,NaN,NaN,NaN,NaN,NaN

In [140]:
#Aplico la función:
noviembre= procesar_mes(df_noviembre)

In [141]:
#eliminar ceuta y melilla
indices_a_eliminar = noviembre[noviembre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
noviembre = noviembre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
noviembre= noviembre.reset_index(drop=True)

In [143]:
#Añado una columna 'mes':
noviembre['mes']='noviembre'

In [145]:
noviembre.to_csv('export/noviembre22.csv')

In [147]:
#Exportación a Mongo:

noviembre_data = pd.read_csv('export/noviembre22.csv')
db = client['turismo']
noviembre_list = noviembre_data.to_dict(orient='records')
noviembre_collection = db['meses']
noviembre_collection.insert_many(noviembre_list)

InsertManyResult([ObjectId('65490c5c69aed3101fc1e940'), ObjectId('65490c5c69aed3101fc1e941'), ObjectId('65490c5c69aed3101fc1e942'), ObjectId('65490c5c69aed3101fc1e943'), ObjectId('65490c5c69aed3101fc1e944'), ObjectId('65490c5c69aed3101fc1e945'), ObjectId('65490c5c69aed3101fc1e946'), ObjectId('65490c5c69aed3101fc1e947'), ObjectId('65490c5c69aed3101fc1e948'), ObjectId('65490c5c69aed3101fc1e949'), ObjectId('65490c5c69aed3101fc1e94a'), ObjectId('65490c5c69aed3101fc1e94b'), ObjectId('65490c5c69aed3101fc1e94c'), ObjectId('65490c5c69aed3101fc1e94d'), ObjectId('65490c5c69aed3101fc1e94e'), ObjectId('65490c5c69aed3101fc1e94f'), ObjectId('65490c5c69aed3101fc1e950'), ObjectId('65490c5c69aed3101fc1e951'), ObjectId('65490c5c69aed3101fc1e952'), ObjectId('65490c5c69aed3101fc1e953'), ObjectId('65490c5c69aed3101fc1e954'), ObjectId('65490c5c69aed3101fc1e955'), ObjectId('65490c5c69aed3101fc1e956'), ObjectId('65490c5c69aed3101fc1e957'), ObjectId('65490c5c69aed3101fc1e958'), ObjectId('65490c5c69aed3101fc1e959'), ObjectId('65490c5c69aed3101fc1e95a'), ObjectId('65490c5c69aed3101fc1e95b'), ObjectId('65490c5c69aed3101fc1e95c'), ObjectId('65490c5c69aed3101fc1e95d'), ObjectId('65490c5c69aed3101fc1e95e'), ObjectId('65490c5c69aed3101fc1e95f'), ObjectId('65490c5c69aed3101fc1e960'), ObjectId('65490c5c69aed3101fc1e961'), ObjectId('65490c5c69aed3101fc1e962'), ObjectId('65490c5c69aed3101fc1e963'), ObjectId('65490c5c69aed3101fc1e964'), ObjectId('65490c5c69aed3101fc1e965'), ObjectId('65490c5c69aed3101fc1e966'), ObjectId('65490c5c69aed3101fc1e967'), ObjectId('65490c5c69aed3101fc1e968'), ObjectId('65490c5c69aed3101fc1e969'), ObjectId('65490c5c69aed3101fc1e96a'), ObjectId('65490c5c69aed3101fc1e96b'), ObjectId('65490c5c69aed3101fc1e96c'), ObjectId('65490c5c69aed3101fc1e96d'), ObjectId('65490c5c69aed3101fc1e96e'), ObjectId('65490c5c69aed3101fc1e96f'), ObjectId('65490c5c69aed3101fc1e970'), ObjectId('65490c5c69aed3101fc1e971')], acknowledged=True)

## DICIEMBRE 22

In [148]:
url12= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-12-01T00%3A00%3A00UTC/fechafin/2022-12-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response12 = requests.request("GET", url12, headers=header, params=querystring)
diciembre_datos= response12.json()
print(response12.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1dbadfee",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [149]:
url12_datos= diciembre_datos['datos']
url12_datos

'https://opendata.aemet.es/opendata/sh/1dbadfee'

In [150]:
response12_datos= requests.get(url12_datos, headers=header)
response12_datos

In [151]:
datos_diciembre= response12_datos.json()
datos_diciembre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [152]:
df_diciembre=pd.DataFrame(datos_diciembre)
df_diciembre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-12-01,4358X,DON BENITO,BADAJOZ,273,"12,6","0,0","7,1",23:59,"18,0",14:40,11,"0,8","3,9",09:00,"8,2","982,0",00,"979,8",16
1,2022-12-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,6",NaN,"3,7",23:59,"17,4",13:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"15,3","11,5","11,9",07:46,"18,7",Varias,29,"7,2","13,3",21:45,"7,8","948,1",00,"944,3",15
3,2022-12-01,9698U,TALARN,LLEIDA,807,"2,9","0,0","-1,7",07:20,"7,5",14:50,18,"1,1","3,9",12:30,NaN,NaN,NaN,NaN,NaN
4,2022-12-01,4410X,MÉRIDA,BADAJOZ,228,"10,8","0,0","3,3",23:40,"18,3",14:40,01,"1,1","4,7",11:10,NaN,NaN,NaN,NaN,NaN

In [153]:
#Aplico función:
diciembre=procesar_mes(df_diciembre)

In [154]:
#eliminar ceuta y melilla
indices_a_eliminar = diciembre[diciembre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
diciembre = diciembre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
diciembre= diciembre.reset_index(drop=True)

In [157]:
diciembre['mes']='diciembre'

In [158]:
diciembre.to_csv('export/diciembre22.csv')

In [159]:
#Exportación a Mongo:

diciembre_data = pd.read_csv('export/diciembre22.csv')
db = client['turismo']
diciembre_list = diciembre_data.to_dict(orient='records')
diciembre_collection = db['meses']
diciembre_collection.insert_many(diciembre_list)

InsertManyResult([ObjectId('65490dbb69aed3101fc1e972'), ObjectId('65490dbb69aed3101fc1e973'), ObjectId('65490dbb69aed3101fc1e974'), ObjectId('65490dbb69aed3101fc1e975'), ObjectId('65490dbb69aed3101fc1e976'), ObjectId('65490dbb69aed3101fc1e977'), ObjectId('65490dbb69aed3101fc1e978'), ObjectId('65490dbb69aed3101fc1e979'), ObjectId('65490dbb69aed3101fc1e97a'), ObjectId('65490dbb69aed3101fc1e97b'), ObjectId('65490dbb69aed3101fc1e97c'), ObjectId('65490dbb69aed3101fc1e97d'), ObjectId('65490dbb69aed3101fc1e97e'), ObjectId('65490dbb69aed3101fc1e97f'), ObjectId('65490dbb69aed3101fc1e980'), ObjectId('65490dbb69aed3101fc1e981'), ObjectId('65490dbb69aed3101fc1e982'), ObjectId('65490dbb69aed3101fc1e983'), ObjectId('65490dbb69aed3101fc1e984'), ObjectId('65490dbb69aed3101fc1e985'), ObjectId('65490dbb69aed3101fc1e986'), ObjectId('65490dbb69aed3101fc1e987'), ObjectId('65490dbb69aed3101fc1e988'), ObjectId('65490dbb69aed3101fc1e989'), ObjectId('65490dbb69aed3101fc1e98a'), ObjectId('65490dbb69aed3101fc1e98b'), ObjectId('65490dbb69aed3101fc1e98c'), ObjectId('65490dbb69aed3101fc1e98d'), ObjectId('65490dbb69aed3101fc1e98e'), ObjectId('65490dbb69aed3101fc1e98f'), ObjectId('65490dbb69aed3101fc1e990'), ObjectId('65490dbb69aed3101fc1e991'), ObjectId('65490dbb69aed3101fc1e992'), ObjectId('65490dbb69aed3101fc1e993'), ObjectId('65490dbb69aed3101fc1e994'), ObjectId('65490dbb69aed3101fc1e995'), ObjectId('65490dbb69aed3101fc1e996'), ObjectId('65490dbb69aed3101fc1e997'), ObjectId('65490dbb69aed3101fc1e998'), ObjectId('65490dbb69aed3101fc1e999'), ObjectId('65490dbb69aed3101fc1e99a'), ObjectId('65490dbb69aed3101fc1e99b'), ObjectId('65490dbb69aed3101fc1e99c'), ObjectId('65490dbb69aed3101fc1e99d'), ObjectId('65490dbb69aed3101fc1e99e'), ObjectId('65490dbb69aed3101fc1e99f'), ObjectId('65490dbb69aed3101fc1e9a0'), ObjectId('65490dbb69aed3101fc1e9a1'), ObjectId('65490dbb69aed3101fc1e9a2'), ObjectId('65490dbb69aed3101fc1e9a3')], acknowledged=True)