In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
import numpy as np

In [2]:
aemet = os.getenv("api")

with open('../api.txt', 'r') as file: 
    
    token = file.read()

header = {'Authorization': f"password {token}"}

## Enero 22

In [3]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-01-01T00%3A00%3A00UTC/fechafin/2022-01-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=header, params=querystring)
enero_datos= response.json()
print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b338cd98",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [4]:
#He comprobado que la solicitud ha sido exitosa por lo que hago una segunda solicitud para obtener los datos reales en la key "datos":
url_datos = enero_datos["datos"]
url_datos

'https://opendata.aemet.es/opendata/sh/b338cd98'

In [5]:
response_datos = requests.get(url_datos, headers=header)
response_datos

In [6]:
datos_enero = response_datos.json()
datos_enero[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

A continuación, tranformo mis lista de dicc en un DataFrame para estructurar la información climática de manera ordenada y eficiente. Esto facilita la manipulación, análisis y visualización de los datos, permitiendo un acceso más rápido y preciso a la información clave, como las temperaturas medias, precipitaciones y fechas.

In [7]:
df_enero = pd.DataFrame(datos_enero)
df_enero.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-01-01,4358X,DON BENITO,BADAJOZ,273,"13,8","0,0","6,8",02:50,"20,8",15:30,08,"1,4","5,0",09:10,"8,2","996,3",23,"993,8",15
1,2022-01-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,8","0,5","0,8",06:30,"20,8",15:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"19,9","0,0","15,0",08:01,"24,8",11:06,11,"2,8","7,8",14:38,"7,2","954,7",Varias,"950,9",04
3,2022-01-01,6106X,ANTEQUERA,MALAGA,408,"12,6","0,0","5,8",23:50,"19,3",13:00,16,"1,1","9,7",12:10,NaN,"980,1",23,"977,5",Varias
4,2022-01-01,9698U,TALARN,LLEIDA,807,"10,4","0,0","5,0",07:20,"15,7",14:40,17,"1,1","3,3",12:20,NaN,NaN,NaN,NaN,NaN

Una vez en este punto, voy a quedarme con las columnas que necesito y tienen relevancia en mi análisis de turismo. Así simplificaré y optimizaré mi conjunto de datos. Beneficios:

- Reducción de dimensiones
- Mayor claridad
- Eficiencia en el almacenamiento
- Mayor precisión

In [8]:
columnas_interes = ['fecha', 'provincia', 'tmed', 'prec', 'sol', 'tmin', 'tmax']
df_enero = df_enero[columnas_interes]
df_enero.head()

        fecha              provincia  tmed prec  sol  tmin  tmax
0  2022-01-01                BADAJOZ  13,8  0,0  8,2   6,8  20,8
1  2022-01-01            CIUDAD REAL  10,8  0,5  NaN   0,8  20,8
2  2022-01-01  STA. CRUZ DE TENERIFE  19,9  0,0  7,2  15,0  24,8
3  2022-01-01                 MALAGA  12,6  0,0  NaN   5,8  19,3
4  2022-01-01                 LLEIDA  10,4  0,0  NaN   5,0  15,7

In [9]:
df_enero.shape

(7513, 7)

In [10]:
df_enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7513 entries, 0 to 7512
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      7513 non-null   object
 1   provincia  7513 non-null   object
 2   tmed       7301 non-null   object
 3   prec       7300 non-null   object
 4   sol        4303 non-null   object
 5   tmin       7302 non-null   object
 6   tmax       7304 non-null   object
dtypes: object(7)
memory usage: 411.0+ KB

In [11]:
df_enero['tmed'] = df_enero['tmed'].str.replace(',', '.').astype(float)
df_enero['prec'] = df_enero['prec'].replace('Ip', np.nan)
df_enero['prec'] = df_enero['prec'].str.replace(',', '.').astype(float)
df_enero['sol'] = df_enero['sol'].str.replace(',', '.').astype(float)
df_enero['tmin'] = df_enero['tmin'].str.replace(',', '.').astype(float)
df_enero['tmax'] = df_enero['tmax'].str.replace(',', '.').astype(float)

In [12]:
#convertir la columna "fecha" en datetime:
df_enero['fecha'] = pd.to_datetime(df_enero['fecha'])

In [13]:
df_enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7513 entries, 0 to 7512
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      7513 non-null   datetime64[ns]
 1   provincia  7513 non-null   object
 2   tmed       7301 non-null   float64
 3   prec       7208 non-null   float64
 4   sol        4303 non-null   float64
 5   tmin       7302 non-null   float64
 6   tmax       7304 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 411.0+ KB

In [14]:
df_enero.head()

       fecha              provincia  tmed  prec  sol  tmin  tmax
0 2022-01-01                BADAJOZ  13.8   0.0  8.2   6.8  20.8
1 2022-01-01            CIUDAD REAL  10.8   0.5  NaN   0.8  20.8
2 2022-01-01  STA. CRUZ DE TENERIFE  19.9   0.0  7.2  15.0  24.8
3 2022-01-01                 MALAGA  12.6   0.0  NaN   5.8  19.3
4 2022-01-01                 LLEIDA  10.4   0.0  NaN   5.0  15.7

In [15]:
# Agrupar por provincia y calcular la media de cada columna
enero = df_enero.groupby('provincia').agg({
    'tmed': 'mean',
    'prec': 'mean',
    'sol': 'mean',
    'tmin': 'mean',
    'tmax': 'mean'
}).reset_index()

# Renombrar las columnas para mayor claridad
enero = enero.rename(columns={
    'tmed': 'media_tmed',
    'prec': 'media_prec',
    'sol': 'media_sol',
    'tmin': 'media_tmin',
    'tmax': 'media_tmax'
})

# Resultado con la media de cada columna por provincia
print(enero)

                provincia  media_tmed  media_prec  media_sol  media_tmin  \
0                A CORUÑA   10.129289    1.503376   5.338356    6.190377
1                ALBACETE    6.384677    0.045968   7.015385    0.026613
2                ALICANTE    9.916129    0.433636   6.690323    3.551613
3                 ALMERIA   11.836585    0.116129   6.777419    7.021138
4             ARABA/ALAVA    4.653226    2.538333   5.422581   -1.283871
5                ASTURIAS    8.325740    1.619512   4.994170    4.604734
6                   AVILA    5.700000    0.184000   5.935484   -0.200000
7                 BADAJOZ    9.021505    0.143011   7.554545    2.715054
8               BARCELONA    8.913333    0.241818   6.178378    3.700000
9                 BIZKAIA    8.689247    3.305691   4.803226    4.669892
10                 BURGOS    3.540645    0.644371   4.911382   -2.896774
11                CACERES    8.376129    0.194839   8.050538    2.640000
12                  CADIZ   12.333180    0.375472   7.470000    8.201382
13              CANTABRIA    7.795853    2.020465   4.838710    3.326267
14              CASTELLON    6.636957    0.204065   7.301613    1.333696
15                  CEUTA   14.132258    0.896774   4.209677   12.177419
16            CIUDAD REAL    6.016774    0.358065   7.228261   -1.006452
17                CORDOBA    9.301613    0.164516   8.048387    3.418548
18                 CUENCA    6.204959    0.339785   6.900000   -1.230579
19               GIPUZKOA    7.804839    4.122222   4.227957    3.731720
20                 GIRONA    4.854032    0.121951   6.417742   -2.511290
21                GRANADA    7.366935    0.229348   6.837634   -0.236290
22            GUADALAJARA    3.676344    0.297778   7.070652   -4.578495
23                 HUELVA   12.106452    0.114634   8.267742    6.637903
24                 HUESCA    5.123387    1.136585   6.018280   -0.963710
25          ILLES BALEARS    9.731290    0.553716   6.100000    4.946774
26                   JAEN    8.695556    0.382090   7.024658    3.059259
27               LA RIOJA    5.954839    0.389286   5.996774    0.645161
28             LAS PALMAS   18.732407    0.482464   6.716304   15.665278
29                   LEON    3.984677    0.463115   6.192473   -1.967742
30                 LLEIDA    3.517857    1.418750   7.290323   -3.382143
31                   LUGO    6.467742    1.200000   4.935484    0.706452
32                 MADRID    5.046505    0.548673   7.096774   -0.461559
33                 MALAGA   12.677419    0.252973   3.612903    8.749032
34                MELILLA   13.406452    0.096774   7.654839   10.200000
35                 MURCIA   10.192532    0.341971   6.510698    4.210065
36                NAVARRA    5.594771    3.289610   6.277419   -0.186364
37                OURENSE    6.264754    0.765574   5.069355   -0.586066
38               PALENCIA    4.051613    0.334409   6.656452   -2.292473
39             PONTEVEDRA   10.090164    2.787931   6.360345    5.331148
40              SALAMANCA    4.542581    0.240000   7.016129   -1.946452
41                SEGOVIA    3.374194    0.665574   5.260656   -0.675806
42                SEVILLA   10.428387    0.109934   7.754839    3.800000
43                  SORIA    4.506452    0.120000   7.832258   -3.209677
44  STA. CRUZ DE TENERIFE   17.092258    1.491419   6.403763   14.049032
45              TARRAGONA    9.212903    0.109677   7.974194    2.456452
46                 TERUEL    4.880645    0.095935   7.529032   -2.441129
47                 TOLEDO    6.548571    0.220000   7.520000   -0.436190
48               VALENCIA    9.852688    0.497297   7.054839    3.658065
49             VALLADOLID    4.353226    0.256452   7.141935   -1.951613
50                 ZAMORA    4.131183    0.081720   6.480645   -2.850538
51               ZARAGOZA    5.201290    0.489474   6.887097   -1.202581

    media_tmax
0    14.065272
1    12.737097
2    16.283065
3    16.647967
4    10.593548
5    12.047041
6    11.592157
7    15.317742
8    14.126061
9    12.700000
10    9.967097
11   14.117419
12   16.460369
13   12.261290
14   11.947826
15   16.090323
16   13.051613
17   15.176613
18   13.640496
19   11.876344
20   12.220161
21   14.972581
22   11.931183
23   17.574194
24   11.212903
25   14.509677
26   14.332593
27   11.270968
28   21.796759
29    9.941935
30   10.422321
31   12.222581
32   10.559140
33   16.601290
34   16.619355
35   16.216774
36   11.353896
37   13.109836
38   10.388172
39   14.836066
40   11.038710
41    7.417742
42   17.056129
43   12.229032
44   20.135484
45   15.974194
46   12.208065
47   13.532381
48   16.045699
49   10.659677
50   11.110753
51   11.609032

In [16]:
enero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,10.129289,1.503376,5.338356,6.190377,14.065272
1,ALBACETE,6.384677,0.045968,7.015385,0.026613,12.737097
2,ALICANTE,9.916129,0.433636,6.690323,3.551613,16.283065
3,ALMERIA,11.836585,0.116129,6.777419,7.021138,16.647967
4,ARABA/ALAVA,4.653226,2.538333,5.422581,-1.283871,10.593548
5,ASTURIAS,8.325740,1.619512,4.994170,4.604734,12.047041
6,AVILA,5.700000,0.184000,5.935484,-0.200000,11.592157
7,BADAJOZ,9.021505,0.143011,7.554545,2.715054,15.317742
8,BARCELONA,8.913333,0.241818,6.178378,3.700000,14.126061
9,BIZKAIA,8.689247,3.305691,4.803226,4.669892,12.700000
10,BURGOS,3.540645,0.644371,4.911382,-2.896774,9.967097
11,CACERES,8.376129,0.194839,8.050538,2.640000,14.117419
12,CADIZ,12.333180,0.375472,7.470000,8.201382,16.460369
13,CANTABRIA,7.795853,2.020465,4.838710,3.326267,12.261290
14,CASTELLON,6.636957,0.204065,7.301613,1.333696,11.947826
15,CEUTA,14.132258,0.896774,4.209677,12.177419,16.090323
16,CIUDAD REAL,6.016774,0.358065,7.228261,-1.006452,13.051613
17,CORDOBA,9.301613,0.164516,8.048387,3.418548,15.176613
18,CUENCA,6.204959,0.339785,6.900000,-1.230579,13.640496
19,GIPUZKOA,7.804839,4.122222,4.227957,3.731720,11.876344
20,GIRONA,4.854032,0.121951,6.417742,-2.511290,12.220161
21,GRANADA,7.366935,0.229348,6.837634,-0.236290,14.972581
22,GUADALAJARA,3.676344,0.297778,7.070652,-4.578495,11.931183
23,HUELVA,12.106452,0.114634,8.267742,6.637903,17.574194
24,HUESCA,5.123387,1.136585,6.018280,-0.963710,11.212903
25,ILLES BALEARS,9.731290,0.553716,6.100000,4.946774,14.509677
26,JAEN,8.695556,0.382090,7.024658,3.059259,14.332593
27,LA RIOJA,5.954839,0.389286,5.996774,0.645161,11.270968
28,LAS PALMAS,18.732407,0.482464,6.716304,15.665278,21.796759
29,LEON,3.984677,0.463115,6.192473,-1.967742,9.941935
30,LLEIDA,3.517857,1.418750,7.290323,-3.382143,10.422321
31,LUGO,6.467742,1.200000,4.935484,0.706452,12.222581
32,MADRID,5.046505,0.548673,7.096774,-0.461559,10.559140
33,MALAGA,12.677419,0.252973,3.612903,8.749032,16.601290
34,MELILLA,13.406452,0.096774,7.654839,10.200000,16.619355
35,MURCIA,10.192532,0.341971,6.510698,4.210065,16.216774
36,NAVARRA,5.594771,3.289610,6.277419,-0.186364,11.353896
37,OURENSE,6.264754,0.765574,5.069355,-0.586066,13.109836
38,PALENCIA,4.051613,0.334409,6.656452,-2.292473,10.388172
39,PONTEVEDRA,10.090164,2.787931,6.360345,5.331148,14.836066
40,SALAMANCA,4.542581,0.240000,7.016129,-1.946452,11.038710
41,SEGOVIA,3.374194,0.665574,5.260656,-0.675806,7.417742
42,SEVILLA,10.428387,0.109934,7.754839,3.800000,17.056129
43,SORIA,4.506452,0.120000,7.832258,-3.209677,12.229032
44,STA. CRUZ DE TENERIFE,17.092258,1.491419,6.403763,14.049032,20.135484
45,TARRAGONA,9.212903,0.109677,7.974194,2.456452,15.974194
46,TERUEL,4.880645,0.095935,7.529032,-2.441129,12.208065
47,TOLEDO,6.548571,0.220000,7.520000,-0.436190,13.532381
48,VALENCIA,9.852688,0.497297,7.054839,3.658065,16.045699
49,VALLADOLID,4.353226,0.256452,7.141935,-1.951613,10.659677
50,ZAMORA,4.131183,0.081720,6.480645,-2.850538,11.110753
51,ZARAGOZA,5.201290,0.489474,6.887097,-1.202581,11.609032

In [91]:
#eliminar ceuta y melilla
indices_a_eliminar = enero[enero['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
enero = enero.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
enero= enero.reset_index(drop=True)
enero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,10.129289,1.503376,5.338356,6.190377,14.065272
1,ALBACETE,6.384677,0.045968,7.015385,0.026613,12.737097
2,ALICANTE,9.916129,0.433636,6.690323,3.551613,16.283065
3,ALMERIA,11.836585,0.116129,6.777419,7.021138,16.647967
4,ARABA/ALAVA,4.653226,2.538333,5.422581,-1.283871,10.593548
5,ASTURIAS,8.325740,1.619512,4.994170,4.604734,12.047041
6,AVILA,5.700000,0.184000,5.935484,-0.200000,11.592157
7,BADAJOZ,9.021505,0.143011,7.554545,2.715054,15.317742
8,BARCELONA,8.913333,0.241818,6.178378,3.700000,14.126061
9,BIZKAIA,8.689247,3.305691,4.803226,4.669892,12.700000
10,BURGOS,3.540645,0.644371,4.911382,-2.896774,9.967097
11,CACERES,8.376129,0.194839,8.050538,2.640000,14.117419
12,CADIZ,12.333180,0.375472,7.470000,8.201382,16.460369
13,CANTABRIA,7.795853,2.020465,4.838710,3.326267,12.261290
14,CASTELLON,6.636957,0.204065,7.301613,1.333696,11.947826
15,CIUDAD REAL,6.016774,0.358065,7.228261,-1.006452,13.051613
16,CORDOBA,9.301613,0.164516,8.048387,3.418548,15.176613
17,CUENCA,6.204959,0.339785,6.900000,-1.230579,13.640496
18,GIPUZKOA,7.804839,4.122222,4.227957,3.731720,11.876344
19,GIRONA,4.854032,0.121951,6.417742,-2.511290,12.220161
20,GRANADA,7.366935,0.229348,6.837634,-0.236290,14.972581
21,GUADALAJARA,3.676344,0.297778,7.070652,-4.578495,11.931183
22,HUELVA,12.106452,0.114634,8.267742,6.637903,17.574194
23,HUESCA,5.123387,1.136585,6.018280,-0.963710,11.212903
24,ILLES BALEARS,9.731290,0.553716,6.100000,4.946774,14.509677
25,JAEN,8.695556,0.382090,7.024658,3.059259,14.332593
26,LA RIOJA,5.954839,0.389286,5.996774,0.645161,11.270968
27,LAS PALMAS,18.732407,0.482464,6.716304,15.665278,21.796759
28,LEON,3.984677,0.463115,6.192473,-1.967742,9.941935
29,LLEIDA,3.517857,1.418750,7.290323,-3.382143,10.422321
30,LUGO,6.467742,1.200000,4.935484,0.706452,12.222581
31,MADRID,5.046505,0.548673,7.096774,-0.461559,10.559140
32,MALAGA,12.677419,0.252973,3.612903,8.749032,16.601290
33,MURCIA,10.192532,0.341971,6.510698,4.210065,16.216774
34,NAVARRA,5.594771,3.289610,6.277419,-0.186364,11.353896
35,OURENSE,6.264754,0.765574,5.069355,-0.586066,13.109836
36,PALENCIA,4.051613,0.334409,6.656452,-2.292473,10.388172
37,PONTEVEDRA,10.090164,2.787931,6.360345,5.331148,14.836066
38,SALAMANCA,4.542581,0.240000,7.016129,-1.946452,11.038710
39,SEGOVIA,3.374194,0.665574,5.260656,-0.675806,7.417742
40,SEVILLA,10.428387,0.109934,7.754839,3.800000,17.056129
41,SORIA,4.506452,0.120000,7.832258,-3.209677,12.229032
42,STA. CRUZ DE TENERIFE,17.092258,1.491419,6.403763,14.049032,20.135484
43,TARRAGONA,9.212903,0.109677,7.974194,2.456452,15.974194
44,TERUEL,4.880645,0.095935,7.529032,-2.441129,12.208065
45,TOLEDO,6.548571,0.220000,7.520000,-0.436190,13.532381
46,VALENCIA,9.852688,0.497297,7.054839,3.658065,16.045699
47,VALLADOLID,4.353226,0.256452,7.141935,-1.951613,10.659677
48,ZAMORA,4.131183,0.081720,6.480645,-2.850538,11.110753
49,ZARAGOZA,5.201290,0.489474,6.887097,-1.202581,11.609032

Hago una función para aplicar en el resto de meses:

In [18]:
def procesar_mes(df_mes):
    # Reemplazar comas por puntos y convertir las columnas numéricas a tipo float
    df_mes['tmed'] = df_mes['tmed'].str.replace(',', '.').astype(float)
    df_mes['prec'] = df_mes['prec'].replace('Acum', np.nan)
    df_mes['prec'] = df_mes['prec'].str.replace(',', '.').replace('Ip', np.nan).astype(float)
    df_mes['sol'] = df_mes['sol'].str.replace(',', '.').astype(float)
    df_mes['tmin'] = df_mes['tmin'].str.replace(',', '.').astype(float)
    df_mes['tmax'] = df_mes['tmax'].str.replace(',', '.').astype(float)
    
    # Convertir la columna "fecha" en datetime
    df_mes['fecha'] = pd.to_datetime(df_mes['fecha'])
    
    # Agrupar por provincia y calcular la media de cada columna
    df_media_mes = df_mes.groupby('provincia').agg({
        'tmed': 'mean',
        'prec': 'mean',
        'sol': 'mean',
        'tmin': 'mean',
        'tmax': 'mean'
    }).reset_index()
    
    # Renombrar las columnas para mayor claridad
    df_media_mes = df_media_mes.rename(columns={
        'tmed': 'media_tmed',
        'prec': 'media_prec',
        'sol': 'media_sol',
        'tmin': 'media_tmin',
        'tmax': 'media_tmax'
    })
    
    return df_media_mes

## FEBRERO 22

In [19]:
url2 = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-02-01T00%3A00%3A00UTC/fechafin/2022-02-28T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response2 = requests.request("GET", url2, headers=header, params=querystring)
febrero_datos= response2.json()
print(response2.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/f7f48dd9",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [20]:
url2_datos= febrero_datos['datos']
url2_datos

'https://opendata.aemet.es/opendata/sh/f7f48dd9'

In [21]:
response2_datos = requests.get(url2_datos, headers=header)
response2_datos

In [22]:
datos_febrero= response2_datos.json()
datos_febrero[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [23]:
df_febrero= pd.DataFrame(datos_febrero)
df_febrero.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-02-01,4358X,DON BENITO,BADAJOZ,273,"9,2","0,0","0,8",07:50,"17,7",15:40,09,"0,8","5,0",23:59,"9,5","997,1",09,"994,2",17
1,2022-02-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"7,4","0,0","-1,7",07:30,"16,5",16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"17,0","2,9","12,6",00:51,"21,3",12:36,NaN,"2,2",NaN,NaN,"0,5","950,2",Varias,"947,7",15
3,2022-02-01,6106X,ANTEQUERA,MALAGA,408,"8,1","0,0","0,4",07:30,"15,8",14:30,31,"1,1","6,4",13:30,NaN,"979,7",24,"976,0",15
4,2022-02-01,9698U,TALARN,LLEIDA,807,"10,2","0,0","2,7",04:20,"17,8",13:50,99,"2,5","8,6",Varias,NaN,NaN,NaN,NaN,NaN

In [24]:
#Aplico la función:

febrero = procesar_mes(df_febrero)
febrero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,10.768304,1.522535,5.409023,6.922321,14.616518
1,ALBACETE,9.515179,0.190909,7.159615,3.148214,15.877679
2,ALICANTE,12.166964,0.072222,7.178571,5.994643,18.336607
3,ALMERIA,13.342727,0.166429,7.192857,8.209091,18.477273
4,ARABA/ALAVA,6.512500,0.366000,5.073214,-0.242857,13.269643
5,ASTURIAS,9.590970,1.451916,5.686567,5.618395,13.566221
6,AVILA,8.616071,0.225000,6.792857,2.158929,15.053571
7,BADAJOZ,11.331548,0.136905,7.321324,4.488095,18.180952
8,BARCELONA,11.382143,0.086429,6.037500,6.654286,16.109286
9,BIZKAIA,10.154737,1.444444,4.192857,5.417895,14.886316
10,BURGOS,5.575000,0.164179,5.073214,-1.558571,12.711429
11,CACERES,10.973571,0.192143,7.707317,4.748571,17.193571
12,CADIZ,13.891837,0.229534,7.326786,9.198980,18.577551
13,CANTABRIA,9.124490,1.122872,5.398810,4.403571,13.848469
14,CASTELLON,8.755952,0.291071,7.275000,3.661905,13.848810
15,CEUTA,15.157143,0.525000,5.928571,12.953571,17.378571
16,CIUDAD REAL,9.489928,0.337956,7.196296,2.166906,16.820144
17,CORDOBA,11.870270,0.437615,8.310714,5.531532,18.215315
18,CUENCA,8.355224,0.261765,6.502273,0.728358,15.991045
19,GIPUZKOA,9.694643,1.950314,4.384524,5.239286,14.151786
20,GIRONA,7.549541,0.336364,6.478571,0.700917,14.396330
21,GRANADA,10.783036,0.470408,6.845238,2.725000,18.838393
22,GUADALAJARA,6.455952,0.182278,6.957143,-2.009524,14.926190
23,HUELVA,13.841071,0.186486,8.246429,8.153571,19.523214
24,HUESCA,7.699107,0.731818,6.359036,1.324107,14.075893
25,ILLES BALEARS,11.281786,0.126199,7.321429,6.247143,16.309286
26,JAEN,11.661429,0.364286,6.983333,5.382857,17.946429
27,LA RIOJA,8.439286,0.057143,6.739286,1.871429,14.996429
28,LAS PALMAS,19.755851,0.354450,7.375904,16.413298,23.103191
29,LEON,5.843750,0.272477,6.728571,-0.700893,12.385714
30,LLEIDA,7.435849,0.492308,7.667857,0.155660,14.730189
31,LUGO,7.907143,0.964286,5.075000,1.550000,14.253571
32,MADRID,8.153846,0.399695,7.050595,1.974679,14.334936
33,MALAGA,14.381061,0.167925,5.643636,10.025000,18.743939
34,MELILLA,14.825000,0.207407,6.121429,11.607143,18.050000
35,MURCIA,12.493040,0.089024,7.058673,6.348718,18.642125
36,NAVARRA,8.142857,0.543165,5.960714,2.090714,14.194286
37,OURENSE,8.116964,0.568750,5.123636,0.997321,15.231250
38,PALENCIA,5.776190,0.290476,6.505455,-1.472619,13.033333
39,PONTEVEDRA,11.223214,1.589796,5.678846,6.466071,15.982143
40,SALAMANCA,6.788571,0.120863,6.627273,-0.129286,13.707143
41,SEGOVIA,5.737500,0.400000,5.587500,1.098214,10.367857
42,SEVILLA,12.904286,0.213235,7.951786,5.720714,20.089286
43,SORIA,6.464286,0.237037,7.028571,-0.810714,13.739286
44,STA. CRUZ DE TENERIFE,17.432143,1.321839,7.117365,14.135357,20.728929
45,TARRAGONA,12.246429,0.014545,6.910714,6.205357,18.271429
46,TERUEL,8.046429,0.061261,7.144048,0.839286,15.254464
47,TOLEDO,9.384158,0.277344,7.252830,2.075248,16.694059
48,VALENCIA,12.326776,0.292265,7.065766,6.424590,18.225683
49,VALLADOLID,6.514286,0.096429,6.662500,-0.382143,13.410714
50,ZAMORA,6.669048,0.135714,6.583133,-0.786905,14.125000
51,ZARAGOZA,8.715000,0.047407,6.980357,2.225714,15.212143

In [92]:
#eliminar ceuta y melilla
indices_a_eliminar = febrero[febrero['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
febrero = febrero.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
febrero= febrero.reset_index(drop=True)
febrero

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,10.768304,1.522535,5.409023,6.922321,14.616518
1,ALBACETE,9.515179,0.190909,7.159615,3.148214,15.877679
2,ALICANTE,12.166964,0.072222,7.178571,5.994643,18.336607
3,ALMERIA,13.342727,0.166429,7.192857,8.209091,18.477273
4,ARABA/ALAVA,6.512500,0.366000,5.073214,-0.242857,13.269643
5,ASTURIAS,9.590970,1.451916,5.686567,5.618395,13.566221
6,AVILA,8.616071,0.225000,6.792857,2.158929,15.053571
7,BADAJOZ,11.331548,0.136905,7.321324,4.488095,18.180952
8,BARCELONA,11.382143,0.086429,6.037500,6.654286,16.109286
9,BIZKAIA,10.154737,1.444444,4.192857,5.417895,14.886316
10,BURGOS,5.575000,0.164179,5.073214,-1.558571,12.711429
11,CACERES,10.973571,0.192143,7.707317,4.748571,17.193571
12,CADIZ,13.891837,0.229534,7.326786,9.198980,18.577551
13,CANTABRIA,9.124490,1.122872,5.398810,4.403571,13.848469
14,CASTELLON,8.755952,0.291071,7.275000,3.661905,13.848810
15,CIUDAD REAL,9.489928,0.337956,7.196296,2.166906,16.820144
16,CORDOBA,11.870270,0.437615,8.310714,5.531532,18.215315
17,CUENCA,8.355224,0.261765,6.502273,0.728358,15.991045
18,GIPUZKOA,9.694643,1.950314,4.384524,5.239286,14.151786
19,GIRONA,7.549541,0.336364,6.478571,0.700917,14.396330
20,GRANADA,10.783036,0.470408,6.845238,2.725000,18.838393
21,GUADALAJARA,6.455952,0.182278,6.957143,-2.009524,14.926190
22,HUELVA,13.841071,0.186486,8.246429,8.153571,19.523214
23,HUESCA,7.699107,0.731818,6.359036,1.324107,14.075893
24,ILLES BALEARS,11.281786,0.126199,7.321429,6.247143,16.309286
25,JAEN,11.661429,0.364286,6.983333,5.382857,17.946429
26,LA RIOJA,8.439286,0.057143,6.739286,1.871429,14.996429
27,LAS PALMAS,19.755851,0.354450,7.375904,16.413298,23.103191
28,LEON,5.843750,0.272477,6.728571,-0.700893,12.385714
29,LLEIDA,7.435849,0.492308,7.667857,0.155660,14.730189
30,LUGO,7.907143,0.964286,5.075000,1.550000,14.253571
31,MADRID,8.153846,0.399695,7.050595,1.974679,14.334936
32,MALAGA,14.381061,0.167925,5.643636,10.025000,18.743939
33,MURCIA,12.493040,0.089024,7.058673,6.348718,18.642125
34,NAVARRA,8.142857,0.543165,5.960714,2.090714,14.194286
35,OURENSE,8.116964,0.568750,5.123636,0.997321,15.231250
36,PALENCIA,5.776190,0.290476,6.505455,-1.472619,13.033333
37,PONTEVEDRA,11.223214,1.589796,5.678846,6.466071,15.982143
38,SALAMANCA,6.788571,0.120863,6.627273,-0.129286,13.707143
39,SEGOVIA,5.737500,0.400000,5.587500,1.098214,10.367857
40,SEVILLA,12.904286,0.213235,7.951786,5.720714,20.089286
41,SORIA,6.464286,0.237037,7.028571,-0.810714,13.739286
42,STA. CRUZ DE TENERIFE,17.432143,1.321839,7.117365,14.135357,20.728929
43,TARRAGONA,12.246429,0.014545,6.910714,6.205357,18.271429
44,TERUEL,8.046429,0.061261,7.144048,0.839286,15.254464
45,TOLEDO,9.384158,0.277344,7.252830,2.075248,16.694059
46,VALENCIA,12.326776,0.292265,7.065766,6.424590,18.225683
47,VALLADOLID,6.514286,0.096429,6.662500,-0.382143,13.410714
48,ZAMORA,6.669048,0.135714,6.583133,-0.786905,14.125000
49,ZARAGOZA,8.715000,0.047407,6.980357,2.225714,15.212143

## MARZO 22

In [26]:
url3 = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-03-01T00%3A00%3A00UTC/fechafin/2022-03-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response3 = requests.request("GET", url3, headers=header, params=querystring)
marzo_datos= response3.json()
print(response3.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/bfeac398",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [27]:
url3_datos = marzo_datos['datos']
url3_datos

'https://opendata.aemet.es/opendata/sh/bfeac398'

In [28]:
response3_datos= requests.get(url3_datos, headers = header)
response3_datos

In [29]:
datos_marzo= response3_datos.json()
datos_marzo[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [30]:
df_marzo= pd.DataFrame(datos_marzo)
df_marzo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-03-01,4358X,DON BENITO,BADAJOZ,273,"13,2","0,0","4,7",07:00,"21,7",13:30,31,"1,1","5,8",16:20,"8,9","995,0",09,"991,1",17
1,2022-03-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,9","0,0","0,7",07:00,"21,1",15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-03-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"14,1","0,0","11,7",04:26,"16,5",13:33,31,"8,9","20,6",09:26,"5,2","954,7",Varias,"951,6",04
3,2022-03-01,6106X,ANTEQUERA,MALAGA,408,"12,4","0,0","6,7",07:20,"18,1",15:30,15,"1,4","10,8",00:30,NaN,"978,6",10,"974,8",18
4,2022-03-01,9698U,TALARN,LLEIDA,807,"8,8","0,0","1,0",06:30,"16,5",14:40,99,"1,7","6,4",Varias,NaN,NaN,NaN,NaN,NaN

In [31]:
#Aplico la función:
marzo= procesar_mes(df_marzo)
marzo

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,11.490283,3.748899,5.258865,7.617004,15.374597
1,ALBACETE,9.291129,2.700820,2.983929,5.733871,12.842742
2,ALICANTE,12.988710,7.066942,3.702151,9.316935,16.670968
3,ALMERIA,14.205405,2.833077,4.927778,10.381081,18.029054
4,ARABA/ALAVA,8.561290,1.629508,3.272581,3.990323,13.125806
5,ASTURIAS,9.973314,3.297554,4.055696,6.281232,13.670381
6,AVILA,8.612903,4.781356,3.467742,4.943548,12.295161
7,BADAJOZ,12.212366,2.766667,4.734194,7.497849,16.918280
8,BARCELONA,11.885714,2.649664,2.651087,8.777273,14.992857
9,BIZKAIA,12.367742,3.609836,3.096774,8.638710,16.095968
10,BURGOS,7.198701,1.823944,3.242975,2.868182,11.532468
11,CACERES,11.674194,3.226316,4.332609,7.517419,15.827742
12,CADIZ,13.527442,6.841784,5.245161,10.009302,17.043721
13,CANTABRIA,11.156682,3.471429,4.389247,7.351152,14.951613
14,CASTELLON,7.768817,7.182569,3.285000,4.938710,10.592473
15,CEUTA,14.370000,7.083871,4.316667,12.146667,16.606667
16,CIUDAD REAL,10.025974,2.357792,3.438889,5.760390,14.290909
17,CORDOBA,11.666935,3.310569,5.861290,7.164516,16.175806
18,CUENCA,8.537333,2.340000,2.880328,4.464000,12.609333
19,GIPUZKOA,12.005914,4.145556,3.335484,8.302151,15.707527
20,GIRONA,7.944262,3.704237,3.203226,3.839344,12.049180
21,GRANADA,11.016935,3.658654,4.035870,5.951613,16.086290
22,GUADALAJARA,7.244565,2.648276,2.915217,2.665217,11.833696
23,HUELVA,13.583065,4.443333,6.354839,9.290323,17.884677
24,HUESCA,7.815323,1.908943,3.379570,3.329839,12.291129
25,ILLES BALEARS,12.381639,2.477483,3.069892,9.274426,15.490820
26,JAEN,11.474675,3.096104,3.828409,7.428571,15.521429
27,LA RIOJA,9.674194,1.460714,2.964516,5.738710,13.587097
28,LAS PALMAS,18.598095,0.337500,8.253933,15.422857,21.771429
29,LEON,6.481452,2.610656,3.832258,2.180645,10.787097
30,LLEIDA,8.683471,1.827350,4.032258,3.433058,13.928099
31,LUGO,8.958065,2.980645,4.512903,3.045161,14.858065
32,MADRID,8.240909,4.521967,2.743011,4.574675,11.906818
33,MALAGA,14.361446,6.894253,4.278689,10.719277,18.006627
34,MELILLA,14.783333,2.313333,4.793548,11.886667,17.686667
35,MURCIA,13.246689,5.982550,3.188732,9.608609,16.860518
36,NAVARRA,9.897419,2.389677,3.100000,5.492903,14.297419
37,OURENSE,9.366935,2.606452,3.575806,3.803226,14.923387
38,PALENCIA,6.781720,2.854839,3.401613,2.046237,11.510753
39,PONTEVEDRA,11.996774,3.480702,4.808621,7.579032,16.432258
40,SALAMANCA,7.261935,2.062500,3.713821,2.749032,11.769032
41,SEGOVIA,4.675806,6.596491,2.604839,1.677419,7.656452
42,SEVILLA,13.055484,4.123490,4.434426,8.157419,17.945161
43,SORIA,6.183871,3.080000,2.745161,2.290323,10.083871
44,STA. CRUZ DE TENERIFE,16.778431,1.043071,7.616129,13.563725,19.993464
45,TARRAGONA,12.322581,2.764407,3.019355,8.469355,16.185484
46,TERUEL,8.819355,1.728926,2.727473,4.758065,12.883065
47,TOLEDO,10.100862,3.085926,3.611667,5.925000,14.271552
48,VALENCIA,12.317143,6.816667,2.979675,8.998571,15.631429
49,VALLADOLID,8.095161,1.906897,3.514516,3.483871,12.737097
50,ZAMORA,8.401075,1.655914,3.643478,3.731183,13.066667
51,ZARAGOZA,9.519355,1.597386,3.162903,5.456774,13.585806

In [93]:
#eliminar ceuta y melilla
indices_a_eliminar = marzo[marzo['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
marzo = marzo.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
marzo= marzo.reset_index(drop=True)
marzo

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,11.490283,3.748899,5.258865,7.617004,15.374597
1,ALBACETE,9.291129,2.700820,2.983929,5.733871,12.842742
2,ALICANTE,12.988710,7.066942,3.702151,9.316935,16.670968
3,ALMERIA,14.205405,2.833077,4.927778,10.381081,18.029054
4,ARABA/ALAVA,8.561290,1.629508,3.272581,3.990323,13.125806
5,ASTURIAS,9.973314,3.297554,4.055696,6.281232,13.670381
6,AVILA,8.612903,4.781356,3.467742,4.943548,12.295161
7,BADAJOZ,12.212366,2.766667,4.734194,7.497849,16.918280
8,BARCELONA,11.885714,2.649664,2.651087,8.777273,14.992857
9,BIZKAIA,12.367742,3.609836,3.096774,8.638710,16.095968
10,BURGOS,7.198701,1.823944,3.242975,2.868182,11.532468
11,CACERES,11.674194,3.226316,4.332609,7.517419,15.827742
12,CADIZ,13.527442,6.841784,5.245161,10.009302,17.043721
13,CANTABRIA,11.156682,3.471429,4.389247,7.351152,14.951613
14,CASTELLON,7.768817,7.182569,3.285000,4.938710,10.592473
15,CIUDAD REAL,10.025974,2.357792,3.438889,5.760390,14.290909
16,CORDOBA,11.666935,3.310569,5.861290,7.164516,16.175806
17,CUENCA,8.537333,2.340000,2.880328,4.464000,12.609333
18,GIPUZKOA,12.005914,4.145556,3.335484,8.302151,15.707527
19,GIRONA,7.944262,3.704237,3.203226,3.839344,12.049180
20,GRANADA,11.016935,3.658654,4.035870,5.951613,16.086290
21,GUADALAJARA,7.244565,2.648276,2.915217,2.665217,11.833696
22,HUELVA,13.583065,4.443333,6.354839,9.290323,17.884677
23,HUESCA,7.815323,1.908943,3.379570,3.329839,12.291129
24,ILLES BALEARS,12.381639,2.477483,3.069892,9.274426,15.490820
25,JAEN,11.474675,3.096104,3.828409,7.428571,15.521429
26,LA RIOJA,9.674194,1.460714,2.964516,5.738710,13.587097
27,LAS PALMAS,18.598095,0.337500,8.253933,15.422857,21.771429
28,LEON,6.481452,2.610656,3.832258,2.180645,10.787097
29,LLEIDA,8.683471,1.827350,4.032258,3.433058,13.928099
30,LUGO,8.958065,2.980645,4.512903,3.045161,14.858065
31,MADRID,8.240909,4.521967,2.743011,4.574675,11.906818
32,MALAGA,14.361446,6.894253,4.278689,10.719277,18.006627
33,MURCIA,13.246689,5.982550,3.188732,9.608609,16.860518
34,NAVARRA,9.897419,2.389677,3.100000,5.492903,14.297419
35,OURENSE,9.366935,2.606452,3.575806,3.803226,14.923387
36,PALENCIA,6.781720,2.854839,3.401613,2.046237,11.510753
37,PONTEVEDRA,11.996774,3.480702,4.808621,7.579032,16.432258
38,SALAMANCA,7.261935,2.062500,3.713821,2.749032,11.769032
39,SEGOVIA,4.675806,6.596491,2.604839,1.677419,7.656452
40,SEVILLA,13.055484,4.123490,4.434426,8.157419,17.945161
41,SORIA,6.183871,3.080000,2.745161,2.290323,10.083871
42,STA. CRUZ DE TENERIFE,16.778431,1.043071,7.616129,13.563725,19.993464
43,TARRAGONA,12.322581,2.764407,3.019355,8.469355,16.185484
44,TERUEL,8.819355,1.728926,2.727473,4.758065,12.883065
45,TOLEDO,10.100862,3.085926,3.611667,5.925000,14.271552
46,VALENCIA,12.317143,6.816667,2.979675,8.998571,15.631429
47,VALLADOLID,8.095161,1.906897,3.514516,3.483871,12.737097
48,ZAMORA,8.401075,1.655914,3.643478,3.731183,13.066667
49,ZARAGOZA,9.519355,1.597386,3.162903,5.456774,13.585806

## ABRIL 22

In [33]:
url4= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-04-01T00%3A00%3A00UTC/fechafin/2022-04-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response4 = requests.request("GET", url4, headers=header, params=querystring)
abril_datos= response4.json()
print(response4.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/b4d5ad32",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [34]:
url4_datos= abril_datos['datos']
url4_datos

'https://opendata.aemet.es/opendata/sh/b4d5ad32'

In [35]:
response4_datos= requests.get(url4_datos, headers=header)
response4_datos

In [36]:
datos_abril=response4_datos.json()
datos_abril[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [37]:
df_abril= pd.DataFrame(datos_abril)
df_abril.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-04-01,4358X,DON BENITO,BADAJOZ,273,"12,2","0,0","6,5",06:30,"18,0",15:00,34,"2,2","8,6",16:30,"9,9","986,0",24,"979,7",02
1,2022-04-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,0","0,4","4,0",06:00,"15,9",14:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"14,3","0,0","11,7",Varias,"16,9",12:03,NaN,NaN,NaN,NaN,"5,9",NaN,NaN,NaN,NaN
3,2022-04-01,6106X,ANTEQUERA,MALAGA,408,"11,0","0,0","6,4",06:20,"15,6",16:00,31,"1,7","8,3",13:40,NaN,"967,4",24,"963,8",04
4,2022-04-01,9698U,TALARN,LLEIDA,807,"2,8","0,0","-1,2",23:50,"6,7",14:00,32,"7,2","18,9",08:40,NaN,NaN,NaN,NaN,NaN

In [38]:
#Aplico función:
abril=procesar_mes(df_abril)
abril

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,12.187611,2.299561,6.859701,8.303097,16.064159
1,ALBACETE,10.927500,3.810345,6.924074,5.479167,16.370833
2,ALICANTE,14.869167,2.708475,7.886667,9.794167,19.945833
3,ALMERIA,15.366443,1.734014,8.213333,10.883221,19.847651
4,ARABA/ALAVA,9.601667,2.714815,5.845000,3.841667,15.368333
5,ASTURIAS,10.636170,3.420952,6.326244,6.692705,14.572340
6,AVILA,9.119048,2.043902,7.730000,3.645455,14.725000
7,BADAJOZ,13.959551,1.605556,8.265101,7.618539,20.305056
8,BARCELONA,14.297203,1.166216,7.422989,9.644755,18.948252
9,BIZKAIA,12.030088,3.695960,4.696667,8.039823,16.023894
10,BURGOS,8.686614,2.057627,6.298969,2.550000,14.847656
11,CACERES,13.656000,1.479730,8.743333,7.450000,19.863333
12,CADIZ,15.331579,2.265700,9.182759,10.969378,19.696172
13,CANTABRIA,11.227619,2.739901,6.052222,6.956667,15.497619
14,CASTELLON,10.711111,3.584746,7.361667,6.158889,15.257778
15,CEUTA,16.496667,2.883333,8.696667,13.453333,19.550000
16,CIUDAD REAL,12.018792,2.019048,7.614943,5.865772,18.172483
17,CORDOBA,13.267857,2.788034,9.530000,7.475893,19.055357
18,CUENCA,10.948333,1.471667,6.993333,4.796667,17.080000
19,GIPUZKOA,11.798667,4.593785,4.955556,7.766000,15.822667
20,GIRONA,10.765517,2.093860,7.193220,4.630172,16.893966
21,GRANADA,12.982906,1.769828,8.021429,6.155556,19.823077
22,GUADALAJARA,9.489655,1.752381,7.017241,2.690805,16.285057
23,HUELVA,15.427500,1.852137,10.080000,10.122500,20.730833
24,HUESCA,10.022500,2.998333,7.660674,3.678333,16.368333
25,ILLES BALEARS,14.147826,1.486713,7.580000,9.728428,18.569565
26,JAEN,13.478767,2.286667,7.435632,7.791781,19.160959
27,LA RIOJA,12.170000,1.757143,7.380000,6.396667,17.926667
28,LAS PALMAS,19.660680,0.133333,8.787500,16.404854,22.920388
29,LEON,8.089916,0.869149,7.733333,1.678992,14.500000
30,LLEIDA,11.290517,1.890351,8.530000,4.562931,18.017241
31,LUGO,10.740000,2.520000,6.183333,4.303333,17.176667
32,MADRID,10.466333,2.598119,7.512222,4.865000,16.075000
33,MALAGA,16.130612,1.405590,8.311667,11.748980,20.512245
34,MELILLA,16.662069,3.813333,7.996667,13.651724,19.675862
35,MURCIA,14.702349,2.745485,7.747143,9.507383,19.899666
36,NAVARRA,11.115333,2.508000,5.826667,5.640667,16.593333
37,OURENSE,10.861864,1.822500,6.244068,3.617797,18.093220
38,PALENCIA,8.380000,1.466667,6.850000,1.693333,15.065556
39,PONTEVEDRA,12.706780,3.003846,7.798113,7.845763,17.576271
40,SALAMANCA,8.946667,2.008904,7.595000,2.721333,15.170667
41,SEGOVIA,6.533333,3.142857,6.760000,1.956667,11.111667
42,SEVILLA,14.854054,2.529932,8.900000,8.563514,21.144595
43,SORIA,9.103333,1.928000,7.726667,2.986667,15.226667
44,STA. CRUZ DE TENERIFE,17.822263,0.500400,8.391061,14.544891,21.082909
45,TARRAGONA,15.240000,2.611864,7.544643,9.578333,20.900000
46,TERUEL,11.356667,2.475000,7.315556,5.238333,17.475833
47,TOLEDO,12.312605,2.438095,8.829310,5.775630,18.853782
48,VALENCIA,14.562842,3.080220,6.629412,9.558470,19.575410
49,VALLADOLID,9.671667,1.900000,8.068333,3.301667,16.040000
50,ZAMORA,10.155056,1.166667,8.129885,2.932584,17.363333
51,ZARAGOZA,12.097333,1.604110,7.866102,6.331333,17.878000

In [94]:
#eliminar ceuta y melilla
indices_a_eliminar = abril[abril['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
abril = abril.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
abril= abril.reset_index(drop=True)
abril

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,12.187611,2.299561,6.859701,8.303097,16.064159
1,ALBACETE,10.927500,3.810345,6.924074,5.479167,16.370833
2,ALICANTE,14.869167,2.708475,7.886667,9.794167,19.945833
3,ALMERIA,15.366443,1.734014,8.213333,10.883221,19.847651
4,ARABA/ALAVA,9.601667,2.714815,5.845000,3.841667,15.368333
5,ASTURIAS,10.636170,3.420952,6.326244,6.692705,14.572340
6,AVILA,9.119048,2.043902,7.730000,3.645455,14.725000
7,BADAJOZ,13.959551,1.605556,8.265101,7.618539,20.305056
8,BARCELONA,14.297203,1.166216,7.422989,9.644755,18.948252
9,BIZKAIA,12.030088,3.695960,4.696667,8.039823,16.023894
10,BURGOS,8.686614,2.057627,6.298969,2.550000,14.847656
11,CACERES,13.656000,1.479730,8.743333,7.450000,19.863333
12,CADIZ,15.331579,2.265700,9.182759,10.969378,19.696172
13,CANTABRIA,11.227619,2.739901,6.052222,6.956667,15.497619
14,CASTELLON,10.711111,3.584746,7.361667,6.158889,15.257778
15,CIUDAD REAL,12.018792,2.019048,7.614943,5.865772,18.172483
16,CORDOBA,13.267857,2.788034,9.530000,7.475893,19.055357
17,CUENCA,10.948333,1.471667,6.993333,4.796667,17.080000
18,GIPUZKOA,11.798667,4.593785,4.955556,7.766000,15.822667
19,GIRONA,10.765517,2.093860,7.193220,4.630172,16.893966
20,GRANADA,12.982906,1.769828,8.021429,6.155556,19.823077
21,GUADALAJARA,9.489655,1.752381,7.017241,2.690805,16.285057
22,HUELVA,15.427500,1.852137,10.080000,10.122500,20.730833
23,HUESCA,10.022500,2.998333,7.660674,3.678333,16.368333
24,ILLES BALEARS,14.147826,1.486713,7.580000,9.728428,18.569565
25,JAEN,13.478767,2.286667,7.435632,7.791781,19.160959
26,LA RIOJA,12.170000,1.757143,7.380000,6.396667,17.926667
27,LAS PALMAS,19.660680,0.133333,8.787500,16.404854,22.920388
28,LEON,8.089916,0.869149,7.733333,1.678992,14.500000
29,LLEIDA,11.290517,1.890351,8.530000,4.562931,18.017241
30,LUGO,10.740000,2.520000,6.183333,4.303333,17.176667
31,MADRID,10.466333,2.598119,7.512222,4.865000,16.075000
32,MALAGA,16.130612,1.405590,8.311667,11.748980,20.512245
33,MURCIA,14.702349,2.745485,7.747143,9.507383,19.899666
34,NAVARRA,11.115333,2.508000,5.826667,5.640667,16.593333
35,OURENSE,10.861864,1.822500,6.244068,3.617797,18.093220
36,PALENCIA,8.380000,1.466667,6.850000,1.693333,15.065556
37,PONTEVEDRA,12.706780,3.003846,7.798113,7.845763,17.576271
38,SALAMANCA,8.946667,2.008904,7.595000,2.721333,15.170667
39,SEGOVIA,6.533333,3.142857,6.760000,1.956667,11.111667
40,SEVILLA,14.854054,2.529932,8.900000,8.563514,21.144595
41,SORIA,9.103333,1.928000,7.726667,2.986667,15.226667
42,STA. CRUZ DE TENERIFE,17.822263,0.500400,8.391061,14.544891,21.082909
43,TARRAGONA,15.240000,2.611864,7.544643,9.578333,20.900000
44,TERUEL,11.356667,2.475000,7.315556,5.238333,17.475833
45,TOLEDO,12.312605,2.438095,8.829310,5.775630,18.853782
46,VALENCIA,14.562842,3.080220,6.629412,9.558470,19.575410
47,VALLADOLID,9.671667,1.900000,8.068333,3.301667,16.040000
48,ZAMORA,10.155056,1.166667,8.129885,2.932584,17.363333
49,ZARAGOZA,12.097333,1.604110,7.866102,6.331333,17.878000

## MAYO 22

In [40]:
url5= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-05-01T00%3A00%3A00UTC/fechafin/2022-05-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response5 = requests.request("GET", url5, headers=header, params=querystring)
mayo_datos= response5.json()
print(response5.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/8611e676",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [41]:
url5_datos= mayo_datos['datos']
url5_datos

'https://opendata.aemet.es/opendata/sh/8611e676'

In [42]:
response5_datos= requests.get(url5_datos, headers = header)
response5_datos

In [43]:
datos_mayo=response5_datos.json()
datos_mayo[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [44]:
df_mayo= pd.DataFrame(datos_mayo)
df_mayo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-05-01,4358X,DON BENITO,BADAJOZ,273,"20,7","0,0","13,3",23:59,"28,1",Varias,25,"2,8","9,7",13:40,"11,7","988,7",08,"984,2",18
1,2022-05-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"17,8","0,0","9,2",05:30,"26,3",14:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-05-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"18,0","0,0","12,4",23:40,"23,5",13:20,29,"5,3","11,7",21:58,"11,9","952,3",Varias,"950,3",05
3,2022-05-01,6106X,ANTEQUERA,MALAGA,408,"17,6","0,0","9,5",05:00,"25,8",14:30,23,"1,4","6,9",17:10,NaN,"973,6",00,"968,5",19
4,2022-05-01,9698U,TALARN,LLEIDA,807,"14,6","16,8","7,4",04:20,"21,9",12:40,99,"2,8","10,3",Varias,NaN,NaN,NaN,NaN,NaN

In [45]:
#Aplico función:
mayo=procesar_mes(df_mayo)
mayo

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,16.305809,1.342678,7.578472,12.051867,20.556432
1,ALBACETE,18.918548,0.447967,11.362500,11.329032,26.507258
2,ALICANTE,20.262727,0.919008,11.537975,13.944545,26.575455
3,ALMERIA,20.394483,1.441135,11.187097,15.505517,25.275172
4,ARABA/ALAVA,15.954839,0.389831,8.048387,8.641935,23.275806
5,ASTURIAS,15.094395,1.062654,6.226106,11.385841,18.799705
6,AVILA,17.269767,0.690698,10.432258,10.611111,24.016279
7,BADAJOZ,21.605914,0.218280,10.985621,13.473118,29.745161
8,BARCELONA,20.109868,0.815584,9.852174,15.009868,25.203289
9,BIZKAIA,16.894898,0.865854,6.300000,12.403061,21.397959
10,BURGOS,15.418182,0.552000,8.542500,7.715584,23.118182
11,CACERES,21.222727,0.071711,10.469565,13.783766,28.649351
12,CADIZ,20.844186,0.269626,11.203226,15.666977,26.022791
13,CANTABRIA,15.771429,0.704785,7.291398,11.329032,20.216129
14,CASTELLON,16.875269,3.171774,10.204839,11.496774,22.249462
15,CEUTA,20.212903,0.045161,10.403226,17.106452,23.325806
16,CIUDAD REAL,20.249032,0.272727,11.046667,12.055484,28.438710
17,CORDOBA,21.152419,0.659350,12.120000,13.356452,28.950806
18,CUENCA,18.927419,0.148333,8.453333,10.650000,27.201613
19,GIPUZKOA,17.213441,1.252459,6.377419,12.709677,21.723656
20,GIRONA,16.925000,1.436066,9.329508,9.704839,24.138710
21,GRANADA,20.279839,0.341803,10.993548,11.416935,29.152419
22,GUADALAJARA,17.392537,0.615385,10.502985,9.025373,25.761194
23,HUELVA,20.869355,0.236585,11.651613,14.666935,27.073387
24,HUESCA,17.462097,0.991870,8.788172,10.201613,24.734677
25,ILLES BALEARS,19.779538,1.099329,10.086486,14.673927,24.881518
26,JAEN,21.785806,0.352903,10.336957,14.260000,29.311613
27,LA RIOJA,18.932258,0.486207,9.674194,11.570968,26.277419
28,LAS PALMAS,21.662857,0.026168,10.455056,18.417619,24.910000
29,LEON,14.970161,0.851111,9.118280,7.581452,22.362903
30,LLEIDA,18.158065,1.180833,11.068966,10.378226,25.938710
31,LUGO,15.638710,0.961290,7.390000,9.258065,22.012903
32,MADRID,18.088201,0.387006,10.596774,11.156637,25.042647
33,MALAGA,20.924731,0.361828,9.717742,16.148925,25.703763
34,MELILLA,20.535484,0.141935,9.463333,17.251613,23.812903
35,MURCIA,20.632686,1.111935,11.332093,14.038188,27.244516
36,NAVARRA,18.329032,0.411688,8.225806,11.337419,25.327742
37,OURENSE,16.979839,0.564516,7.583871,8.871774,25.097581
38,PALENCIA,15.260215,0.566667,8.370968,7.173118,23.339785
39,PONTEVEDRA,17.779032,1.726230,8.065455,12.293548,23.262903
40,SALAMANCA,16.576129,0.186364,9.236290,9.262581,23.891613
41,SEGOVIA,14.767742,0.789831,9.785484,9.141935,20.398387
42,SEVILLA,21.577273,0.307237,11.029032,13.534416,29.620130
43,SORIA,15.954839,0.510345,9.706452,8.680645,23.241935
44,STA. CRUZ DE TENERIFE,20.359477,0.069307,9.669355,16.892484,23.820261
45,TARRAGONA,20.667742,1.024194,10.651786,14.079032,27.254839
46,TERUEL,18.554032,1.082258,10.310870,10.467742,26.640323
47,TOLEDO,20.650806,0.200000,11.686885,12.511290,28.800806
48,VALENCIA,20.124615,3.961084,10.848387,14.008718,26.236410
49,VALLADOLID,16.964516,0.241667,9.632258,9.246774,24.682258
50,ZAMORA,17.150538,0.574194,9.179348,9.009677,25.301075
51,ZARAGOZA,19.493548,0.703268,10.296667,12.254839,26.727097

## JUNIO 22

In [46]:
url6 = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-06-01T00%3A00%3A00UTC/fechafin/2022-06-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response6 = requests.request("GET", url6, headers=header, params=querystring)
junio_datos= response6.json()
print(response6.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1e04fc76",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [47]:
url6_datos= junio_datos['datos']
url6_datos

'https://opendata.aemet.es/opendata/sh/1e04fc76'

In [48]:
response6_datos= requests.get(url6_datos, headers=header)
response6_datos

In [49]:
datos_junio= response6_datos.json()
datos_junio[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [50]:
df_junio= pd.DataFrame(datos_junio)
df_junio.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-06-01,4358X,DON BENITO,BADAJOZ,273,"23,2","0,0","16,5",05:00,"29,9",17:00,26,"3,1","10,0",15:10,"6,8","984,2",08,"981,1",18
1,2022-06-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"21,1","0,0","12,2",04:30,"30,0",16:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"16,4","0,0","13,4",22:48,"19,3",15:29,29,"4,2","11,4",08:21,"2,1","948,7",Varias,"944,9",04
3,2022-06-01,6106X,ANTEQUERA,MALAGA,408,"21,3","0,0","13,7",05:00,"28,9",16:00,29,"1,7","7,8",19:00,NaN,"969,3",08,"965,9",Varias
4,2022-06-01,9698U,TALARN,LLEIDA,807,"22,7","0,0","14,6",03:20,"30,8",14:00,24,"2,5","9,2",14:30,NaN,NaN,NaN,NaN,NaN

In [51]:
#Aplico función:
junio= procesar_mes(df_junio)
junio

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,17.140529,2.204545,6.298592,13.666520,20.613656
1,ALBACETE,24.450420,0.089655,11.862500,16.366387,32.522689
2,ALICANTE,24.780000,0.255085,12.430000,18.069167,31.484167
3,ALMERIA,23.676154,0.050394,10.983051,18.652308,28.700000
4,ARABA/ALAVA,19.431667,0.510909,7.826667,12.016667,26.850000
5,ASTURIAS,16.899390,2.607166,5.286111,13.256707,20.550000
6,AVILA,19.996667,0.257143,10.603333,13.166667,26.806667
7,BADAJOZ,24.242778,0.043333,11.126846,16.171111,32.310556
8,BARCELONA,24.592617,0.232653,10.644444,19.653691,29.532215
9,BIZKAIA,19.484783,1.889916,5.473333,14.948913,24.016304
10,BURGOS,19.513333,0.500000,8.750847,10.978000,28.046000
11,CACERES,24.070667,0.185034,10.424444,16.644000,31.496667
12,CADIZ,22.750239,0.002415,12.145763,17.981818,27.522488
13,CANTABRIA,18.466829,1.787879,6.554444,14.031707,22.904390
14,CASTELLON,21.832222,0.983193,10.523333,16.270000,27.398889
15,CEUTA,23.273333,0.006667,11.430000,19.776667,26.746667
16,CIUDAD REAL,24.629333,0.053333,11.613333,16.492000,32.766000
17,CORDOBA,24.731356,0.004237,13.050000,16.677966,32.784746
18,CUENCA,23.695000,0.062500,9.200000,14.886667,32.500000
19,GIPUZKOA,19.717778,2.664607,5.930000,15.476111,23.955000
20,GIRONA,22.252941,0.749573,10.549153,14.689076,29.826050
21,GRANADA,24.590833,0.018487,11.850000,15.545833,33.644167
22,GUADALAJARA,20.763636,0.165854,11.870000,12.010227,29.519318
23,HUELVA,23.216667,0.010000,12.686667,17.077500,29.349167
24,HUESCA,22.059664,1.168182,8.725882,14.442017,29.678151
25,ILLES BALEARS,24.482759,0.082253,10.924444,19.331724,29.632759
26,JAEN,25.594444,0.248611,11.042857,17.739583,33.457639
27,LA RIOJA,23.633333,0.232000,9.613333,15.846667,31.450000
28,LAS PALMAS,22.727885,0.006796,9.700000,19.731731,25.725962
29,LEON,17.736275,1.370000,8.854167,10.845098,24.624510
30,LLEIDA,23.090833,1.731818,11.727586,14.952500,31.230000
31,LUGO,16.903333,3.113333,5.106667,11.566667,22.253333
32,MADRID,21.796359,0.085014,11.439665,14.696078,28.899440
33,MALAGA,24.270787,0.011864,9.650000,18.861798,29.685393
34,MELILLA,24.246667,0.006897,10.573333,20.790000,27.716667
35,MURCIA,25.323288,0.137458,12.078431,18.459932,32.190102
36,NAVARRA,22.575510,0.448649,8.306667,15.171812,29.944595
37,OURENSE,18.077500,2.203333,6.483051,11.393333,24.765833
38,PALENCIA,18.726667,0.391111,7.276667,10.373333,27.083333
39,PONTEVEDRA,18.018966,2.843860,6.452000,13.639655,22.371186
40,SALAMANCA,19.118000,0.461157,9.375833,11.792000,26.438000
41,SEGOVIA,18.408333,0.466667,10.431667,12.400000,24.421667
42,SEVILLA,24.275194,0.005970,12.113333,15.848837,32.705426
43,SORIA,20.360000,0.221429,10.043333,12.310000,28.410000
44,STA. CRUZ DE TENERIFE,21.497000,0.088070,8.984358,18.240333,24.751000
45,TARRAGONA,25.480000,0.493333,10.555000,19.406667,31.541667
46,TERUEL,23.876667,0.700000,10.875000,15.076667,32.683333
47,TOLEDO,24.634000,0.107483,11.980000,16.193000,33.082000
48,VALENCIA,25.266484,0.237912,11.855462,19.007143,31.529670
49,VALLADOLID,20.695000,0.686538,10.306667,12.436667,28.948333
50,ZAMORA,20.027778,0.698876,9.472727,12.287778,27.761111
51,ZARAGOZA,24.429861,0.526241,11.230631,16.580556,32.282639

In [95]:
#eliminar ceuta y melilla
indices_a_eliminar = junio[junio['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
junio = junio.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
junio= junio.reset_index(drop=True)
junio

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,17.140529,2.204545,6.298592,13.666520,20.613656
1,ALBACETE,24.450420,0.089655,11.862500,16.366387,32.522689
2,ALICANTE,24.780000,0.255085,12.430000,18.069167,31.484167
3,ALMERIA,23.676154,0.050394,10.983051,18.652308,28.700000
4,ARABA/ALAVA,19.431667,0.510909,7.826667,12.016667,26.850000
5,ASTURIAS,16.899390,2.607166,5.286111,13.256707,20.550000
6,AVILA,19.996667,0.257143,10.603333,13.166667,26.806667
7,BADAJOZ,24.242778,0.043333,11.126846,16.171111,32.310556
8,BARCELONA,24.592617,0.232653,10.644444,19.653691,29.532215
9,BIZKAIA,19.484783,1.889916,5.473333,14.948913,24.016304
10,BURGOS,19.513333,0.500000,8.750847,10.978000,28.046000
11,CACERES,24.070667,0.185034,10.424444,16.644000,31.496667
12,CADIZ,22.750239,0.002415,12.145763,17.981818,27.522488
13,CANTABRIA,18.466829,1.787879,6.554444,14.031707,22.904390
14,CASTELLON,21.832222,0.983193,10.523333,16.270000,27.398889
15,CIUDAD REAL,24.629333,0.053333,11.613333,16.492000,32.766000
16,CORDOBA,24.731356,0.004237,13.050000,16.677966,32.784746
17,CUENCA,23.695000,0.062500,9.200000,14.886667,32.500000
18,GIPUZKOA,19.717778,2.664607,5.930000,15.476111,23.955000
19,GIRONA,22.252941,0.749573,10.549153,14.689076,29.826050
20,GRANADA,24.590833,0.018487,11.850000,15.545833,33.644167
21,GUADALAJARA,20.763636,0.165854,11.870000,12.010227,29.519318
22,HUELVA,23.216667,0.010000,12.686667,17.077500,29.349167
23,HUESCA,22.059664,1.168182,8.725882,14.442017,29.678151
24,ILLES BALEARS,24.482759,0.082253,10.924444,19.331724,29.632759
25,JAEN,25.594444,0.248611,11.042857,17.739583,33.457639
26,LA RIOJA,23.633333,0.232000,9.613333,15.846667,31.450000
27,LAS PALMAS,22.727885,0.006796,9.700000,19.731731,25.725962
28,LEON,17.736275,1.370000,8.854167,10.845098,24.624510
29,LLEIDA,23.090833,1.731818,11.727586,14.952500,31.230000
30,LUGO,16.903333,3.113333,5.106667,11.566667,22.253333
31,MADRID,21.796359,0.085014,11.439665,14.696078,28.899440
32,MALAGA,24.270787,0.011864,9.650000,18.861798,29.685393
33,MURCIA,25.323288,0.137458,12.078431,18.459932,32.190102
34,NAVARRA,22.575510,0.448649,8.306667,15.171812,29.944595
35,OURENSE,18.077500,2.203333,6.483051,11.393333,24.765833
36,PALENCIA,18.726667,0.391111,7.276667,10.373333,27.083333
37,PONTEVEDRA,18.018966,2.843860,6.452000,13.639655,22.371186
38,SALAMANCA,19.118000,0.461157,9.375833,11.792000,26.438000
39,SEGOVIA,18.408333,0.466667,10.431667,12.400000,24.421667
40,SEVILLA,24.275194,0.005970,12.113333,15.848837,32.705426
41,SORIA,20.360000,0.221429,10.043333,12.310000,28.410000
42,STA. CRUZ DE TENERIFE,21.497000,0.088070,8.984358,18.240333,24.751000
43,TARRAGONA,25.480000,0.493333,10.555000,19.406667,31.541667
44,TERUEL,23.876667,0.700000,10.875000,15.076667,32.683333
45,TOLEDO,24.634000,0.107483,11.980000,16.193000,33.082000
46,VALENCIA,25.266484,0.237912,11.855462,19.007143,31.529670
47,VALLADOLID,20.695000,0.686538,10.306667,12.436667,28.948333
48,ZAMORA,20.027778,0.698876,9.472727,12.287778,27.761111
49,ZARAGOZA,24.429861,0.526241,11.230631,16.580556,32.282639

## JULIO 22

In [52]:
url7= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-07-01T00%3A00%3A00UTC/fechafin/2022-07-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response7 = requests.request("GET", url7, headers=header, params=querystring)
julio_datos= response7.json()
print(response7.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/5dbc83a2",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [53]:
url7_datos= julio_datos['datos']
url7_datos

'https://opendata.aemet.es/opendata/sh/5dbc83a2'

In [54]:
response7_datos= requests.get(url7_datos, headers=header)
response7_datos

In [55]:
datos_julio=response7_datos.json()
datos_julio[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [56]:
df_julio= pd.DataFrame(datos_julio)
df_julio.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-07-01,4358X,DON BENITO,BADAJOZ,273,"26,4","0,0","16,6",05:40,"36,1",16:30,30,"1,1","5,0",16:50,"11,4","983,4",09,"979,7",19
1,2022-07-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"24,5","0,0","12,6",05:20,"36,4",16:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"17,2","4,2","14,0",05:21,"20,3",14:45,NaN,NaN,NaN,NaN,"3,2",NaN,NaN,NaN,NaN
3,2022-07-01,6106X,ANTEQUERA,MALAGA,408,"21,4","0,0","14,0",05:40,"28,9",12:10,15,"2,5","11,1",21:10,NaN,"968,5",23,"965,5",04
4,2022-07-01,9698U,TALARN,LLEIDA,807,"20,9","0,0","13,7",04:00,"28,1",16:20,21,"3,1","10,3",Varias,NaN,NaN,NaN,NaN,NaN

In [57]:
#Aplico función:
julio= procesar_mes(df_julio)
julio

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,20.661382,0.122785,9.775510,15.865041,25.458943
1,ALBACETE,27.159677,0.350000,12.430645,18.901613,35.417742
2,ALICANTE,27.262903,0.001653,12.211957,20.855645,33.681452
3,ALMERIA,26.990278,0.013571,9.216129,21.835417,32.145833
4,ARABA/ALAVA,20.906452,0.091667,9.348387,12.354839,29.464516
5,ASTURIAS,19.654601,0.745141,8.082178,15.699387,23.615337
6,AVILA,27.105085,0.000000,13.100000,19.005085,35.310000
7,BADAJOZ,29.574194,0.000000,12.850323,20.126344,39.032258
8,BARCELONA,26.762903,0.451240,10.906452,21.455645,32.078226
9,BIZKAIA,21.855645,0.183471,9.216129,16.962903,26.758871
10,BURGOS,22.492258,0.072549,10.990164,12.890323,32.088387
11,CACERES,29.834194,0.001290,12.622826,21.012903,38.658710
12,CADIZ,26.983645,0.000469,12.350000,21.507944,32.457009
13,CANTABRIA,20.579710,0.339303,9.604301,15.440580,25.716908
14,CASTELLON,23.924731,1.633065,10.337097,18.180645,29.670968
15,CEUTA,25.254839,0.000000,9.632258,22.080645,28.429032
16,CIUDAD REAL,29.167097,0.023226,12.637097,20.383226,37.950323
17,CORDOBA,29.735246,0.000000,13.490323,20.951639,38.514754
18,CUENCA,28.003333,0.015000,9.696774,18.770000,37.230000
19,GIPUZKOA,21.725269,0.741436,8.853763,17.016129,26.439785
20,GIRONA,24.523387,0.256667,11.113333,16.695161,32.347581
21,GRANADA,28.630275,0.000000,12.704762,18.953211,38.304587
22,GUADALAJARA,24.875281,0.236782,12.559016,15.238202,34.506742
23,HUELVA,27.379032,0.000000,12.629032,20.498387,34.256452
24,HUESCA,24.599194,1.641129,10.462637,15.830645,33.369355
25,ILLES BALEARS,26.865789,0.011221,12.116129,21.471382,32.262500
26,JAEN,30.309868,0.009934,12.044156,21.826316,38.786184
27,LA RIOJA,25.338710,0.240000,12.354839,16.700000,33.958065
28,LAS PALMAS,24.785646,0.007547,10.106897,21.417225,28.155502
29,LEON,23.364516,0.197778,12.141558,14.229032,32.498925
30,LLEIDA,25.059677,1.185714,12.166667,16.837903,33.267742
31,LUGO,20.712903,0.064516,8.676667,13.900000,27.538710
32,MADRID,26.880163,0.105191,12.731694,19.027446,34.736685
33,MALAGA,26.532258,0.008065,10.161702,21.957527,31.116129
34,MELILLA,26.348387,0.106667,9.719355,23.293548,29.422581
35,MURCIA,27.865033,0.017742,11.964019,21.461889,34.272078
36,NAVARRA,24.189610,0.570130,11.783871,16.066883,32.322078
37,OURENSE,23.486179,0.321951,10.364407,13.963415,33.000813
38,PALENCIA,22.609677,0.193548,10.336667,13.083871,32.129032
39,PONTEVEDRA,23.309677,0.126316,11.524528,16.683871,29.932258
40,SALAMANCA,24.221290,0.107200,11.966102,15.090968,33.349677
41,SEGOVIA,23.796774,0.216393,12.677419,17.259677,30.332258
42,SEVILLA,29.576774,0.000000,12.388710,20.363226,38.798710
43,SORIA,24.338710,0.037037,11.619355,14.812903,33.848387
44,STA. CRUZ DE TENERIFE,23.844839,0.026948,10.274194,20.121613,27.566774
45,TARRAGONA,27.612903,0.465574,11.072581,21.361290,33.862903
46,TERUEL,26.149194,1.243902,11.737363,17.370161,34.928226
47,TOLEDO,29.621739,0.011111,13.049180,20.267391,38.976087
48,VALENCIA,27.476503,0.118579,11.307317,21.656284,33.295628
49,VALLADOLID,24.980645,0.083871,12.325806,15.498387,34.469355
50,ZAMORA,24.958065,0.044086,12.085393,15.186022,34.736559
51,ZARAGOZA,26.412903,0.311258,12.348387,18.194194,34.622581

In [96]:
#eliminar ceuta y melilla
indices_a_eliminar = julio[julio['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
julio = julio.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
julio= julio.reset_index(drop=True)
julio

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,20.661382,0.122785,9.775510,15.865041,25.458943
1,ALBACETE,27.159677,0.350000,12.430645,18.901613,35.417742
2,ALICANTE,27.262903,0.001653,12.211957,20.855645,33.681452
3,ALMERIA,26.990278,0.013571,9.216129,21.835417,32.145833
4,ARABA/ALAVA,20.906452,0.091667,9.348387,12.354839,29.464516
5,ASTURIAS,19.654601,0.745141,8.082178,15.699387,23.615337
6,AVILA,27.105085,0.000000,13.100000,19.005085,35.310000
7,BADAJOZ,29.574194,0.000000,12.850323,20.126344,39.032258
8,BARCELONA,26.762903,0.451240,10.906452,21.455645,32.078226
9,BIZKAIA,21.855645,0.183471,9.216129,16.962903,26.758871
10,BURGOS,22.492258,0.072549,10.990164,12.890323,32.088387
11,CACERES,29.834194,0.001290,12.622826,21.012903,38.658710
12,CADIZ,26.983645,0.000469,12.350000,21.507944,32.457009
13,CANTABRIA,20.579710,0.339303,9.604301,15.440580,25.716908
14,CASTELLON,23.924731,1.633065,10.337097,18.180645,29.670968
15,CIUDAD REAL,29.167097,0.023226,12.637097,20.383226,37.950323
16,CORDOBA,29.735246,0.000000,13.490323,20.951639,38.514754
17,CUENCA,28.003333,0.015000,9.696774,18.770000,37.230000
18,GIPUZKOA,21.725269,0.741436,8.853763,17.016129,26.439785
19,GIRONA,24.523387,0.256667,11.113333,16.695161,32.347581
20,GRANADA,28.630275,0.000000,12.704762,18.953211,38.304587
21,GUADALAJARA,24.875281,0.236782,12.559016,15.238202,34.506742
22,HUELVA,27.379032,0.000000,12.629032,20.498387,34.256452
23,HUESCA,24.599194,1.641129,10.462637,15.830645,33.369355
24,ILLES BALEARS,26.865789,0.011221,12.116129,21.471382,32.262500
25,JAEN,30.309868,0.009934,12.044156,21.826316,38.786184
26,LA RIOJA,25.338710,0.240000,12.354839,16.700000,33.958065
27,LAS PALMAS,24.785646,0.007547,10.106897,21.417225,28.155502
28,LEON,23.364516,0.197778,12.141558,14.229032,32.498925
29,LLEIDA,25.059677,1.185714,12.166667,16.837903,33.267742
30,LUGO,20.712903,0.064516,8.676667,13.900000,27.538710
31,MADRID,26.880163,0.105191,12.731694,19.027446,34.736685
32,MALAGA,26.532258,0.008065,10.161702,21.957527,31.116129
33,MURCIA,27.865033,0.017742,11.964019,21.461889,34.272078
34,NAVARRA,24.189610,0.570130,11.783871,16.066883,32.322078
35,OURENSE,23.486179,0.321951,10.364407,13.963415,33.000813
36,PALENCIA,22.609677,0.193548,10.336667,13.083871,32.129032
37,PONTEVEDRA,23.309677,0.126316,11.524528,16.683871,29.932258
38,SALAMANCA,24.221290,0.107200,11.966102,15.090968,33.349677
39,SEGOVIA,23.796774,0.216393,12.677419,17.259677,30.332258
40,SEVILLA,29.576774,0.000000,12.388710,20.363226,38.798710
41,SORIA,24.338710,0.037037,11.619355,14.812903,33.848387
42,STA. CRUZ DE TENERIFE,23.844839,0.026948,10.274194,20.121613,27.566774
43,TARRAGONA,27.612903,0.465574,11.072581,21.361290,33.862903
44,TERUEL,26.149194,1.243902,11.737363,17.370161,34.928226
45,TOLEDO,29.621739,0.011111,13.049180,20.267391,38.976087
46,VALENCIA,27.476503,0.118579,11.307317,21.656284,33.295628
47,VALLADOLID,24.980645,0.083871,12.325806,15.498387,34.469355
48,ZAMORA,24.958065,0.044086,12.085393,15.186022,34.736559
49,ZARAGOZA,26.412903,0.311258,12.348387,18.194194,34.622581

## AGOSTO 22

In [58]:
url8="https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-08-01T00%3A00%3A00UTC/fechafin/2022-08-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response8 = requests.request("GET", url8, headers=header, params=querystring)
agosto_datos= response8.json()
print(response8.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/00aee56b",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [59]:
url8_datos= agosto_datos['datos']
url8_datos

'https://opendata.aemet.es/opendata/sh/00aee56b'

In [60]:
response8_datos= requests.get(url8_datos, headers=header)
response8_datos

In [61]:
datos_agosto= response8_datos.json()
datos_agosto[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [62]:
df_agosto=pd.DataFrame(datos_agosto)
df_agosto.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-08-01,4358X,DON BENITO,BADAJOZ,273,"33,8","0,0","25,4",05:50,"42,2",15:10,25,"1,1","7,2",22:30,"11,5","983,5",10,"979,8",18
1,2022-08-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"31,5","0,0","21,4",04:10,"41,6",15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"20,0","0,0","17,0",04:15,"23,0",12:52,99,"8,3","13,3",Varias,"10,5","947,0",Varias,"945,2",19
3,2022-08-01,6106X,ANTEQUERA,MALAGA,408,"27,8","0,0","22,4",05:20,"33,3",15:20,15,"3,3","11,1",13:10,NaN,"969,0",Varias,"966,5",17
4,2022-08-01,9698U,TALARN,LLEIDA,807,"25,2","0,0","17,5",05:00,"33,0",14:50,18,"3,1","10,6",13:50,NaN,NaN,NaN,NaN,NaN

In [63]:
#Aplicar función:
agosto=procesar_mes(df_agosto)
agosto

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,20.262083,0.400420,8.037162,15.996667,24.530000
1,ALBACETE,25.786179,0.931707,11.014286,17.927642,33.652846
2,ALICANTE,27.542742,0.188710,11.206452,21.107258,33.979839
3,ALMERIA,27.325175,0.088571,6.398387,21.953147,32.699301
4,ARABA/ALAVA,22.341935,0.213208,8.469355,14.454839,30.235484
5,ASTURIAS,19.806607,1.934259,5.719070,16.327327,23.281982
6,AVILA,25.094872,0.160000,11.396774,17.753846,32.441026
7,BADAJOZ,27.649462,0.034409,11.680392,19.031720,36.261828
8,BARCELONA,26.902479,2.288889,9.783516,21.309917,32.495041
9,BIZKAIA,22.455340,0.970492,6.938710,18.011650,26.900971
10,BURGOS,22.474839,0.673684,8.953659,13.973548,30.975484
11,CACERES,28.041935,0.025806,11.695652,19.861935,36.222581
12,CADIZ,25.397674,0.048113,10.614516,20.528372,30.260930
13,CANTABRIA,21.405530,1.672772,7.011828,16.834562,25.977880
14,CASTELLON,24.019355,0.475424,9.809677,18.360215,29.688172
15,CEUTA,25.745161,0.000000,8.851613,22.141935,29.361290
16,CIUDAD REAL,27.613548,0.258710,10.961290,19.488387,35.740000
17,CORDOBA,27.991870,0.110924,12.500000,19.988618,36.004878
18,CUENCA,26.326786,0.313333,9.193548,18.394643,34.257143
19,GIPUZKOA,22.512366,3.818232,6.911828,18.351613,26.675806
20,GIRONA,23.182114,2.647107,8.183333,15.834959,30.530081
21,GRANADA,27.224194,0.056557,11.385484,18.012903,36.441129
22,GUADALAJARA,23.601087,0.606977,10.570492,15.031522,32.180435
23,HUELVA,25.083871,0.151613,10.996774,18.868548,31.292742
24,HUESCA,23.732520,1.592683,8.895652,15.594309,31.868293
25,ILLES BALEARS,27.293165,0.856631,10.678261,22.188489,32.406835
26,JAEN,28.621277,0.085417,11.445161,20.926950,36.314184
27,LA RIOJA,25.280645,0.503571,9.932258,17.522581,33.029032
28,LAS PALMAS,24.879717,0.038785,10.294444,21.920283,27.841038
29,LEON,22.782796,0.889130,10.522973,14.694624,30.877419
30,LLEIDA,24.088333,2.087640,11.567742,15.965000,32.208333
31,LUGO,20.825926,0.464516,7.423077,14.337037,27.311111
32,MADRID,25.235215,0.094766,11.149462,18.159946,32.303226
33,MALAGA,26.818644,0.092179,10.722581,22.164972,31.477401
34,MELILLA,27.332258,0.019355,8.516129,24.367742,30.280645
35,MURCIA,28.039032,0.146078,11.144444,21.533226,34.537419
36,NAVARRA,24.736129,1.060390,9.580645,17.175484,32.286452
37,OURENSE,23.084677,0.247581,9.131667,14.115323,32.047581
38,PALENCIA,22.249462,0.915054,8.763934,13.364516,31.134409
39,PONTEVEDRA,21.819672,0.503571,10.448214,16.080328,27.562903
40,SALAMANCA,23.192903,0.309150,11.381739,14.767742,31.623871
41,SEGOVIA,22.203226,0.120690,10.498387,16.182258,28.217742
42,SEVILLA,27.631613,0.092208,11.293548,19.275484,36.000000
43,SORIA,23.203226,0.848000,10.364516,14.729032,31.674194
44,STA. CRUZ DE TENERIFE,23.914516,0.160870,9.652151,20.509677,27.318710
45,TARRAGONA,27.975806,0.995082,10.222581,21.664516,34.287097
46,TERUEL,25.612097,0.733333,9.653763,17.245968,33.975000
47,TOLEDO,27.982609,0.219868,11.878333,19.316304,36.656522
48,VALENCIA,27.869730,0.891935,10.967742,21.717297,34.024324
49,VALLADOLID,24.145161,0.581667,11.274194,15.732258,32.558065
50,ZAMORA,24.378495,0.691398,11.241758,15.470968,33.281720
51,ZARAGOZA,26.294194,0.584211,10.623770,18.540645,34.054839

In [97]:
#eliminar ceuta y melilla
indices_a_eliminar = agosto[agosto['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
agosto = agosto.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
agosto= agosto.reset_index(drop=True)
agosto

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,20.262083,0.400420,8.037162,15.996667,24.530000
1,ALBACETE,25.786179,0.931707,11.014286,17.927642,33.652846
2,ALICANTE,27.542742,0.188710,11.206452,21.107258,33.979839
3,ALMERIA,27.325175,0.088571,6.398387,21.953147,32.699301
4,ARABA/ALAVA,22.341935,0.213208,8.469355,14.454839,30.235484
5,ASTURIAS,19.806607,1.934259,5.719070,16.327327,23.281982
6,AVILA,25.094872,0.160000,11.396774,17.753846,32.441026
7,BADAJOZ,27.649462,0.034409,11.680392,19.031720,36.261828
8,BARCELONA,26.902479,2.288889,9.783516,21.309917,32.495041
9,BIZKAIA,22.455340,0.970492,6.938710,18.011650,26.900971
10,BURGOS,22.474839,0.673684,8.953659,13.973548,30.975484
11,CACERES,28.041935,0.025806,11.695652,19.861935,36.222581
12,CADIZ,25.397674,0.048113,10.614516,20.528372,30.260930
13,CANTABRIA,21.405530,1.672772,7.011828,16.834562,25.977880
14,CASTELLON,24.019355,0.475424,9.809677,18.360215,29.688172
15,CIUDAD REAL,27.613548,0.258710,10.961290,19.488387,35.740000
16,CORDOBA,27.991870,0.110924,12.500000,19.988618,36.004878
17,CUENCA,26.326786,0.313333,9.193548,18.394643,34.257143
18,GIPUZKOA,22.512366,3.818232,6.911828,18.351613,26.675806
19,GIRONA,23.182114,2.647107,8.183333,15.834959,30.530081
20,GRANADA,27.224194,0.056557,11.385484,18.012903,36.441129
21,GUADALAJARA,23.601087,0.606977,10.570492,15.031522,32.180435
22,HUELVA,25.083871,0.151613,10.996774,18.868548,31.292742
23,HUESCA,23.732520,1.592683,8.895652,15.594309,31.868293
24,ILLES BALEARS,27.293165,0.856631,10.678261,22.188489,32.406835
25,JAEN,28.621277,0.085417,11.445161,20.926950,36.314184
26,LA RIOJA,25.280645,0.503571,9.932258,17.522581,33.029032
27,LAS PALMAS,24.879717,0.038785,10.294444,21.920283,27.841038
28,LEON,22.782796,0.889130,10.522973,14.694624,30.877419
29,LLEIDA,24.088333,2.087640,11.567742,15.965000,32.208333
30,LUGO,20.825926,0.464516,7.423077,14.337037,27.311111
31,MADRID,25.235215,0.094766,11.149462,18.159946,32.303226
32,MALAGA,26.818644,0.092179,10.722581,22.164972,31.477401
33,MURCIA,28.039032,0.146078,11.144444,21.533226,34.537419
34,NAVARRA,24.736129,1.060390,9.580645,17.175484,32.286452
35,OURENSE,23.084677,0.247581,9.131667,14.115323,32.047581
36,PALENCIA,22.249462,0.915054,8.763934,13.364516,31.134409
37,PONTEVEDRA,21.819672,0.503571,10.448214,16.080328,27.562903
38,SALAMANCA,23.192903,0.309150,11.381739,14.767742,31.623871
39,SEGOVIA,22.203226,0.120690,10.498387,16.182258,28.217742
40,SEVILLA,27.631613,0.092208,11.293548,19.275484,36.000000
41,SORIA,23.203226,0.848000,10.364516,14.729032,31.674194
42,STA. CRUZ DE TENERIFE,23.914516,0.160870,9.652151,20.509677,27.318710
43,TARRAGONA,27.975806,0.995082,10.222581,21.664516,34.287097
44,TERUEL,25.612097,0.733333,9.653763,17.245968,33.975000
45,TOLEDO,27.982609,0.219868,11.878333,19.316304,36.656522
46,VALENCIA,27.869730,0.891935,10.967742,21.717297,34.024324
47,VALLADOLID,24.145161,0.581667,11.274194,15.732258,32.558065
48,ZAMORA,24.378495,0.691398,11.241758,15.470968,33.281720
49,ZARAGOZA,26.294194,0.584211,10.623770,18.540645,34.054839

## SEPTIEMBRE 22

In [64]:
url9= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-09-01T00%3A00%3A00UTC/fechafin/2022-09-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response9 = requests.request("GET", url9, headers=header, params=querystring)
septiembre_datos= response9.json()
print(response9.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/ce82dd04",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [65]:
url9_datos= septiembre_datos['datos']
url9_datos

'https://opendata.aemet.es/opendata/sh/ce82dd04'

In [66]:
response9_datos= requests.get(url9_datos, headers=header)
response9_datos

In [67]:
datos_septiembre= response9_datos.json()
datos_septiembre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [68]:
df_septiembre= pd.DataFrame(datos_septiembre)
df_septiembre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-09-01,4358X,DON BENITO,BADAJOZ,273,"24,1","0,0","16,8",06:00,"31,4",15:00,23,"2,5","8,3",16:00,"8,0","984,9",09,"982,3",Varias
1,2022-09-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"21,8","0,0","12,2",05:50,"31,3",13:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-09-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"22,5","0,1","19,2",05:59,"25,8",11:47,99,"3,3","8,9",Varias,"0,2","949,4",Varias,"946,3",07
3,2022-09-01,6106X,ANTEQUERA,MALAGA,408,"24,5","0,0","16,6",06:50,"32,4",15:30,29,"1,4","8,1",16:10,NaN,"969,0",09,"966,2",15
4,2022-09-01,9698U,TALARN,LLEIDA,807,"20,5","0,0","12,3",04:40,"28,7",15:20,18,"1,7","7,5",14:20,NaN,NaN,NaN,NaN,NaN

In [69]:
#Aplico función:
septiembre= procesar_mes(df_septiembre)
septiembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,18.676695,3.230568,6.824648,14.812288,22.547458
1,ALBACETE,21.633333,0.981667,8.618182,15.055833,28.206667
2,ALICANTE,24.683333,2.377119,8.538889,18.810833,30.550000
3,ALMERIA,23.904225,0.090345,6.974419,19.039437,28.771127
4,ARABA/ALAVA,17.236667,0.650909,6.813333,9.420000,25.053333
5,ASTURIAS,17.770684,2.340532,6.385024,13.951466,21.591857
6,AVILA,19.152542,1.598246,8.440000,12.530508,25.771186
7,BADAJOZ,22.544068,1.205556,9.116892,15.682486,29.402260
8,BARCELONA,22.934167,0.800847,7.274157,18.038333,27.819167
9,BIZKAIA,19.530000,3.530275,5.516667,14.635556,24.425556
10,BURGOS,16.785333,0.483673,6.890756,9.195333,24.376000
11,CACERES,22.329252,1.050000,8.843820,15.875510,28.790476
12,CADIZ,22.488835,0.366505,9.483333,18.105825,26.882039
13,CANTABRIA,18.546190,3.380769,6.416667,13.753810,23.344286
14,CASTELLON,19.594444,0.975214,7.471667,14.677778,24.508889
15,CEUTA,24.310000,0.306667,8.536667,20.770000,27.843333
16,CIUDAD REAL,21.811565,0.265517,9.527119,14.634694,28.980272
17,CORDOBA,22.904237,0.553390,11.060000,16.068644,29.738983
18,CUENCA,20.540000,1.200000,8.006667,13.121667,27.951667
19,GIPUZKOA,19.341011,4.778771,5.996667,14.840449,23.843820
20,GIRONA,18.766387,3.224167,7.541667,12.555462,24.985714
21,GRANADA,22.729464,0.174138,9.753333,14.610714,30.842857
22,GUADALAJARA,17.881111,0.983133,8.750000,10.355556,25.408889
23,HUELVA,22.869492,0.582051,10.121429,17.527119,28.210169
24,HUESCA,18.030833,2.132500,6.958427,11.473333,24.593333
25,ILLES BALEARS,24.334717,2.281298,7.854857,19.987170,28.688302
26,JAEN,23.289333,0.499333,9.393220,16.577333,29.986667
27,LA RIOJA,20.230000,0.610345,7.903333,13.130000,27.333333
28,LAS PALMAS,24.603902,3.348020,8.273333,21.877561,27.335122
29,LEON,16.994444,1.150575,7.575714,10.322222,23.658889
30,LLEIDA,19.026271,1.563218,9.403333,12.188983,25.863559
31,LUGO,17.173333,1.020000,6.126667,11.070000,23.273333
32,MADRID,18.897479,1.710000,8.372067,12.847059,24.949300
33,MALAGA,23.982184,0.183051,9.260000,19.002874,28.963218
34,MELILLA,25.103333,0.073333,8.168966,21.933333,28.250000
35,MURCIA,24.957333,1.186780,8.401914,19.032667,30.887667
36,NAVARRA,19.654667,1.193919,7.183333,12.871333,26.438000
37,OURENSE,17.515464,1.424176,5.765789,10.753608,24.277320
38,PALENCIA,16.406667,0.624444,6.740000,8.741111,24.072222
39,PONTEVEDRA,19.485000,3.720690,7.179630,14.675000,24.291667
40,SALAMANCA,17.306207,1.873239,8.329358,10.586897,23.980137
41,SEGOVIA,15.341667,1.740678,6.995000,10.210000,20.475000
42,SEVILLA,23.807692,0.613287,9.741667,16.354545,31.261538
43,SORIA,17.500000,0.478571,8.410000,10.160000,24.843333
44,STA. CRUZ DE TENERIFE,23.090667,3.948973,7.742458,20.221000,25.960333
45,TARRAGONA,23.943333,4.328070,7.053333,18.745000,29.150000
46,TERUEL,20.308333,2.030769,8.143023,13.097500,27.520000
47,TOLEDO,21.928889,0.475524,9.913559,14.604444,29.250000
48,VALENCIA,24.317778,0.777714,8.024167,18.932778,29.706667
49,VALLADOLID,18.103333,0.489286,8.320000,10.883333,25.315000
50,ZAMORA,18.358889,1.446667,8.345455,11.202222,25.526667
51,ZARAGOZA,20.868667,0.650350,8.600000,14.197333,27.527333

In [98]:
#eliminar ceuta y melilla
indices_a_eliminar = septiembre[septiembre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
septiembre = septiembre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
septiembre= septiembre.reset_index(drop=True)
septiembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,18.676695,3.230568,6.824648,14.812288,22.547458
1,ALBACETE,21.633333,0.981667,8.618182,15.055833,28.206667
2,ALICANTE,24.683333,2.377119,8.538889,18.810833,30.550000
3,ALMERIA,23.904225,0.090345,6.974419,19.039437,28.771127
4,ARABA/ALAVA,17.236667,0.650909,6.813333,9.420000,25.053333
5,ASTURIAS,17.770684,2.340532,6.385024,13.951466,21.591857
6,AVILA,19.152542,1.598246,8.440000,12.530508,25.771186
7,BADAJOZ,22.544068,1.205556,9.116892,15.682486,29.402260
8,BARCELONA,22.934167,0.800847,7.274157,18.038333,27.819167
9,BIZKAIA,19.530000,3.530275,5.516667,14.635556,24.425556
10,BURGOS,16.785333,0.483673,6.890756,9.195333,24.376000
11,CACERES,22.329252,1.050000,8.843820,15.875510,28.790476
12,CADIZ,22.488835,0.366505,9.483333,18.105825,26.882039
13,CANTABRIA,18.546190,3.380769,6.416667,13.753810,23.344286
14,CASTELLON,19.594444,0.975214,7.471667,14.677778,24.508889
15,CIUDAD REAL,21.811565,0.265517,9.527119,14.634694,28.980272
16,CORDOBA,22.904237,0.553390,11.060000,16.068644,29.738983
17,CUENCA,20.540000,1.200000,8.006667,13.121667,27.951667
18,GIPUZKOA,19.341011,4.778771,5.996667,14.840449,23.843820
19,GIRONA,18.766387,3.224167,7.541667,12.555462,24.985714
20,GRANADA,22.729464,0.174138,9.753333,14.610714,30.842857
21,GUADALAJARA,17.881111,0.983133,8.750000,10.355556,25.408889
22,HUELVA,22.869492,0.582051,10.121429,17.527119,28.210169
23,HUESCA,18.030833,2.132500,6.958427,11.473333,24.593333
24,ILLES BALEARS,24.334717,2.281298,7.854857,19.987170,28.688302
25,JAEN,23.289333,0.499333,9.393220,16.577333,29.986667
26,LA RIOJA,20.230000,0.610345,7.903333,13.130000,27.333333
27,LAS PALMAS,24.603902,3.348020,8.273333,21.877561,27.335122
28,LEON,16.994444,1.150575,7.575714,10.322222,23.658889
29,LLEIDA,19.026271,1.563218,9.403333,12.188983,25.863559
30,LUGO,17.173333,1.020000,6.126667,11.070000,23.273333
31,MADRID,18.897479,1.710000,8.372067,12.847059,24.949300
32,MALAGA,23.982184,0.183051,9.260000,19.002874,28.963218
33,MURCIA,24.957333,1.186780,8.401914,19.032667,30.887667
34,NAVARRA,19.654667,1.193919,7.183333,12.871333,26.438000
35,OURENSE,17.515464,1.424176,5.765789,10.753608,24.277320
36,PALENCIA,16.406667,0.624444,6.740000,8.741111,24.072222
37,PONTEVEDRA,19.485000,3.720690,7.179630,14.675000,24.291667
38,SALAMANCA,17.306207,1.873239,8.329358,10.586897,23.980137
39,SEGOVIA,15.341667,1.740678,6.995000,10.210000,20.475000
40,SEVILLA,23.807692,0.613287,9.741667,16.354545,31.261538
41,SORIA,17.500000,0.478571,8.410000,10.160000,24.843333
42,STA. CRUZ DE TENERIFE,23.090667,3.948973,7.742458,20.221000,25.960333
43,TARRAGONA,23.943333,4.328070,7.053333,18.745000,29.150000
44,TERUEL,20.308333,2.030769,8.143023,13.097500,27.520000
45,TOLEDO,21.928889,0.475524,9.913559,14.604444,29.250000
46,VALENCIA,24.317778,0.777714,8.024167,18.932778,29.706667
47,VALLADOLID,18.103333,0.489286,8.320000,10.883333,25.315000
48,ZAMORA,18.358889,1.446667,8.345455,11.202222,25.526667
49,ZARAGOZA,20.868667,0.650350,8.600000,14.197333,27.527333

## OCTUBRE 22

In [70]:
url10="https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-10-01T00%3A00%3A00UTC/fechafin/2022-10-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response10 = requests.request("GET", url10, headers=header, params=querystring)
octubre_datos= response10.json()
print(response10.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/10e075b0",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [71]:
url10_datos=octubre_datos['datos']
url10_datos

'https://opendata.aemet.es/opendata/sh/10e075b0'

In [72]:
response10_datos=requests.get(url10_datos, headers=header)
response10_datos

In [73]:
datos_octubre= response10_datos.json()
datos_octubre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [74]:
df_octubre=pd.DataFrame(datos_octubre)
df_octubre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-10-01,4358X,DON BENITO,BADAJOZ,273,"19,5","0,0","10,4",05:40,"28,6",15:20,05,"0,8","5,0",14:00,"10,4","993,7",10,"988,7",00
1,2022-10-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"16,3",NaN,"5,3",06:10,"27,3",14:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"18,4",Ip,"15,6",05:36,"21,1",12:43,32,"3,9","14,4",00:06,"6,9","949,1",Varias,"946,5",17
3,2022-10-01,6106X,ANTEQUERA,MALAGA,408,"15,6","0,0","7,8",06:40,"23,5",13:10,14,"2,8","11,4",18:00,NaN,"977,1",23,"972,1",Varias
4,2022-10-01,9698U,TALARN,LLEIDA,807,"13,8","0,0","5,3",03:30,"22,3",14:30,22,"2,2","6,1",14:30,NaN,NaN,NaN,NaN,NaN

In [75]:
#Aplicar función:
octubre= procesar_mes(df_octubre)
octubre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,17.074797,7.699574,4.360390,13.951220,20.199187
1,ALBACETE,18.606504,0.519672,5.747170,12.440650,24.782927
2,ALICANTE,20.960870,0.838983,7.208046,15.174783,26.753913
3,ALMERIA,21.492523,0.054630,7.119355,16.188785,26.795327
4,ARABA/ALAVA,17.472581,1.156000,5.466129,10.345161,24.595161
5,ASTURIAS,16.997647,2.069552,4.499537,13.131471,20.862647
6,AVILA,17.450000,1.627586,5.500000,11.853333,23.045000
7,BADAJOZ,21.022826,1.137297,6.659355,14.675000,27.355435
8,BARCELONA,20.510569,0.520833,6.288043,15.811382,25.212195
9,BIZKAIA,20.168817,0.460870,4.129032,15.829032,24.505376
10,BURGOS,15.835099,1.323490,5.009756,8.986755,22.690728
11,CACERES,20.211688,3.174026,6.324731,14.611039,25.814935
12,CADIZ,22.206512,0.354502,6.787097,17.592093,26.819535
13,CANTABRIA,18.746512,1.351980,4.290323,14.332558,23.164186
14,CASTELLON,17.747312,1.043902,6.338710,13.108602,22.384946
15,CEUTA,20.967742,0.341935,4.867742,18.464516,23.480645
16,CIUDAD REAL,19.578947,0.729752,6.994915,12.529605,26.624342
17,CORDOBA,21.448387,0.827642,8.458065,15.191935,27.709677
18,CUENCA,18.496774,0.736667,6.122581,11.938710,25.046774
19,GIPUZKOA,19.900588,1.089024,4.096774,15.538235,24.264118
20,GIRONA,16.645528,1.214783,6.451667,10.717886,22.577236
21,GRANADA,20.978070,0.090351,6.291935,12.810526,29.153509
22,GUADALAJARA,15.725806,1.347126,6.409836,8.729032,22.713978
23,HUELVA,21.446341,1.524793,7.341935,16.440650,26.452846
24,HUESCA,16.812097,2.786179,4.615054,11.278226,22.337097
25,ILLES BALEARS,21.153933,2.050000,7.333696,16.696629,25.616105
26,JAEN,21.168531,0.671528,6.517742,14.979720,27.347552
27,LA RIOJA,18.629032,0.496296,6.074194,11.403226,25.832258
28,LAS PALMAS,23.839906,0.159813,8.998901,20.773239,26.907512
29,LEON,15.017391,2.842857,5.731169,9.227174,20.813043
30,LLEIDA,16.967742,2.056701,6.796552,10.583871,23.360484
31,LUGO,16.325806,6.425806,4.874194,11.503226,21.145161
32,MADRID,16.471622,1.738187,5.489247,11.321892,21.622432
33,MALAGA,21.708889,0.113750,6.025806,17.696111,25.726111
34,MELILLA,22.461290,0.173333,6.300000,19.245161,25.667742
35,MURCIA,21.056478,0.845215,6.786977,15.550498,26.563455
36,NAVARRA,19.239355,1.290323,5.735484,13.250323,25.240000
37,OURENSE,15.380645,6.482796,4.758065,9.725806,21.046237
38,PALENCIA,14.892473,3.062366,4.879032,8.589247,21.194624
39,PONTEVEDRA,17.443548,10.205085,4.884483,13.669355,21.235484
40,SALAMANCA,15.697279,3.967832,6.007826,9.802721,21.595918
41,SEGOVIA,14.500000,3.178947,4.946774,10.583871,18.409677
42,SEVILLA,22.017532,0.844521,6.867213,15.167532,28.854545
43,SORIA,15.374194,2.090909,6.374194,8.558065,22.203226
44,STA. CRUZ DE TENERIFE,21.928387,0.139731,8.222283,18.733548,25.120323
45,TARRAGONA,21.054839,0.884483,5.643548,15.937097,26.183871
46,TERUEL,18.174194,0.519355,6.170968,11.227419,25.122581
47,TOLEDO,19.631183,0.693478,7.211667,12.721505,26.536559
48,VALENCIA,20.667027,1.346988,5.946341,15.699459,25.625946
49,VALLADOLID,16.419355,2.564407,5.770968,10.270968,22.569355
50,ZAMORA,16.120000,2.162222,5.401099,9.748889,22.497778
51,ZARAGOZA,19.044805,0.604110,5.702419,12.778571,25.326623

In [99]:
#eliminar ceuta y melilla
indices_a_eliminar = octubre[octubre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
octubre = octubre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
octubre= septiembre.reset_index(drop=True)
octubre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,18.676695,3.230568,6.824648,14.812288,22.547458
1,ALBACETE,21.633333,0.981667,8.618182,15.055833,28.206667
2,ALICANTE,24.683333,2.377119,8.538889,18.810833,30.550000
3,ALMERIA,23.904225,0.090345,6.974419,19.039437,28.771127
4,ARABA/ALAVA,17.236667,0.650909,6.813333,9.420000,25.053333
5,ASTURIAS,17.770684,2.340532,6.385024,13.951466,21.591857
6,AVILA,19.152542,1.598246,8.440000,12.530508,25.771186
7,BADAJOZ,22.544068,1.205556,9.116892,15.682486,29.402260
8,BARCELONA,22.934167,0.800847,7.274157,18.038333,27.819167
9,BIZKAIA,19.530000,3.530275,5.516667,14.635556,24.425556
10,BURGOS,16.785333,0.483673,6.890756,9.195333,24.376000
11,CACERES,22.329252,1.050000,8.843820,15.875510,28.790476
12,CADIZ,22.488835,0.366505,9.483333,18.105825,26.882039
13,CANTABRIA,18.546190,3.380769,6.416667,13.753810,23.344286
14,CASTELLON,19.594444,0.975214,7.471667,14.677778,24.508889
15,CIUDAD REAL,21.811565,0.265517,9.527119,14.634694,28.980272
16,CORDOBA,22.904237,0.553390,11.060000,16.068644,29.738983
17,CUENCA,20.540000,1.200000,8.006667,13.121667,27.951667
18,GIPUZKOA,19.341011,4.778771,5.996667,14.840449,23.843820
19,GIRONA,18.766387,3.224167,7.541667,12.555462,24.985714
20,GRANADA,22.729464,0.174138,9.753333,14.610714,30.842857
21,GUADALAJARA,17.881111,0.983133,8.750000,10.355556,25.408889
22,HUELVA,22.869492,0.582051,10.121429,17.527119,28.210169
23,HUESCA,18.030833,2.132500,6.958427,11.473333,24.593333
24,ILLES BALEARS,24.334717,2.281298,7.854857,19.987170,28.688302
25,JAEN,23.289333,0.499333,9.393220,16.577333,29.986667
26,LA RIOJA,20.230000,0.610345,7.903333,13.130000,27.333333
27,LAS PALMAS,24.603902,3.348020,8.273333,21.877561,27.335122
28,LEON,16.994444,1.150575,7.575714,10.322222,23.658889
29,LLEIDA,19.026271,1.563218,9.403333,12.188983,25.863559
30,LUGO,17.173333,1.020000,6.126667,11.070000,23.273333
31,MADRID,18.897479,1.710000,8.372067,12.847059,24.949300
32,MALAGA,23.982184,0.183051,9.260000,19.002874,28.963218
33,MURCIA,24.957333,1.186780,8.401914,19.032667,30.887667
34,NAVARRA,19.654667,1.193919,7.183333,12.871333,26.438000
35,OURENSE,17.515464,1.424176,5.765789,10.753608,24.277320
36,PALENCIA,16.406667,0.624444,6.740000,8.741111,24.072222
37,PONTEVEDRA,19.485000,3.720690,7.179630,14.675000,24.291667
38,SALAMANCA,17.306207,1.873239,8.329358,10.586897,23.980137
39,SEGOVIA,15.341667,1.740678,6.995000,10.210000,20.475000
40,SEVILLA,23.807692,0.613287,9.741667,16.354545,31.261538
41,SORIA,17.500000,0.478571,8.410000,10.160000,24.843333
42,STA. CRUZ DE TENERIFE,23.090667,3.948973,7.742458,20.221000,25.960333
43,TARRAGONA,23.943333,4.328070,7.053333,18.745000,29.150000
44,TERUEL,20.308333,2.030769,8.143023,13.097500,27.520000
45,TOLEDO,21.928889,0.475524,9.913559,14.604444,29.250000
46,VALENCIA,24.317778,0.777714,8.024167,18.932778,29.706667
47,VALLADOLID,18.103333,0.489286,8.320000,10.883333,25.315000
48,ZAMORA,18.358889,1.446667,8.345455,11.202222,25.526667
49,ZARAGOZA,20.868667,0.650350,8.600000,14.197333,27.527333

## NOVIEMBRE 22

In [76]:
url11= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-11-01T00%3A00%3A00UTC/fechafin/2022-11-30T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response11 = requests.request("GET", url11, headers=header, params=querystring)
noviembre_datos= response11.json()
print(response11.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1aaa0a38",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [77]:
url11_datos= noviembre_datos['datos']
url11_datos

'https://opendata.aemet.es/opendata/sh/1aaa0a38'

In [78]:
response11_datos= requests.get(url11_datos, headers=header)
response11_datos

In [79]:
datos_noviembre= response11_datos.json()
datos_noviembre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [80]:
df_noviembre= pd.DataFrame(datos_noviembre)
df_noviembre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-11-01,4358X,DON BENITO,BADAJOZ,273,"18,2","0,0","13,8",23:59,"22,5",14:00,34,"0,8","4,4",13:00,"5,9","992,6",Varias,"989,7",00
1,2022-11-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"17,0","0,0","9,3",07:00,"24,7",14:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-11-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"19,6","0,0","14,8",Varias,"24,4",13:57,11,"2,8","6,7",14:17,"9,5","953,3",Varias,"950,6",04
3,2022-11-01,6106X,ANTEQUERA,MALAGA,408,"18,8","0,0","11,3",07:20,"26,3",14:50,31,"1,1","5,6",15:50,NaN,"975,5",09,"972,1",15
4,2022-11-01,9698U,TALARN,LLEIDA,807,"13,0","0,0","8,4",06:00,"17,6",15:40,16,"1,7","4,4",12:40,NaN,NaN,NaN,NaN,NaN

In [81]:
#Aplico la función:
noviembre= procesar_mes(df_noviembre)
noviembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,13.310417,6.299571,3.182000,10.267083,16.355417
1,ALBACETE,12.128814,0.794737,5.203704,6.997458,17.261017
2,ALICANTE,16.556410,1.467227,6.667816,11.092308,22.012821
3,ALMERIA,16.593277,0.167164,6.873333,11.676471,21.517647
4,ARABA/ALAVA,9.786667,2.984000,3.458333,4.308333,15.261667
5,ASTURIAS,12.168085,3.497819,3.843810,8.385714,15.947720
6,AVILA,10.278000,2.928000,4.183333,5.530000,15.022000
7,BADAJOZ,13.843017,1.546667,5.252027,8.981564,18.702235
8,BARCELONA,14.894167,0.470175,5.174444,10.239167,19.541667
9,BIZKAIA,13.656667,7.276136,3.033333,9.568889,17.754444
10,BURGOS,8.637333,2.231250,2.844538,3.668000,13.607333
11,CACERES,12.984667,1.947945,5.056180,8.822000,17.154000
12,CADIZ,16.721154,3.397949,6.150000,12.690385,20.759615
13,CANTABRIA,12.690476,4.453883,3.878889,8.551905,16.838095
14,CASTELLON,12.069663,4.800000,5.890000,7.557303,16.579775
15,CEUTA,18.596667,2.160000,5.790000,15.843333,21.353333
16,CIUDAD REAL,12.160403,0.908163,5.203390,6.583893,17.734228
17,CORDOBA,14.046218,1.145299,6.656667,9.143697,18.952101
18,CUENCA,10.713208,1.352542,4.913333,5.003774,16.420755
19,GIPUZKOA,13.493711,10.611392,3.036667,9.537107,17.453459
20,GIRONA,9.902564,1.081197,4.744828,4.370085,15.430769
21,GRANADA,13.081416,0.511712,6.645000,6.038053,20.125664
22,GUADALAJARA,8.834444,1.434884,4.281667,3.397778,14.265556
23,HUELVA,16.295833,1.337500,6.553333,11.617500,20.964167
24,HUESCA,8.903333,3.331933,4.052222,4.250000,13.560833
25,ILLES BALEARS,16.262069,3.367729,5.705780,12.281992,20.240996
26,JAEN,13.710563,0.663946,4.912069,8.970423,18.452817
27,LA RIOJA,10.903333,1.319231,3.996667,5.456667,16.356667
28,LAS PALMAS,22.584058,0.019807,8.450000,19.584058,25.584058
29,LEON,8.268817,1.721591,4.048485,3.815054,12.729032
30,LLEIDA,9.329245,1.663000,6.180000,3.950000,14.702830
31,LUGO,10.876667,4.686667,3.486667,6.623333,15.136667
32,MADRID,9.485838,2.503188,4.676111,5.234393,13.738439
33,MALAGA,17.758523,0.489726,6.480000,13.464205,22.050000
34,MELILLA,19.196667,0.313333,7.140000,15.903333,22.486667
35,MURCIA,16.575768,0.583165,6.713397,10.955631,22.219192
36,NAVARRA,10.857333,3.776761,3.290000,6.164000,15.548667
37,OURENSE,9.409184,5.852000,2.423810,5.082653,13.738776
38,PALENCIA,7.742222,1.664444,4.413333,2.694444,12.796667
39,PONTEVEDRA,12.806667,13.263158,2.805455,9.401667,16.201667
40,SALAMANCA,8.742000,3.441497,3.872500,3.970667,13.524000
41,SEGOVIA,7.033333,5.230000,2.883333,3.415000,10.663333
42,SEVILLA,15.399333,0.891803,6.050000,9.536667,21.252000
43,SORIA,8.620000,2.538462,4.790000,3.583333,13.673333
44,STA. CRUZ DE TENERIFE,20.637000,0.077397,7.340556,17.610333,23.662333
45,TARRAGONA,15.563333,1.075439,5.530000,10.326667,20.820000
46,TERUEL,11.199167,1.481356,4.787778,5.706667,16.686667
47,TOLEDO,12.147191,1.370000,5.411864,6.644944,17.641573
48,VALENCIA,16.142286,2.219880,5.989167,10.992571,21.284000
49,VALLADOLID,9.040000,1.735849,4.310000,4.373333,13.710000
50,ZAMORA,9.317978,1.467416,4.143678,4.735955,13.892135
51,ZARAGOZA,11.379195,1.212414,4.130508,6.385235,16.379195

In [100]:
#eliminar ceuta y melilla
indices_a_eliminar = noviembre[noviembre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
noviembre = noviembre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
noviembre= noviembre.reset_index(drop=True)
noviembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,13.310417,6.299571,3.182000,10.267083,16.355417
1,ALBACETE,12.128814,0.794737,5.203704,6.997458,17.261017
2,ALICANTE,16.556410,1.467227,6.667816,11.092308,22.012821
3,ALMERIA,16.593277,0.167164,6.873333,11.676471,21.517647
4,ARABA/ALAVA,9.786667,2.984000,3.458333,4.308333,15.261667
5,ASTURIAS,12.168085,3.497819,3.843810,8.385714,15.947720
6,AVILA,10.278000,2.928000,4.183333,5.530000,15.022000
7,BADAJOZ,13.843017,1.546667,5.252027,8.981564,18.702235
8,BARCELONA,14.894167,0.470175,5.174444,10.239167,19.541667
9,BIZKAIA,13.656667,7.276136,3.033333,9.568889,17.754444
10,BURGOS,8.637333,2.231250,2.844538,3.668000,13.607333
11,CACERES,12.984667,1.947945,5.056180,8.822000,17.154000
12,CADIZ,16.721154,3.397949,6.150000,12.690385,20.759615
13,CANTABRIA,12.690476,4.453883,3.878889,8.551905,16.838095
14,CASTELLON,12.069663,4.800000,5.890000,7.557303,16.579775
15,CIUDAD REAL,12.160403,0.908163,5.203390,6.583893,17.734228
16,CORDOBA,14.046218,1.145299,6.656667,9.143697,18.952101
17,CUENCA,10.713208,1.352542,4.913333,5.003774,16.420755
18,GIPUZKOA,13.493711,10.611392,3.036667,9.537107,17.453459
19,GIRONA,9.902564,1.081197,4.744828,4.370085,15.430769
20,GRANADA,13.081416,0.511712,6.645000,6.038053,20.125664
21,GUADALAJARA,8.834444,1.434884,4.281667,3.397778,14.265556
22,HUELVA,16.295833,1.337500,6.553333,11.617500,20.964167
23,HUESCA,8.903333,3.331933,4.052222,4.250000,13.560833
24,ILLES BALEARS,16.262069,3.367729,5.705780,12.281992,20.240996
25,JAEN,13.710563,0.663946,4.912069,8.970423,18.452817
26,LA RIOJA,10.903333,1.319231,3.996667,5.456667,16.356667
27,LAS PALMAS,22.584058,0.019807,8.450000,19.584058,25.584058
28,LEON,8.268817,1.721591,4.048485,3.815054,12.729032
29,LLEIDA,9.329245,1.663000,6.180000,3.950000,14.702830
30,LUGO,10.876667,4.686667,3.486667,6.623333,15.136667
31,MADRID,9.485838,2.503188,4.676111,5.234393,13.738439
32,MALAGA,17.758523,0.489726,6.480000,13.464205,22.050000
33,MURCIA,16.575768,0.583165,6.713397,10.955631,22.219192
34,NAVARRA,10.857333,3.776761,3.290000,6.164000,15.548667
35,OURENSE,9.409184,5.852000,2.423810,5.082653,13.738776
36,PALENCIA,7.742222,1.664444,4.413333,2.694444,12.796667
37,PONTEVEDRA,12.806667,13.263158,2.805455,9.401667,16.201667
38,SALAMANCA,8.742000,3.441497,3.872500,3.970667,13.524000
39,SEGOVIA,7.033333,5.230000,2.883333,3.415000,10.663333
40,SEVILLA,15.399333,0.891803,6.050000,9.536667,21.252000
41,SORIA,8.620000,2.538462,4.790000,3.583333,13.673333
42,STA. CRUZ DE TENERIFE,20.637000,0.077397,7.340556,17.610333,23.662333
43,TARRAGONA,15.563333,1.075439,5.530000,10.326667,20.820000
44,TERUEL,11.199167,1.481356,4.787778,5.706667,16.686667
45,TOLEDO,12.147191,1.370000,5.411864,6.644944,17.641573
46,VALENCIA,16.142286,2.219880,5.989167,10.992571,21.284000
47,VALLADOLID,9.040000,1.735849,4.310000,4.373333,13.710000
48,ZAMORA,9.317978,1.467416,4.143678,4.735955,13.892135
49,ZARAGOZA,11.379195,1.212414,4.130508,6.385235,16.379195

## DICIEMBRE 22

In [82]:
url12= "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-12-01T00%3A00%3A00UTC/fechafin/2022-12-31T00%3A00%3A00UTC/todasestaciones"
querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response12 = requests.request("GET", url12, headers=header, params=querystring)
diciembre_datos= response12.json()
print(response12.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/1dbadfee",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [83]:
url12_datos= diciembre_datos['datos']
url12_datos

'https://opendata.aemet.es/opendata/sh/1dbadfee'

In [84]:
response12_datos= requests.get(url12_datos, headers=header)
response12_datos

In [85]:
datos_diciembre= response12_datos.json()
datos_diciembre[0].keys()

dict_keys(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'])

In [86]:
df_diciembre=pd.DataFrame(datos_diciembre)
df_diciembre.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2022-12-01,4358X,DON BENITO,BADAJOZ,273,"12,6","0,0","7,1",23:59,"18,0",14:40,11,"0,8","3,9",09:00,"8,2","982,0",00,"979,8",16
1,2022-12-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"10,6",NaN,"3,7",23:59,"17,4",13:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"15,3","11,5","11,9",07:46,"18,7",Varias,29,"7,2","13,3",21:45,"7,8","948,1",00,"944,3",15
3,2022-12-01,9698U,TALARN,LLEIDA,807,"2,9","0,0","-1,7",07:20,"7,5",14:50,18,"1,1","3,9",12:30,NaN,NaN,NaN,NaN,NaN
4,2022-12-01,4410X,MÉRIDA,BADAJOZ,228,"10,8","0,0","3,3",23:40,"18,3",14:40,01,"1,1","4,7",11:10,NaN,NaN,NaN,NaN,NaN

In [87]:
#Aplico función:
diciembre=procesar_mes(df_diciembre)
diciembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,11.919421,10.436797,2.552903,9.270661,14.563636
1,ALBACETE,10.366393,2.361017,3.254545,5.925410,14.795902
2,ALICANTE,13.939516,0.532000,4.976344,8.792742,19.090323
3,ALMERIA,14.474016,1.621739,5.477419,9.506299,19.447244
4,ARABA/ALAVA,8.711290,1.028070,2.946774,4.993548,12.425806
5,ASTURIAS,10.755294,3.558631,2.605530,7.491765,14.018529
6,AVILA,8.763333,2.116129,2.848387,5.426667,12.098333
7,BADAJOZ,12.483784,6.032609,3.828571,8.522162,16.436216
8,BARCELONA,11.779508,1.197479,4.319565,7.486885,16.066393
9,BIZKAIA,12.222581,2.598000,2.035484,8.918280,15.520430
10,BURGOS,7.481290,2.300000,1.951923,4.234839,10.736774
11,CACERES,11.567742,7.907895,2.872826,8.580645,14.561935
12,CADIZ,15.272350,9.392647,4.945000,11.940092,18.603226
13,CANTABRIA,11.503226,2.503318,2.526882,8.284332,14.724885
14,CASTELLON,9.829032,0.539831,4.700000,5.702151,13.956989
15,CEUTA,16.754839,5.806452,4.158065,14.419355,19.080645
16,CIUDAD REAL,10.223377,2.753571,3.813115,5.641558,14.809091
17,CORDOBA,12.286290,4.314754,5.890323,8.216129,16.357258
18,CUENCA,8.894340,3.388235,2.883871,4.722642,13.066038
19,GIPUZKOA,12.034946,2.405495,2.549462,8.484409,15.584409
20,GIRONA,7.667227,0.926829,4.193443,2.560504,12.776471
21,GRANADA,11.152459,3.852809,4.925806,5.315574,16.983607
22,GUADALAJARA,7.278495,3.286047,2.469355,3.388172,11.159140
23,HUELVA,14.360331,5.922500,5.525806,10.433884,18.294215
24,HUESCA,6.629032,3.483740,3.040217,2.824194,10.437903
25,ILLES BALEARS,14.122628,1.523137,5.161878,10.240876,18.005474
26,JAEN,11.737162,4.515652,3.825000,7.875000,15.600676
27,LA RIOJA,8.138710,2.268182,2.651613,4.296774,11.967742
28,LAS PALMAS,20.882629,0.393023,6.776344,17.815962,23.952582
29,LEON,6.345902,4.000000,1.448387,3.363115,9.333607
30,LLEIDA,6.075000,1.437815,3.546667,1.518548,10.638710
31,LUGO,9.309677,6.019355,1.783871,5.670968,12.938710
32,MADRID,7.545378,4.532591,2.358382,4.459104,10.635574
33,MALAGA,15.924490,4.144355,4.674194,12.191156,19.653061
34,MELILLA,17.032258,1.473333,5.758065,12.996774,21.061290
35,MURCIA,13.900326,0.754636,5.037500,8.608143,19.209677
36,NAVARRA,8.814865,1.542953,3.274194,4.985811,12.647973
37,OURENSE,9.525000,6.413821,1.911290,6.154839,12.887903
38,PALENCIA,6.646237,3.270968,1.711290,3.539785,9.751613
39,PONTEVEDRA,11.909677,15.065000,2.553448,9.004839,14.803226
40,SALAMANCA,7.953548,5.762676,2.468548,4.737419,11.172903
41,SEGOVIA,5.988710,5.748276,2.220968,3.170968,8.812903
42,SEVILLA,13.499351,5.051471,4.927419,8.499351,18.500649
43,SORIA,6.925806,3.340741,2.780645,3.390323,10.464516
44,STA. CRUZ DE TENERIFE,18.902903,2.014047,6.092473,15.820645,21.987742
45,TARRAGONA,12.095161,1.088889,4.656452,7.061290,17.130645
46,TERUEL,8.410484,1.081967,3.917204,3.304032,13.506452
47,TOLEDO,10.016049,4.190400,3.448387,5.956790,14.076543
48,VALENCIA,13.775806,1.303955,4.413710,9.233333,18.317204
49,VALLADOLID,7.827419,4.580702,2.246774,4.545161,11.127419
50,ZAMORA,8.213043,4.212222,1.386517,5.453261,10.976087
51,ZARAGOZA,8.638710,1.658667,3.476613,4.465806,12.802581

In [89]:
#eliminar ceuta y melilla
indices_a_eliminar = diciembre[diciembre['provincia'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
diciembre = diciembre.drop(indices_a_eliminar)

# Ahora, el DataFrame contendrá las filas sin "CEUTA" y "MELILLA"
diciembre= diciembre.reset_index(drop=True)

In [90]:
diciembre

,provincia,media_tmed,media_prec,media_sol,media_tmin,media_tmax
0,A CORUÑA,11.919421,10.436797,2.552903,9.270661,14.563636
1,ALBACETE,10.366393,2.361017,3.254545,5.925410,14.795902
2,ALICANTE,13.939516,0.532000,4.976344,8.792742,19.090323
3,ALMERIA,14.474016,1.621739,5.477419,9.506299,19.447244
4,ARABA/ALAVA,8.711290,1.028070,2.946774,4.993548,12.425806
5,ASTURIAS,10.755294,3.558631,2.605530,7.491765,14.018529
6,AVILA,8.763333,2.116129,2.848387,5.426667,12.098333
7,BADAJOZ,12.483784,6.032609,3.828571,8.522162,16.436216
8,BARCELONA,11.779508,1.197479,4.319565,7.486885,16.066393
9,BIZKAIA,12.222581,2.598000,2.035484,8.918280,15.520430
10,BURGOS,7.481290,2.300000,1.951923,4.234839,10.736774
11,CACERES,11.567742,7.907895,2.872826,8.580645,14.561935
12,CADIZ,15.272350,9.392647,4.945000,11.940092,18.603226
13,CANTABRIA,11.503226,2.503318,2.526882,8.284332,14.724885
14,CASTELLON,9.829032,0.539831,4.700000,5.702151,13.956989
15,CIUDAD REAL,10.223377,2.753571,3.813115,5.641558,14.809091
16,CORDOBA,12.286290,4.314754,5.890323,8.216129,16.357258
17,CUENCA,8.894340,3.388235,2.883871,4.722642,13.066038
18,GIPUZKOA,12.034946,2.405495,2.549462,8.484409,15.584409
19,GIRONA,7.667227,0.926829,4.193443,2.560504,12.776471
20,GRANADA,11.152459,3.852809,4.925806,5.315574,16.983607
21,GUADALAJARA,7.278495,3.286047,2.469355,3.388172,11.159140
22,HUELVA,14.360331,5.922500,5.525806,10.433884,18.294215
23,HUESCA,6.629032,3.483740,3.040217,2.824194,10.437903
24,ILLES BALEARS,14.122628,1.523137,5.161878,10.240876,18.005474
25,JAEN,11.737162,4.515652,3.825000,7.875000,15.600676
26,LA RIOJA,8.138710,2.268182,2.651613,4.296774,11.967742
27,LAS PALMAS,20.882629,0.393023,6.776344,17.815962,23.952582
28,LEON,6.345902,4.000000,1.448387,3.363115,9.333607
29,LLEIDA,6.075000,1.437815,3.546667,1.518548,10.638710
30,LUGO,9.309677,6.019355,1.783871,5.670968,12.938710
31,MADRID,7.545378,4.532591,2.358382,4.459104,10.635574
32,MALAGA,15.924490,4.144355,4.674194,12.191156,19.653061
33,MURCIA,13.900326,0.754636,5.037500,8.608143,19.209677
34,NAVARRA,8.814865,1.542953,3.274194,4.985811,12.647973
35,OURENSE,9.525000,6.413821,1.911290,6.154839,12.887903
36,PALENCIA,6.646237,3.270968,1.711290,3.539785,9.751613
37,PONTEVEDRA,11.909677,15.065000,2.553448,9.004839,14.803226
38,SALAMANCA,7.953548,5.762676,2.468548,4.737419,11.172903
39,SEGOVIA,5.988710,5.748276,2.220968,3.170968,8.812903
40,SEVILLA,13.499351,5.051471,4.927419,8.499351,18.500649
41,SORIA,6.925806,3.340741,2.780645,3.390323,10.464516
42,STA. CRUZ DE TENERIFE,18.902903,2.014047,6.092473,15.820645,21.987742
43,TARRAGONA,12.095161,1.088889,4.656452,7.061290,17.130645
44,TERUEL,8.410484,1.081967,3.917204,3.304032,13.506452
45,TOLEDO,10.016049,4.190400,3.448387,5.956790,14.076543
46,VALENCIA,13.775806,1.303955,4.413710,9.233333,18.317204
47,VALLADOLID,7.827419,4.580702,2.246774,4.545161,11.127419
48,ZAMORA,8.213043,4.212222,1.386517,5.453261,10.976087
49,ZARAGOZA,8.638710,1.658667,3.476613,4.465806,12.802581