In [45]:
import pandas as pd

In [44]:
Ine_2023 = pd.read_csv('../2023.csv', encoding='latin1', sep="\t")
Ine_2023.head()

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia: Nivel 1,Residencia: Nivel 2,Periodo,Total
0,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M09,11.635.208
1,Total Nacional,NaN,NaN,Viajero,Total,Residentes en España,2023M09,5.132.262
2,Total Nacional,NaN,NaN,Viajero,Total,Residentes en el Extranjero,2023M09,6.502.946
3,Total Nacional,NaN,NaN,Pernoctaciones,Total,NaN,2023M09,38.085.285
4,Total Nacional,NaN,NaN,Pernoctaciones,Total,Residentes en España,2023M09,11.810.259

In [55]:
ine = Ine_2023.copy()
type(INE)

pandas.core.frame.DataFrame

In [60]:
ine.iloc[0:20]

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia: Nivel 1,Residencia: Nivel 2,Periodo,Total
0,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M09,11.635.208
1,Total Nacional,NaN,NaN,Viajero,Total,Residentes en España,2023M09,5.132.262
2,Total Nacional,NaN,NaN,Viajero,Total,Residentes en el Extranjero,2023M09,6.502.946
3,Total Nacional,NaN,NaN,Pernoctaciones,Total,NaN,2023M09,38.085.285
4,Total Nacional,NaN,NaN,Pernoctaciones,Total,Residentes en España,2023M09,11.810.259
5,Total Nacional,NaN,NaN,Pernoctaciones,Total,Residentes en el Extranjero,2023M09,26.275.026
6,Total Nacional,01 Andalucía,NaN,Viajero,Total,NaN,2023M09,2.032.826
7,Total Nacional,01 Andalucía,NaN,Viajero,Total,Residentes en España,2023M09,1.044.697
8,Total Nacional,01 Andalucía,NaN,Viajero,Total,Residentes en el Extranjero,2023M09,988.129
9,Total Nacional,01 Andalucía,NaN,Pernoctaciones,Total,NaN,2023M09,6.002.929
10,Total Nacional,01 Andalucía,NaN,Pernoctaciones,Total,Residentes en España,2023M09,2.588.824
11,Total Nacional,01 Andalucía,NaN,Pernoctaciones,Total,Residentes en el Extranjero,2023M09,3.414.106
12,Total Nacional,01 Andalucía,04 Almería,Viajero,Total,NaN,2023M09,178.491
13,Total Nacional,01 Andalucía,04 Almería,Viajero,Total,Residentes en España,2023M09,138.686
14,Total Nacional,01 Andalucía,04 Almería,Viajero,Total,Residentes en el Extranjero,2023M09,39.804
15,Total Nacional,01 Andalucía,04 Almería,Pernoctaciones,Total,NaN,2023M09,669.529
16,Total Nacional,01 Andalucía,04 Almería,Pernoctaciones,Total,Residentes en España,2023M09,474.975
17,Total Nacional,01 Andalucía,04 Almería,Pernoctaciones,Total,Residentes en el Extranjero,2023M09,194.554
18,Total Nacional,01 Andalucía,11 Cádiz,Viajero,Total,NaN,2023M09,311.445
19,Total Nacional,01 Andalucía,11 Cádiz,Viajero,Total,Residentes en España,2023M09,200.986

Observando la tabla no me la ordenado correctamente y es dificil su visualización. Por lo que, voy a recurrir a la herramienta 'pivot' para reorganizar y analizar los datos en un formato más adecuado.

In [ ]:
tabla_pivot= tabla.pivot_table(index=['Totales'])

In [61]:
import pandas as pd

# Tu DataFrame original
# ...

# Utiliza pivot_table para reorganizar los datos
tabla_pivot = tabla.pivot_table(index=['Totales Territoriales', 'Comunidades y Ciudades Autónomas', 'Provincias', 'Periodo'], columns='Residencia: Nivel 2', values='Total', aggfunc='sum')

# Restablece el índice para obtener la estructura deseada
tabla_pivot = tabla_pivot.reset_index()

# Cambia el nombre de las columnas para que coincidan con la estructura deseada
tabla_pivot.columns = ['Viajero', 'Pernoctaciones', 'Residentes en España', 'Residentes en el Extranjero', 'Total', 'Residentes en España', 'Residentes en el Extranjero']

# Elimina el nombre de las columnas para que la primera fila sea el encabezado
tabla_pivot.columns.name = None

# Reorganiza las columnas según la estructura deseada
tabla_pivot = tabla_pivot[['Viajero', 'Pernoctaciones', 'Residentes en España', 'Residentes en el Extranjero', 'Total', 'Residentes en España', 'Residentes en el Extranjero', 'Periodo']]

# Muestra el resultado
print(tabla_pivot)

ValueError: Length mismatch: Expected axis has 6 elements, new values have 7 elements

In [59]:
ine.iloc[7]

Totales Territoriales                     Total Nacional
Comunidades y Ciudades Autónomas            01 Andalucía
Provincias                                           NaN
Viajeros y pernoctaciones                        Viajero
Residencia: Nivel 1                               Total
Residencia: Nivel 2                 Residentes en España
Periodo                                          2023M09
Total                                          1.044.697
Name: 7, dtype: object

In [57]:
ine.keys()

Index(['Totales Territoriales', 'Comunidades y Ciudades Autónomas',
       'Provincias', 'Viajeros y pernoctaciones', 'Residencia: Nivel 1',
       'Residencia: Nivel 2', 'Periodo', 'Total'],
      dtype='object')

In [70]:
#Agrupar por provincias y coger los semestres. Estudiar la de 2022 y juntarlas, sumar los datos.

In [64]:
Ine_primersemestre = pd.read_csv('../2022_primersemestre.csv', encoding='latin1', sep="\t")
Ine_primersemestre.head()

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia: Nivel 1,Residencia: Nivel 2,Periodo,Total
0,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M06,10.990.468
1,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M05,9.920.671
2,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M04,8.689.822
3,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M03,6.061.398
4,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M02,5.133.961

In [65]:
Ine_primersemestre.shape

(2520, 8)

In [68]:
Ine_segundosemestre = pd.read_csv('../2022_segundosemestre.csv', encoding='latin1', sep="\t")
Ine_segundosemestre.head()

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia: Nivel 1,Residencia: Nivel 2,Periodo,Total
0,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M12,6.054.556
1,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M11,6.284.698
2,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M10,9.743.259
3,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M09,11.050.305
4,Total Nacional,NaN,NaN,Viajero,Total,NaN,2022M08,12.889.916

In [69]:
Ine_segundosemestre.shape

(2520, 8)

#### Limpiar nombre de columnas y renombrar

## CSV DESDE 1999

In [19]:
INE_original= pd.read_csv('../2074.csv', sep="\t")
INE_original.head()

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia: Nivel 1,Residencia: Nivel 2,Periodo,Total
0,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M09,11.635.208
1,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M08,13.196.928
2,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M07,12.664.627
3,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M06,11.507.055
4,Total Nacional,NaN,NaN,Viajero,Total,NaN,2023M05,10.645.074

In [20]:
INE_original.keys()

Index(['Totales Territoriales', 'Comunidades y Ciudades Autónomas',
       'Provincias', 'Viajeros y pernoctaciones', 'Residencia: Nivel 1',
       'Residencia: Nivel 2', 'Periodo', 'Total'],
      dtype='object')

In [23]:
INE = INE_original.copy()
type(INE)

pandas.core.frame.DataFrame