In [32]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from pymongo import MongoClient

In [2]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By

PATH = 'drive/chromedriver' 
driver = webdriver.Chrome()
driver.get('https://www.google.es')

In [4]:
url= "https://es.wikipedia.org/wiki/Anexo:Provincias_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a"
driver= webdriver.Chrome()
driver.get(url)

In [5]:
tabla= driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table')
tabla

In [6]:
cabecera= tabla.find_element(By.XPATH, 'thead')

In [7]:
len(cabecera.find_elements(By.TAG_NAME, 'th'))

12

In [8]:
cabecera= [e.text.replace('\n', ' ').replace('*', '') for e in cabecera.find_elements(By.TAG_NAME, 'th')]
cabecera

['Puesto',
 'Escudo',
 'Nombre',
 'Población',
 'Porcentaje población',
 'Densidad (hab./km²)',
 'Superficie (km²)2',
 'Porcentaje superficie',
 'Mapa',
 'Capital',
 'Ciudad más poblada',
 'Comunidad autónoma']

In [9]:
cuerpo= tabla.find_element(By.TAG_NAME, 'tbody')
filas= cuerpo.find_elements(By.TAG_NAME, 'tr')
len(filas)

52

In [10]:
filas[0].find_elements(By.TAG_NAME, 'td')[0].text

'1'

In [11]:
matriz=[]
for f in filas:
    tmp=[]
    elemens= f.find_elements(By.TAG_NAME, 'td')
    for e in elemens:
        tmp.append(e.text)
    matriz.append(tmp)

In [12]:
len(matriz[0])

12

In [13]:
#Tranformo todo a DF para ordenarlo y representarlo:
columnas=[i for i in range(12)]

In [21]:
df= pd.DataFrame(matriz, columns=columnas)
df= df[[2,3,4]]

In [22]:
df

                         2          3        4
0                   Madrid  6 825 005  14.33 %
1                Barcelona  5 658 399  11.88 %
2                 Valencia  2 600 793   5.46 %
3                 Alicante  1 974 438   4.15 %
4                  Sevilla  1 964 651   4.13 %
5                   Málaga  1 722 388   3.62 %
6                   Murcia  1 531 140   3.22 %
7                    Cádiz  1 260 204   2.65 %
8                 Baleares  1 232 270   2.59 %
9               Las Palmas  1 159 313   2.43 %
10                 Vizcaya  1 135 269   2.38 %
11               La Coruña  1 122 032   2.36 %
12  Santa Cruz de Tenerife  1 102 340   2.32 %
13                Asturias  1 005 397   2.11 %
14                Zaragoza    959 471   2.02 %
15              Pontevedra    943 473   1.98 %
16                 Granada    932 248   1.96 %
17               Tarragona    828 809   1.74 %
18                  Gerona    783 420   1.65 %
19                 Córdoba    776 582   1.63 %
20                 Almería    729 201   1.53 %
21               Guipúzcoa    714 906    1.5 %
22                  Toledo    712 472    1.5 %
23                 Badajoz    666 971    1.4 %
24                 Navarra    661 830   1.39 %
25                    Jaén    620 762    1.3 %
26               Cantabria    585 221   1.23 %
27               Castellón    582 434   1.22 %
28                  Huelva    533 989   1.12 %
29              Valladolid    518 950   1.09 %
30             Ciudad Real    489 755   1.03 %
31                    León    451 209   0.95 %
32                  Lérida    439 506   0.92 %
33                Albacete    387 969   0.81 %
34                 Cáceres    385 472   0.81 %
35                  Burgos    352 331   0.74 %
36                   Álava    331 103    0.7 %
37               Salamanca    326 080   0.68 %
38                    Lugo    323 984   0.68 %
39                La Rioja    316 806   0.67 %
40                  Orense    303 960   0.64 %
41             Guadalajara    268 860   0.56 %
42                  Huesca    222 713   0.47 %
43                  Cuenca    198 990   0.42 %
44                  Zamora    167 362   0.35 %
45                   Ávila    159 317   0.33 %
46                Palencia    157 205   0.33 %
47                 Segovia    153 993   0.32 %
48                  Teruel    133 338   0.28 %
49                   Soria     89 519   0.19 %
50                 Melilla     82 810   0.17 %
51                   Ceuta     82 147   0.17 %

In [24]:
#Renombro las columnas:
df = df.rename(columns={2: "Provincias", 3: "Población", 4: "Porcentaje_poblacion"})
df= df.sort_values(by='Provincias')
df= df.reset_index(drop=True)
df

                Provincias  Población Porcentaje_poblacion
0                 Albacete    387 969               0.81 %
1                 Alicante  1 974 438               4.15 %
2                  Almería    729 201               1.53 %
3                 Asturias  1 005 397               2.11 %
4                  Badajoz    666 971                1.4 %
5                 Baleares  1 232 270               2.59 %
6                Barcelona  5 658 399              11.88 %
7                   Burgos    352 331               0.74 %
8                Cantabria    585 221               1.23 %
9                Castellón    582 434               1.22 %
10                   Ceuta     82 147               0.17 %
11             Ciudad Real    489 755               1.03 %
12                  Cuenca    198 990               0.42 %
13                 Cáceres    385 472               0.81 %
14                   Cádiz  1 260 204               2.65 %
15                 Córdoba    776 582               1.63 %
16                  Gerona    783 420               1.65 %
17                 Granada    932 248               1.96 %
18             Guadalajara    268 860               0.56 %
19               Guipúzcoa    714 906                1.5 %
20                  Huelva    533 989               1.12 %
21                  Huesca    222 713               0.47 %
22                    Jaén    620 762                1.3 %
23               La Coruña  1 122 032               2.36 %
24                La Rioja    316 806               0.67 %
25              Las Palmas  1 159 313               2.43 %
26                    León    451 209               0.95 %
27                    Lugo    323 984               0.68 %
28                  Lérida    439 506               0.92 %
29                  Madrid  6 825 005              14.33 %
30                 Melilla     82 810               0.17 %
31                  Murcia  1 531 140               3.22 %
32                  Málaga  1 722 388               3.62 %
33                 Navarra    661 830               1.39 %
34                  Orense    303 960               0.64 %
35                Palencia    157 205               0.33 %
36              Pontevedra    943 473               1.98 %
37               Salamanca    326 080               0.68 %
38  Santa Cruz de Tenerife  1 102 340               2.32 %
39                 Segovia    153 993               0.32 %
40                 Sevilla  1 964 651               4.13 %
41                   Soria     89 519               0.19 %
42               Tarragona    828 809               1.74 %
43                  Teruel    133 338               0.28 %
44                  Toledo    712 472                1.5 %
45                Valencia  2 600 793               5.46 %
46              Valladolid    518 950               1.09 %
47                 Vizcaya  1 135 269               2.38 %
48                  Zamora    167 362               0.35 %
49                Zaragoza    959 471               2.02 %
50                   Álava    331 103                0.7 %
51                   Ávila    159 317               0.33 %

In [25]:
df['Provincias'].value_counts()

Albacete                  1
Alicante                  1
Lérida                    1
Madrid                    1
Melilla                   1
Murcia                    1
Málaga                    1
Navarra                   1
Orense                    1
Palencia                  1
Pontevedra                1
Salamanca                 1
Santa Cruz de Tenerife    1
Segovia                   1
Sevilla                   1
Soria                     1
Tarragona                 1
Teruel                    1
Toledo                    1
Valencia                  1
Valladolid                1
Vizcaya                   1
Zamora                    1
Zaragoza                  1
Álava                     1
Lugo                      1
León                      1
Las Palmas                1
Cuenca                    1
Almería                   1
Asturias                  1
Badajoz                   1
Baleares                  1
Barcelona                 1
Burgos                    1
Cantabria                 1
Castellón                 1
Ceuta                     1
Ciudad Real               1
Cáceres                   1
La Rioja                  1
Cádiz                     1
Córdoba                   1
Gerona                    1
Granada                   1
Guadalajara               1
Guipúzcoa                 1
Huelva                    1
Huesca                    1
Jaén                      1
La Coruña                 1
Ávila                     1
Name: Provincias, dtype: int64

In [26]:
#renombro las provincias de esta tabla para que tenga coherencia con la del clima y la del INE:
correccion_provincias = {'Albacete': 'ALBACETE',
                         'Alicante': 'ALICANTE',                         
                         'Lérida': 'LLEIDA',
                         'Madrid': 'MADRID',
                         'Melilla': 'MELILLA',
                         'Murcia': 'MURCIA',
                         'Málaga': 'MALAGA',
                         'Navarra':'NAVARRA',
                         'Orense': 'OURENSE',
                         'Palencia': 'PALENCIA',
                         'Pontevedra': 'PONTEVEDRA',
                         'Salamanca':'SALAMANCA',
                         'Santa Cruz de Tenerife': 'STA. CRUZ DE TENERIFE',
                         'Segovia': 'SEGOVIA',
                         'Sevilla': 'SEVILLA',
                         'Soria': 'SORIA',
                         'Tarragona': 'TARRAGONA',
                         'Teruel': 'TERUEL',
                         'Toledo': 'TOLEDO',
                         'Valencia': 'VALENCIA',
                         'Valladolid': 'VALLADOLID',
                         'Vizcaya': 'BIZKAIA',
                         'Zamora': 'ZAMORA',
                         'Zaragoza': 'ZARAGOZA',
                         'Álava': 'ARABA/ALAVA',
                         'Lugo': 'LUGO',
                         'León': 'LEON',
                         'Las Palmas':'LAS PALMAS',
                         'Cuenca':'CUENCA',
                         'Almería':'ALMERIA',
                         'Asturias':'ASTURIAS',
                         'Badajoz': 'BADAJOZ',
                         'Baleares': 'ILLES BALEARS',
                         'Barcelona': 'BARCELONA',
                         'Burgos': 'BURGOS',
                         'Cantabria': 'CANTABRIA',
                         'Castellón': 'CASTELLON',
                         'Ceuta': 'CEUTA',
                         'Ciudad Real': 'CIUDAD REAL',
                         'Cáceres': 'CACERES',
                         'La Rioja': 'LA RIOJA',
                         'Cádiz': 'CADIZ',
                         'Córdoba': 'CORDOBA',
                         'Gerona': 'GIRONA',
                         'Granada': 'GRANADA',
                         'Guadalajara': 'GUADALAJARA',
                         'Guipúzcoa': 'GIPUZKOA',
                         'Huelva': 'HUELVA',
                         'Huesca': 'HUESCA',
                         'Jaén': 'JAEN',
                         'La Coruña': 'A CORUÑA',
                         'Ávila': 'AVILA'}

In [27]:
df['Provincias'] = df['Provincias'].replace(correccion_provincias)
df = df.sort_values(by="Provincias")
df = df.reset_index(drop=True)

In [28]:
indices_a_eliminar = df[df['Provincias'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
df = df.drop(indices_a_eliminar)
df

               Provincias  Población Porcentaje_poblacion
0                A CORUÑA  1 122 032               2.36 %
1                ALBACETE    387 969               0.81 %
2                ALICANTE  1 974 438               4.15 %
3                 ALMERIA    729 201               1.53 %
4             ARABA/ALAVA    331 103                0.7 %
5                ASTURIAS  1 005 397               2.11 %
6                   AVILA    159 317               0.33 %
7                 BADAJOZ    666 971                1.4 %
8               BARCELONA  5 658 399              11.88 %
9                 BIZKAIA  1 135 269               2.38 %
10                 BURGOS    352 331               0.74 %
11                CACERES    385 472               0.81 %
12                  CADIZ  1 260 204               2.65 %
13              CANTABRIA    585 221               1.23 %
14              CASTELLON    582 434               1.22 %
16            CIUDAD REAL    489 755               1.03 %
17                CORDOBA    776 582               1.63 %
18                 CUENCA    198 990               0.42 %
19               GIPUZKOA    714 906                1.5 %
20                 GIRONA    783 420               1.65 %
21                GRANADA    932 248               1.96 %
22            GUADALAJARA    268 860               0.56 %
23                 HUELVA    533 989               1.12 %
24                 HUESCA    222 713               0.47 %
25          ILLES BALEARS  1 232 270               2.59 %
26                   JAEN    620 762                1.3 %
27               LA RIOJA    316 806               0.67 %
28             LAS PALMAS  1 159 313               2.43 %
29                   LEON    451 209               0.95 %
30                 LLEIDA    439 506               0.92 %
31                   LUGO    323 984               0.68 %
32                 MADRID  6 825 005              14.33 %
33                 MALAGA  1 722 388               3.62 %
35                 MURCIA  1 531 140               3.22 %
36                NAVARRA    661 830               1.39 %
37                OURENSE    303 960               0.64 %
38               PALENCIA    157 205               0.33 %
39             PONTEVEDRA    943 473               1.98 %
40              SALAMANCA    326 080               0.68 %
41                SEGOVIA    153 993               0.32 %
42                SEVILLA  1 964 651               4.13 %
43                  SORIA     89 519               0.19 %
44  STA. CRUZ DE TENERIFE  1 102 340               2.32 %
45              TARRAGONA    828 809               1.74 %
46                 TERUEL    133 338               0.28 %
47                 TOLEDO    712 472                1.5 %
48               VALENCIA  2 600 793               5.46 %
49             VALLADOLID    518 950               1.09 %
50                 ZAMORA    167 362               0.35 %
51               ZARAGOZA    959 471               2.02 %

In [30]:
df.to_csv('export/poblacion.csv')

In [33]:
#Exportación a Mongo:

# Conecto a la base de datos Mongo
client = MongoClient('localhost', 27017)

In [34]:
db = client['turismo']
poblacion_data = pd.read_csv('export/poblacion.csv')
poblacion_list = poblacion_data.to_dict(orient='records')
poblacion_collection = db['poblacion']
poblacion_collection.insert_many(poblacion_list)

InsertManyResult([ObjectId('65491169b194587fc653fce1'), ObjectId('65491169b194587fc653fce2'), ObjectId('65491169b194587fc653fce3'), ObjectId('65491169b194587fc653fce4'), ObjectId('65491169b194587fc653fce5'), ObjectId('65491169b194587fc653fce6'), ObjectId('65491169b194587fc653fce7'), ObjectId('65491169b194587fc653fce8'), ObjectId('65491169b194587fc653fce9'), ObjectId('65491169b194587fc653fcea'), ObjectId('65491169b194587fc653fceb'), ObjectId('65491169b194587fc653fcec'), ObjectId('65491169b194587fc653fced'), ObjectId('65491169b194587fc653fcee'), ObjectId('65491169b194587fc653fcef'), ObjectId('65491169b194587fc653fcf0'), ObjectId('65491169b194587fc653fcf1'), ObjectId('65491169b194587fc653fcf2'), ObjectId('65491169b194587fc653fcf3'), ObjectId('65491169b194587fc653fcf4'), ObjectId('65491169b194587fc653fcf5'), ObjectId('65491169b194587fc653fcf6'), ObjectId('65491169b194587fc653fcf7'), ObjectId('65491169b194587fc653fcf8'), ObjectId('65491169b194587fc653fcf9'), ObjectId('65491169b194587fc653fcfa'), ObjectId('65491169b194587fc653fcfb'), ObjectId('65491169b194587fc653fcfc'), ObjectId('65491169b194587fc653fcfd'), ObjectId('65491169b194587fc653fcfe'), ObjectId('65491169b194587fc653fcff'), ObjectId('65491169b194587fc653fd00'), ObjectId('65491169b194587fc653fd01'), ObjectId('65491169b194587fc653fd02'), ObjectId('65491169b194587fc653fd03'), ObjectId('65491169b194587fc653fd04'), ObjectId('65491169b194587fc653fd05'), ObjectId('65491169b194587fc653fd06'), ObjectId('65491169b194587fc653fd07'), ObjectId('65491169b194587fc653fd08'), ObjectId('65491169b194587fc653fd09'), ObjectId('65491169b194587fc653fd0a'), ObjectId('65491169b194587fc653fd0b'), ObjectId('65491169b194587fc653fd0c'), ObjectId('65491169b194587fc653fd0d'), ObjectId('65491169b194587fc653fd0e'), ObjectId('65491169b194587fc653fd0f'), ObjectId('65491169b194587fc653fd10'), ObjectId('65491169b194587fc653fd11'), ObjectId('65491169b194587fc653fd12')], acknowledged=True)