In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By

PATH = 'drive/chromedriver' 
driver = webdriver.Chrome()
driver.get('https://www.google.es')

In [4]:
url= "https://es.wikipedia.org/wiki/Anexo:Provincias_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a"
driver= webdriver.Chrome()
driver.get(url)

In [5]:
tabla= driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table')
tabla

In [6]:
cabecera= tabla.find_element(By.XPATH, 'thead')

In [7]:
len(cabecera.find_elements(By.TAG_NAME, 'th'))

12

In [8]:
cabecera= [e.text.replace('\n', ' ').replace('*', '') for e in cabecera.find_elements(By.TAG_NAME, 'th')]
cabecera

['Puesto',
 'Escudo',
 'Nombre',
 'Población',
 'Porcentaje población',
 'Densidad (hab./km²)',
 'Superficie (km²)2',
 'Porcentaje superficie',
 'Mapa',
 'Capital',
 'Ciudad más poblada',
 'Comunidad autónoma']

In [9]:
cuerpo= tabla.find_element(By.TAG_NAME, 'tbody')
filas= cuerpo.find_elements(By.TAG_NAME, 'tr')
len(filas)

52

In [10]:
filas[0].find_elements(By.TAG_NAME, 'td')[0].text

'1'

In [11]:
matriz=[]
for f in filas:
    tmp=[]
    elemens= f.find_elements(By.TAG_NAME, 'td')
    for e in elemens:
        tmp.append(e.text)
    matriz.append(tmp)

In [12]:
len(matriz[0])

12

In [13]:
#Tranformo todo a DF para ordenarlo y representarlo:
columnas=[i for i in range(12)]

In [14]:
df= pd.DataFrame(matriz, columns=columnas)
df= df[[2,3]]

In [15]:
df

                         2          3
0                   Madrid  6 825 005
1                Barcelona  5 658 399
2                 Valencia  2 600 793
3                 Alicante  1 974 438
4                  Sevilla  1 964 651
5                   Málaga  1 722 388
6                   Murcia  1 531 140
7                    Cádiz  1 260 204
8                 Baleares  1 232 270
9               Las Palmas  1 159 313
10                 Vizcaya  1 135 269
11               La Coruña  1 122 032
12  Santa Cruz de Tenerife  1 102 340
13                Asturias  1 005 397
14                Zaragoza    959 471
15              Pontevedra    943 473
16                 Granada    932 248
17               Tarragona    828 809
18                  Gerona    783 420
19                 Córdoba    776 582
20                 Almería    729 201
21               Guipúzcoa    714 906
22                  Toledo    712 472
23                 Badajoz    666 971
24                 Navarra    661 830
25                    Jaén    620 762
26               Cantabria    585 221
27               Castellón    582 434
28                  Huelva    533 989
29              Valladolid    518 950
30             Ciudad Real    489 755
31                    León    451 209
32                  Lérida    439 506
33                Albacete    387 969
34                 Cáceres    385 472
35                  Burgos    352 331
36                   Álava    331 103
37               Salamanca    326 080
38                    Lugo    323 984
39                La Rioja    316 806
40                  Orense    303 960
41             Guadalajara    268 860
42                  Huesca    222 713
43                  Cuenca    198 990
44                  Zamora    167 362
45                   Ávila    159 317
46                Palencia    157 205
47                 Segovia    153 993
48                  Teruel    133 338
49                   Soria     89 519
50                 Melilla     82 810
51                   Ceuta     82 147

In [16]:
#Renombro las columnas:
df = df.rename(columns={2: "Provincias", 3: "Población"})
df= df.sort_values(by='Provincias')
df= df.reset_index(drop=True)
df

                Provincias  Población
0                 Albacete    387 969
1                 Alicante  1 974 438
2                  Almería    729 201
3                 Asturias  1 005 397
4                  Badajoz    666 971
5                 Baleares  1 232 270
6                Barcelona  5 658 399
7                   Burgos    352 331
8                Cantabria    585 221
9                Castellón    582 434
10                   Ceuta     82 147
11             Ciudad Real    489 755
12                  Cuenca    198 990
13                 Cáceres    385 472
14                   Cádiz  1 260 204
15                 Córdoba    776 582
16                  Gerona    783 420
17                 Granada    932 248
18             Guadalajara    268 860
19               Guipúzcoa    714 906
20                  Huelva    533 989
21                  Huesca    222 713
22                    Jaén    620 762
23               La Coruña  1 122 032
24                La Rioja    316 806
25              Las Palmas  1 159 313
26                    León    451 209
27                    Lugo    323 984
28                  Lérida    439 506
29                  Madrid  6 825 005
30                 Melilla     82 810
31                  Murcia  1 531 140
32                  Málaga  1 722 388
33                 Navarra    661 830
34                  Orense    303 960
35                Palencia    157 205
36              Pontevedra    943 473
37               Salamanca    326 080
38  Santa Cruz de Tenerife  1 102 340
39                 Segovia    153 993
40                 Sevilla  1 964 651
41                   Soria     89 519
42               Tarragona    828 809
43                  Teruel    133 338
44                  Toledo    712 472
45                Valencia  2 600 793
46              Valladolid    518 950
47                 Vizcaya  1 135 269
48                  Zamora    167 362
49                Zaragoza    959 471
50                   Álava    331 103
51                   Ávila    159 317

In [17]:
df['Provincias'].value_counts()

Albacete                  1
Alicante                  1
Lérida                    1
Madrid                    1
Melilla                   1
Murcia                    1
Málaga                    1
Navarra                   1
Orense                    1
Palencia                  1
Pontevedra                1
Salamanca                 1
Santa Cruz de Tenerife    1
Segovia                   1
Sevilla                   1
Soria                     1
Tarragona                 1
Teruel                    1
Toledo                    1
Valencia                  1
Valladolid                1
Vizcaya                   1
Zamora                    1
Zaragoza                  1
Álava                     1
Lugo                      1
León                      1
Las Palmas                1
Cuenca                    1
Almería                   1
Asturias                  1
Badajoz                   1
Baleares                  1
Barcelona                 1
Burgos                    1
Cantabria                 1
Castellón                 1
Ceuta                     1
Ciudad Real               1
Cáceres                   1
La Rioja                  1
Cádiz                     1
Córdoba                   1
Gerona                    1
Granada                   1
Guadalajara               1
Guipúzcoa                 1
Huelva                    1
Huesca                    1
Jaén                      1
La Coruña                 1
Ávila                     1
Name: Provincias, dtype: int64

In [18]:
#renombro las provincias de esta tabla para que tenga coherencia con la del clima y la del INE:
correccion_provincias = {'Albacete': 'ALBACETE',
                         'Alicante': 'ALICANTE',                         
                         'Lérida': 'LLEIDA',
                         'Madrid': 'MADRID',
                         'Melilla': 'MELILLA',
                         'Murcia': 'MURCIA',
                         'Málaga': 'MALAGA',
                         'Navarra':'NAVARRA',
                         'Orense': 'OURENSE',
                         'Palencia': 'PALENCIA',
                         'Pontevedra': 'PONTEVEDRA',
                         'Salamanca':'SALAMANCA',
                         'Santa Cruz de Tenerife': 'STA. CRUZ DE TENERIFE',
                         'Segovia': 'SEGOVIA',
                         'Sevilla': 'SEVILLA',
                         'Soria': 'SORIA',
                         'Tarragona': 'TARRAGONA',
                         'Teruel': 'TERUEL',
                         'Toledo': 'TOLEDO',
                         'Valencia': 'VALENCIA',
                         'Valladolid': 'VALLADOLID',
                         'Vizcaya': 'BIZKAIA',
                         'Zamora': 'ZAMORA',
                         'Zaragoza': 'ZARAGOZA',
                         'Álava': 'ARABA/ALAVA',
                         'Lugo': 'LUGO',
                         'León': 'LEON',
                         'Las Palmas':'LAS PALMAS',
                         'Cuenca':'CUENCA',
                         'Almería':'ALMERIA',
                         'Asturias':'ASTURIAS',
                         'Badajoz': 'BADAJOZ',
                         'Baleares': 'ILLES BALEARS',
                         'Barcelona': 'BARCELONA',
                         'Burgos': 'BURGOS',
                         'Cantabria': 'CANTABRIA',
                         'Castellón': 'CASTELLON',
                         'Ceuta': 'CEUTA',
                         'Ciudad Real': 'CIUDAD REAL',
                         'Cáceres': 'CACERES',
                         'La Rioja': 'LA RIOJA',
                         'Cádiz': 'CADIZ',
                         'Córdoba': 'CORDOBA',
                         'Gerona': 'GIRONA',
                         'Granada': 'GRANADA',
                         'Guadalajara': 'GUADALAJARA',
                         'Guipúzcoa': 'GIPUZKOA',
                         'Huelva': 'HUELVA',
                         'Huesca': 'HUESCA',
                         'Jaén': 'JAEN',
                         'La Coruña': 'A CORUÑA',
                         'Ávila': 'AVILA'}

In [26]:
df['Provincias'] = df['Provincias'].replace(correccion_provincias)
df = df.sort_values(by="Provincias")
df = df.reset_index(drop=True)

In [27]:
indices_a_eliminar = df[df['Provincias'].isin(['CEUTA', 'MELILLA'])].index

# Eliminar las filas correspondientes a los índices encontrados
df = df.drop(indices_a_eliminar)
df

               Provincias  Población
0                A CORUÑA  1 122 032
1                ALBACETE    387 969
2                ALICANTE  1 974 438
3                 ALMERIA    729 201
4             ARABA/ALAVA    331 103
5                ASTURIAS  1 005 397
6                   AVILA    159 317
7                 BADAJOZ    666 971
8               BARCELONA  5 658 399
9                 BIZKAIA  1 135 269
10                 BURGOS    352 331
11                CACERES    385 472
12                  CADIZ  1 260 204
13              CANTABRIA    585 221
14              CASTELLON    582 434
15            CIUDAD REAL    489 755
16                CORDOBA    776 582
17                 CUENCA    198 990
18               GIPUZKOA    714 906
19                 GIRONA    783 420
20                GRANADA    932 248
21            GUADALAJARA    268 860
22                 HUELVA    533 989
23                 HUESCA    222 713
24          ILLES BALEARS  1 232 270
25                   JAEN    620 762
26               LA RIOJA    316 806
27             LAS PALMAS  1 159 313
28                   LEON    451 209
29                 LERIDA    439 506
30                   LUGO    323 984
31                 MADRID  6 825 005
32                 MALAGA  1 722 388
33                 MURCIA  1 531 140
34                NAVARRA    661 830
35                OURENSE    303 960
36               PALENCIA    157 205
37             PONTEVEDRA    943 473
38              SALAMANCA    326 080
39                SEGOVIA    153 993
40                SEVILLA  1 964 651
41                  SORIA     89 519
42  STA. CRUZ DE TENERIFE  1 102 340
43              TARRAGONA    828 809
44                 TERUEL    133 338
45                 TOLEDO    712 472
46               VALENCIA  2 600 793
47             VALLADOLID    518 950
48                 ZAMORA    167 362
49               ZARAGOZA    959 471